
.section:first-of-type {
  .section__inner{
    // padding-top: 0;
  }
}
.section:last-of-type {
  .section__inner{
    padding-bottom: 20rem;
  }
}

.section{

  @include f-common;
  @include text-link;
  background-color: var(--col-background);
  color: var(--col-font);

  &__inner{
    width: 100%;
    display: grid;
    justify-self: center;
    @include limit-width;
    padding-left: $mobile-lr-padding;
    padding-right: $mobile-lr-padding;
    padding-top: calc(0.95 * #{$inter-section-spacing});
    padding-bottom: calc(0.95 * #{$inter-section-spacing});
  }
  
  &__icon{
    justify-self: center;
  }
  
  &__title{
    width: 100%;
    text-align: center;
    @include medium-lr-padding;
    font-size: $fs-h2;
    color: var(--col-title);
    font-family: 'Martel', serif;
    font-weight: 700;
    
    &--emphasis{
      font-weight: 600;
      display: block;
    }
  }
  
  &__intro{
    // text-align: center;
    // @include medium-lr-padding;
    padding-bottom: $intra-section-spacing;
    font-size: $fs-section-intro;
    line-height: 1.4;
    font-weight: 300;
    color: var(--font-col);
  }
  
  &__button{
    margin: 3rem auto 0 auto;
  }
  
  &__blocks{
    padding-top: calc(2*#{$intra-section-spacing});
    display: grid;
    grid-gap: calc(4*#{$intra-section-spacing});
    grid-auto-rows: min-content;
  }

}

.section--bold{
  
  --col-title: #{$cn-neutral-lighter};
  --col-font: #{$c-background};
  --col-background: #{$c-secondary};
  a:not(.button) {
    color: col($c-primary, 5);
    text-decoration: none;
    font-weight: 500;
  }
  a:not(.button):visited{
    color: col($c-primary, 5);
    font-weight: 700;
  }
  a:not(.button):hover{
    color: col($c-primary, 4);
  }
  a:not(.button):active{
    color: col($c-primary, 4);
  }
  
  
  .section__title{
    font-weight: 800;
  }
  
  .section__intro{
    font-weight: 400;
  }
  
}

$primary-light: col($c-primary, 4);
$secondary-light: col($c-secondary, 1);
$secondary-medium: col($c-secondary, 2);
$tertiary-light: col($c-tertiary, 2);
$quaternary-light: col($c-quaternary, 3);

.section--subtle-emphasis{

  --col-background: #{$c-background-emphasis};
}

.section--primary-light{

  background-color: $primary-light;
  --col-background: #{$primary-light};
}

.section--secondary-medium{

  background-color: $secondary-medium;
  --col-background: #{$secondary-medium};
}

.section--secondary-light{

  background-color: $secondary-light;
  --col-background: #{$secondary-light};
}

.section--tertiary-light{

  background-color: $tertiary-light;
  --col-background: #{$tertiary-light};
}

.section--quaternary-light{
  background-color: $quaternary-light;
  --col-background: #{$quaternary-light};
}
