.section:first-of-type {
  .section__inner {
    padding-top: 3rem;
  }
}

.section:last-of-type {
  .section__inner {
    padding-bottom: 20rem; // for the footer
  }
}

.section {
  @include f-common;
  position : relative;
  z-index  : 0;
  max-width: 100vw;

  &__inner {
    width       : 100%;
    display     : grid;
    justify-self: center;
    @include limit-width;
    padding     : 6rem $mobile-lr-padding;
    position    : relative;
  }

  &__icon {
    justify-self: center;
  }

  &__title {
    width      : 100%;
    margin     : 2rem auto .9rem;
    text-align : center;
    font-size  : 3rem;
    line-height: 1.5;
    font-family: 'Martel', serif;
    font-weight: 700;
    color      : col($c-neutral, 7);
    @include desktop {
      font-size: 2.35rem;
    }

    &--emphasis {
      font-weight: 800;
      display    : block;
    }
  }

  &__intro {
    margin       : 0 auto 1rem;
    font-size    : 1.55rem;
    line-height  : 1.5;
    font-weight  : 400;
    margin-bottom: 2rem;
    max-width    : 880px;
  }

  &__button {
    margin: 3rem auto 0;
  }

  &__blocks {
    padding-top   : 1rem;
    display       : grid;
    grid-gap      : 2rem;
    grid-auto-rows: min-content;
  }
}

.section--bold {
  background-color: col($c-secondary, 5);
  color           : col($c-neutral, 1);
  text-shadow     : .01em .01em 1.3em rgba(col($c-secondary, 7), 0.3);

  a:not(.button) {
    color          : col($c-primary, 5);
    text-decoration: none;
    font-weight    : 500;
  }

  a:not(.button):visited {
    color      : col($c-primary, 5);
    font-weight: 700;
  }

  a:not(.button):hover {
    color: col($c-primary, 4);
  }

  a:not(.button):active {
    color: col($c-primary, 4);
  }

  .section__inner {
    padding-top: 6.5rem;
  }

  .section__title {
    font-weight: 800;
    color      : white;
    font-weight: 800;
  }

  .section__intro {
    font-weight: 400;
  }
}
// general style

.section--svg-background {
  .section__svg-background {
    position       : absolute;
    top            : 0;
    left           : 0;
    width          : 100%;
    height         : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    overflow       : hidden;

    svg {
      height     : 100%;
      width      : auto;
      flex-shrink: 0;
      @include desktop {
        height: 100%;
        width : 100%;
      }
    }
  }
}

.section--wave {
  @extend .section--svg-background;
  font-weight: 500;

  .section__title {
    font-weight: 800;
  }

  .section__svg-background {
    @include desktop {
      overflow: visible;
    }

    svg {
      height: 125%;
      @include desktop {
        height    : 100%;
        width     : 100%;
        max-width : 100%;
        min-height: 700px;
      }
    }
  }
}

.section--data-wave {
  @extend .section--svg-background;
  color: col($c-neutral, 1);

  .section__svg-background {
    svg {
      // the "data-wave" background is actually two layered SVGs,
      // such that the background gradient can have preserveAspectRatio = none
      // and the shape elements above can keep their aspect ratio
      position: absolute;
      top     : 0;
      left    : 0;
    }
  }

  .section__title {
    color         : mix(col($c-neutral, 4), col($c-secondary,5), 60%);
    font-weight   : 900;
    letter-spacing: .01em;
    text-shadow   : .01em .01em 1.3em rgba(col($c-secondary, 9), 1);
  }

  .section__intro {
    text-shadow: .01em .01em 1.3em rgba(col($c-secondary, 8), 0.5);
  }
}

.section--card {
  background-color: col($c-secondary, 1);
  padding-top     : 2rem;
  padding-bottom  : 2rem;

  .section__inner {
    @include card;
    @include limit-width;
    margin        : 5rem $mobile-lr-padding;
    padding-bottom: 2rem;
    @include desktop {
      margin : 6rem auto;
      padding: 5rem 3.5rem;
      width  : 95%;
    }
  }
}

.section--secondary-light {
  background-color: col($c-secondary, 2);
}
// TODO: this is how we should name background classes. 

.section--bkg-secondary {
  background-color: col($c-secondary, 6);
}

.section--bkg-tertiary-dark {
  background-color: col($c-tertiary, 7);
  background-image: linear-gradient(to top, col($c-tertiary, 8) 0%, col($c-tertiary, 8) 1%, col($c-tertiary, 7) 100%);
}

.section--bkg-neutral-light {
  background-image: linear-gradient(to top, col($c-neutral, 2), col($c-neutral, 1) 100%);
}

.section--bkg-map {
  --col-title     : #{col($c-neutral, 3);};
  --col-font      : #{col($c-neutral, 1)};
  stroke          : white;
  position        : relative;
  @include bkg-img;
  background-color: col($c-neutral, 8); // fallback
  background-image: linear-gradient(rgba(col($c-secondary, 7), 0.88), rgba(col($c-tertiary, 9), 0.8)), url("/images/santa_barbara__NASA.jpg");
}
// split section
$left-proportion: .5;
$left-width: $content-width * $left-proportion;
$right-width: $content-width * (1 - $left-proportion);
$diff: abs($right-width - $left-width)/2;
$innerPadding: 2.5rem;
$outerPadding: 1rem;
$paddingTopBottom: 5rem;
$paddingBottom: 20rem; // for footer;

.section--split {
  display: grid;

  .section__half1,
  .section__half2 {
    width   : 100%;
    height  : 100%;
    overflow: hidden;
  }

  .section__half2 {
    padding-bottom: $paddingBottom;
  }

  .section__half1 {
    padding-bottom: $paddingTopBottom;
  }

  .section__half1-inner,
  .section__half2-inner {
    @include medium-lr-padding;
    width      : 100%;
    height     : 100%;
    display    : flex;
    align-items: center;
    padding-top: $paddingTopBottom;
  }
  @include desktop {
    grid-template-columns: 1fr 1fr;
    position             : relative;

    .section__half1 {
      padding-bottom: $paddingBottom;
    }

    .section__half1-inner,
    .section__half2-inner {
      padding-left : 0;
      padding-right: 0;
    }

    .section__half2-inner {
      float        : left;
      max-width    : $right-width;
      padding-left : $innerPadding;
      padding-right: $outerPadding;
    }

    .section__half1-inner {
      float        : right;
      max-width    : $left-width;
      padding-right: $innerPadding;
      padding-left : $outerPadding;
    }
  }
}
// Styles for pages with themes

.theme-quaternary {
  .section {
    &__title {
      strong {
        background   : col($c-quaternary, 2);
        border-radius: 4px;
        color        : col($c-quaternary, 5);
        padding      : 0 .3em;
      }
    }

    &__icon {
      display         : flex;
      stroke          : col($c-quaternary, 5);
      padding         : 1.5rem;
      border-radius   : 50%;
      background-color: col($c-quaternary, 2);
    }
  }
  // .section--bold {
  //   background-color: col($c-quaternary, 5);
  //   color           : col($c-quaternary, 1);
  // }
}