<!-- in order to pass on page parameters from within loops -->
{{- $page := .Page -}}
<!-- bn = block name -->
{{- $bn := "card" -}}
<!-- classes to add to the outer-most element -->
{{- $classes := $bn -}}

<!-- Is the entire card clickable? -->
{{- $isClickable := and (or (eq .Block.clickable true) (eq .Block.clickable "true")) .Block.href -}}

{{- if $isClickable -}}
  {{- $classes = print $classes " " $bn "--clickable" -}}
{{- end -}}

<!-- Make a variable that indicates whether there's an image -->
{{- $hasImage := false -}}
{{- with .Block.image -}}
  {{- if and (partial "functions/hasValues" .) (ne .src "") (ne .src " ") -}}
    {{- $hasImage = true -}}
  {{- end -}}
{{- end -}}

<!-- Make a variable that indicates whether there's a class name that corresponds to color CSS -->
{{- with .Block.colorClass -}}
  {{- if ne "default" . -}}
    {{- $classes = printf "%s %s--bkg-%s" $classes $bn . -}}
  {{- end -}}
{{- end -}}

{{- $icon := "" -}}
{{- $hasIcon := false -}}
{{- if eq (printf "%T" .Block.icon) "string" -}}
  {{- if .Block.icon }}
    {{- $iconBlock := dict "icon" .Block.icon "size" "large" "color" "inherit" -}}
    {{- $icon = partial "blocks/icon/icon" (dict "Block" $iconBlock "Page" $page ) -}}
    {{- $hasIcon = true -}}
  {{- end }}
{{- end -}}

<!-- Make a variable that indicates whether there's a button -->
{{- $hasButton := false -}}
{{- with .Block.button -}}
  {{- if and (partial "functions/hasValues" .) (ne .text "") (ne .text " ") -}}
    {{- $hasButton = true -}}
  {{- end -}}
{{- end -}}

<!-- modifier class for cards with images -->
{{- if $hasImage -}}
  {{- $classes = print $classes " " $bn "--image-header" -}}
{{- end -}}

<!-- modifer class for cards with icons -->
{{- if $hasIcon -}}
  {{- $classes = print $classes " " $bn "--has-icon" -}}
{{- end -}}

{{- if $isClickable -}}
  <a class="{{- $classes -}} " href="{{- .Block.href -}}">
{{- else -}}
  <div class="{{- $classes -}} ">
{{- end -}}
  <!-- Image (optional) -->
  {{- if $hasImage -}}
    <div class="{{- $bn -}}__image">
      {{- $imageType := (dict "type" "cover") -}}
      {{- $imageParams :=  merge .Block.image $imageType -}}
      {{- partial "blocks/image/image" (dict "Block" $imageParams "Page" $page ) -}}
    </div>
    <div class="{{- $bn -}}__image-gradient">
  {{- end -}}
  
  {{- if and $hasIcon $icon -}}
  <span class = "{{- $bn -}}__icon">
    {{- $icon -}}
  </span>
  {{- end -}}

    <div class="{{- $bn -}}__pill">
      {{- with .Block.pill -}}
        {{- partial "blocks/pill/pill" (dict "Block" . "Page" $page ) -}}
      {{- end -}}
    </div>

    <div class="{{- $bn -}}__titles">
      {{- with .Block.title -}}
        <h3 class="{{- $bn -}}__title">{{- . -}}</h3>
      {{- end -}}
      {{- with .Block.subtitle -}}
        <h4 class="{{- $bn -}}__subtitle">{{- . -}}</h3>
      {{- end -}}
    </div>
    <!-- close the __image-gradient div -->
    {{- if $hasImage -}}
    </div>
  {{- end -}}

  {{- with .Block.datetime -}}
    {{- if and (partial "functions/hasValues" .) (ne .time "") (ne .time " ") -}}
      <div class="{{- $bn -}}__date">
        {{- partial "blocks/datetime/datetime" (dict "Block" . "Page" $page ) -}}
      </div>
    {{- end -}}
  {{- end -}}

  {{- with .Block.description -}}
    {{- $content := . -}}
    {{- $descClass := printf "%s__description" $bn -}}
    {{- if not $isClickable -}}
      {{- $content = $content | markdownify -}}
      {{- $descClass = print $descClass " markdown" -}}
    {{- end -}}
    <div class="{{- $descClass -}}">{{- $content -}}</div>
  {{- end -}}

  {{- with .Block.tags -}}
    <div class="{{- $bn -}}__tags">
      {{- range . -}}
        {{- partial "blocks/pill/pill" (dict "Block" (dict "text" . "style" "subtle") "Page" $page ) -}}
      {{- end -}}
    </div>
  {{- end -}}

  <!-- Button (optional). Don't show if entire block is clickable -->
  {{- if and $hasButton (not $isClickable) -}}
    <div class="{{- $bn -}}__button">
      {{- partial "blocks/button/button" (dict "Block" .Block.button "Page" $page) -}}
    </div>
  {{- end -}}
  
{{- if $isClickable -}}
</a>
{{- else -}}
</div>
{{- end -}}
