.card {
  text-decoration: none;
  display        : block;
  position       : relative;
  @include card;
  color          : col($c-neutral, 7);
  height         : 100%;
  width          : 100%;

  .pill {
    margin-top: 2rem;
  }

  &__date {
    background   : $c-secondary;
    display      : inline-block;
    color        : white;
    padding      : 10px;
    position     : absolute;
    top          : 0;
    right        : 0;
    z-index      : 4;
    border-radius: 3px;
  }

  &__title {
    margin-top   : 40px;
    margin-bottom: 10px;
    font-size    : 1.4rem;
    font-weight  : 600;
  }

  &__subtitle {
    margin        : 0 0 1.5rem;
    font-weight   : 400;
    color         : col($c-secondary, 5);
    font-size     : 1.15rem;
    letter-spacing: .01em;
    font-weight   : 500;
  }

  &__description {
    margin     : 0 0 20px;
    padding    : 0;
    line-height: 1.4;
    font-size  : 1.05rem;
  }

  &__button {
    margin-bottom: 20px;
    margin-top   : 10px;
    overflow     : hidden;
    display      : block;
    max-width    : 100%;
  }
}

.card--image-header {
  .card__image {
    height       : 200px;
    position     : absolute;
    margin-bottom: 20px;
    top          : 0;
    left         : 0;
    z-index      : 0;

    .figure__image {
      border-radius: 4px;
    }
  }

  .card__image-gradient {
    background     : linear-gradient(rgba(0,0,0,0),rgba(51, 51, 58, 0.8));
    background-size: cover;
    position       : absolute;
    margin-bottom  : 20px;
    top            : 0;
    left           : 0;
    z-index        : 1;
    height         : 200px;
    width          : 100%;
  }

  .card__pill {
    margin-left: 20px;
  }

  .card__subtitle,
  .card__title {
    color: white;
  }

  .card__titles {
    position     : absolute;
    bottom       : 5px;
    left         : 20px;
    z-index      : 2;
    padding-right: 20px;
  }

  .card__description {
    margin-top: 210px;
  }
}

.card--clickable {
  cursor: pointer;
  // TODO: re-think .section styles to avoid important tag below
  // important tag is to overwrite the .section link colours (e.g. .section a:not(.button):visited )
  // these selectors are used because markdown is rendered in sections without class names.
  &:not(.button) {
    color: col($c-neutral, 7) !important;
  }

  &:hover {
    transform : translateY(-0.8px);
    box-shadow: 5px 6px 27px -14px rgba(0, 0, 0, 0.5);
  }
}