{{ $p := .Params.prefix }}
.card {
  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn            : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix        : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // #{$prefix}- : var( , );

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  text-decoration: none;
  display        : block;
  position       : relative;
  @include card;
  color          : var(--section-fc-body, black);
  height         : 100%;
  width          : 100%;

  &__pill {
    margin-top: 2rem;
  }

  &__date {
    background   : var(--section-c-icon-background, lightgrey);
    color        : var(--section-c-icon-foreground, black);
    display      : inline-block;
    padding      : 10px;
    position     : absolute;
    top          : 0;
    right        : 0;
    z-index      : 4;
    border-radius: var(--br-default, .25rem);

    .datetime__displaydate {
      font-weight: var(--fw-bold);
    }
  }

  &__title {
    margin-top   : 40px;
    margin-bottom: 10px;
    font-size    : var(--fs-larger, 1.48rem);
    font-weight  : var(--fw-bolder, 500);
  }

  &__subtitle {
    margin        : 0 0 1.5rem;
    font-weight   : var(--fw-normal, 400);
    color         : var(--section-c-accent, black);
    font-size     : var(--fs-medium, 1.1rem);
    letter-spacing: .01em;
    font-weight   : var(--fw-bold, 500);
  }

  &__description {
    margin     : 0 0 20px;
    padding    : 0;
    line-height: 1.4;
    font-size  : var(--fs-medium, 1.1rem);
  }

  &__button {
    margin-bottom: 20px;
    margin-top   : 10px;
    overflow     : hidden;
    display      : block;
    max-width    : 100%;
  }

  &__tags {
    margin-top: .3rem;
  }

}

.card--image-header {

  $imageHeight: 11rem;

  .card__image {
    height       : $imageHeight;
    position     : absolute;
    margin-bottom: 20px;
    top          : 0;
    left         : 0;
    z-index      : 0;
    width        : 100%;

    .figure__image {
      border-radius: var(--br-default, 0.25rem);
    }
  }

  .card__image-gradient {
    background     : linear-gradient(var(--c-shadow-1-on-default) 0%, var(--c-shadow-4-on-default) 50%, rgba(0,0,0,0.6));
    background-size: cover;
    position       : absolute;
    margin-bottom  : 20px;
    top            : 0;
    left           : 0;
    z-index        : 1;
    height         : $imageHeight;
    width          : 100%;
  }

  .card__pill {
    margin-left: 20px;
  }

  .card__subtitle,
  .card__title {
    color      : white;
    text-shadow: 0 0 3.7em var(--c-neutral-7), 0 0 .25em var(--c-neutral-6);
  }

  .card__titles {
    position     : absolute;
    bottom       : 5px;
    left         : 20px;
    z-index      : 2;
    padding-right: 20px;
  }

  .card__description {
    margin-top: $imageHeight + 0.6rem;
  }
}

.card--clickable {
  cursor: pointer;
  // TODO: re-think .section styles to avoid important tag below
  // important tag is to overwrite the .section link colours (e.g. .section a:not(.button):visited )
  // these selectors are used because markdown is rendered in sections without class names.
  &:not(.{{ $p }}button) {
    color: var(--section-fc-title, black) !important;
  }

  &:hover {
    transform : translateY(-0.8px);
    box-shadow: 5px 6px 27px -14px rgba(0, 0, 0, 0.5);
  }
}
