<!-- in order to pass on page parameters from within loops -->
{{- $page := .Page -}}
<!-- bn = block name -->
{{- $bn := "accordion" -}}
<!-- classes: classes for the outer element of the accordion -->
{{- $classes := $bn -}}
<!-- heading: the part of the accordion that's always shown -->
{{- $heading := "" -}}
{{- with .Block.heading -}}
  {{ $headingInput := . }}
  <!-- if the heading is a block, render the block -->
  <!-- if it's in a slice, then unslice it first -->
  {{- if reflect.IsSlice $headingInput -}}
    {{- $headingInput = index $headingInput 0 -}}
  {{- end -}}
  {{- if reflect.IsMap $headingInput -}}
    {{- if $headingInput.template -}}
      {{- $heading = partial (printf "blocks/%s/%s.html" $headingInput.template $headingInput.template) (dict "Block" $headingInput "Page" $page) -}}
    {{- end -}}
    <!-- otherwise treat it as a string (e.g. for the people type: accordion block ) -->
  {{- else -}}
    {{- $heading = $headingInput -}}
  {{- end -}}
{{- end -}}

<!-- content: the part of the accordion that can be hidden or shown -->
{{- $content := "" -}}
{{- with .Block.content -}}
  {{ $contentInput := . }}
  <!-- if the content is a block, render the block -->
  <!-- if it's in a slice, then unslice it first -->
  {{- if reflect.IsSlice $contentInput -}}
    {{- $contentInput = index $contentInput 0 -}}
  {{- end -}}
  {{- if reflect.IsMap $contentInput -}}
    {{- if $contentInput.template -}}
      {{- $content = partial (printf "blocks/%s/%s.html" $contentInput.template $contentInput.template) (dict "Block" $contentInput "Page" $page) -}}
    {{- end -}}
    <!-- otherwise treat it as a string (e.g. for the people type: accordion block ) -->
  {{- else -}}
    {{- $content = $contentInput -}}
  {{- end -}}
{{- end -}}

<div data-aria-accordion="true" class="{{- $classes -}}">
  <div data-aria-accordion-heading="true">
    {{- $heading -}}
  </div>
  <div data-aria-accordion-panel="true">
    {{- $content -}}
  </div>
  <!-- TODO: if needed, the pattern above could be repeated for to add multiple accordion panels -->
</div>
