/* make HTML5 semantic elements behave like <div> elements in legacy browsers. */
section, article, aside, footer, header, nav {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-y: auto;
}

.global-footer, .global-header {
  background-color: #ececeb;
  padding: 1rem;
  margin: 0;
}
