.carousel {

  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn         : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix     : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // #{$prefix}- : var( , );

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  // height and width of the next/prev buttons
  $button-size: 3rem;
  position    : relative;
  min-width   : 0; // required to keep inline content from expanding past parent width
  // to keep buttons from expanding past parent width
  max-width   : calc(100% - #{$button-size} + (2*#{$lr-padding}));
  margin      : 0 auto;
  // contains each of the content divs (i.e. each slide)
  &__container {
    overflow   : hidden;
    white-space: nowrap; // make content blocks side by side for slide effect
    @include card;
    position   : relative;
    padding    : 0;
  }
  // aka slides, contains the header and main content divs
  &__content {
    display         : inline-block; // make content blocks side by side for slide effect
    vertical-align  : middle;
    width           : 100%;
    height          : 100%;
    white-space     : normal;
    margin          : 0;
    padding         : 0;
    background-color: var(--section-c-background-lighter, white);
  }
  // ==== SLIDE HEADER ==== //
  &__headers {
    display              : grid;
    grid-template-columns: 1fr;
  }

  &__header {
    // stack headers on-top of eachother by giving them the same grid position
    grid-row-start       : 1;
    grid-column-start    : 1;
    // positioning of contents
    display              : grid;
    grid-gap             : 1rem 0;
    align-items          : center;
    align-content        : center;
    padding              : 1.5rem 2rem;
    white-space          : normal;
    grid-template-columns: 1fr;
    grid-auto-rows       : minmax(0, auto);
    // default background color
    background-color     : var(--section-c-accent, grey);
    color                : white;
    @include desktop {

      grid-template-columns: auto min-content;
      grid-template-rows   : min-content min-content;
      grid-template-areas  : "title title" "subtitle button";
      grid-gap             : 0 2rem;
    }

    // transition for the background
    transition           : opacity .5s ease 0s;
    z-index              : 1;

    // delay fading in of header contents (title, subtitle, button)
    > * {
      transition: opacity .2s ease .2s;
      opacity   : 1;
    }

    // Header when hidden
    &[aria-hidden=true] {
      opacity: 0;
      z-index: 0;
      // header contents (title, subtitle, button)
      > * {
        transition: opacity .2s ease 0s;
        opacity   : 0;
      }
    }
  }

  &__title {
    font-weight: var(--fw-bold, 500);
    margin     : 0;
    white-space: normal;
    align-self : end;
    font-size  : var(--fs-larger, 1.48rem);
    @include desktop {
      font-size: var(--fs-x-large, 1.75rem);
      grid-area: title;
    }
  }

  &__subtitle {

    font-size  : var(--fs-medium, 1.1rem);
    line-height: 1.4;
    font-weight: var(--fw-light, 300);
    margin     : 0;
    white-space: normal;
    height     : 100%;
    @include desktop {
      padding-top: 1rem;
      grid-area  : subtitle;
      font-size  : var(--fs-medium, 1.1rem);
    }
  }

  &__header-button {
    @include desktop {
      grid-area: button;
    }

  }
  // ==== MAIN SLIDE CONTENT ==== //
  &__main {
    width           : 100%;
    height          : 100%;
    opacity         : 1;
    transition      : opacity .2s ease, transform .4s ease-in;
    transition-delay: 0;
    padding         : 2rem 3rem 1.5rem;
  }
  // main slide content when hidden
  &__content[aria-hidden="true"] #{$bn}__main {
    opacity   : 0;
    transition: opacity 1s ease;
    visibility: hidden; // so that children are not focusable
  }
  // slide effect (for up to 50 slides)
  @for $i from 1 through 50 {
    $n       : $i - 1;
    $position: (-100% * $n);

    [data-carousel-active-slide='#{$i}'] #{$bn}__main {
      transform: translateX($position);
    }
  }
  //
  /* ------------------ Controls & Buttons ------------------ */
  //
  &__controls {
    position       : absolute;
    list-style-type: none;
    top            : 100%;
    right          : 0;
    left           : 0;
    margin-top     : 2rem;
    padding-left   : 0;
    text-align     : center;
    white-space    : nowrap;
  }

  &__control-item {
    display: inline-block;
    margin : 0 .5em;
  }

  &__control-link {
    display      : inline-block;
    width        : 1em;
    height       : 1em;
    background   : transparent;
    border       : 2px solid var(--section-c-icon-background, grey);
    border-radius: 1em;
    cursor       : pointer;

    &[aria-selected=true] {
      background: var(--section-fc-body, gray);
      border    : 2px solid var(--section-fc-body, gray);
    }

    &:focus {
      outline      : none;
      border-bottom: 1.5px solid var(--section-c-accent, grey);
    }
  }

  &__button {
    @include button-reset;
    @include circle-link;
    position        : absolute;
    z-index         : 1;
    top             : calc(50% - #{0.5 * $button-size});
    padding         : 0;
    height          : $button-size;
    width           : $button-size;
    background-color: var(--section-c-background-lighter, white);
    stroke          : var(--section-fc-body, gray);
    box-shadow      : 0 5px 10px rgba(30,50,93,.02), 0 1px 3px rgba(17,32,39,.15);
    transition      : all .2s ease;

    &:focus {}

    &:hover {
      filter: brightness(1.1);
      box-shadow: 0 3px 5px var(--section-c-shadow-1, rgba(0,0,0,.07)), 0 1px 3px var(--section-c-shadow-1, rgba(0,0,0,.07));
    }

    &--next {
      right: -.5 * $button-size;
    }

    &--prev {
      left: -.5 * $button-size;
    }
  }

  // ==========================================================================
  // Modifiers
  // ==========================================================================

  //
  // Has Logos: Carousel blocks that use logos as the control buttons
  // =========================================================================

  &--has-logos {
    #{$bn}__control-link {
      width : auto;
      height: auto;
      border: none;

      &[aria-selected=true] {
        background: transparent;
        border    : none;
      }
    }

    #{$bn}__control-item {
      margin: 0 .4em;
    }

    #{$bn}__controls {
      position     : relative;
      margin-top   : 0;
      margin-bottom: 1.5rem;
      top          : auto;
      left         : auto;
    }

    #{$bn}__logo svg {
      width         : 5rem;
      height        : 100%;
      max-height    : 3.5rem;
      vertical-align: middle;
    }

    #{$bn}__control-link #{$bn}__logo {
      fill: var(--section-c-foreground-very-subtle, lightgrey);
    }

    #{$bn}__control-link:hover #{$bn}__logo,
    #{$bn}__control-link[aria-selected=true] #{$bn}__logo {
      fill: var(--section-fc-title, black);
    }

    #{$bn}__control-link:focus #{$bn}__logo {}
  }

  //
  //  Controls Bottom: Place the control buttons below the carousel content
  // instead of above (default)
  // ==========================================================================

  &--controls-bottom {
    margin-bottom: 3rem;

    #{$bn}__controls {
      position     : absolute;
      top          : 100%;
      right        : 0;
      left         : 0;
      margin-top   : 1rem;
      margin-bottom: 1rem;
      padding-left : 0;
      text-align   : center;
    }
  }

}
