<!-- in order to pass on page parameters from within loops  -->
{{ $page := .Page }} 

<!-- whether or not to show photos for each person -->
{{ $show_avatars := .Block.show_avatars }}

<!-- don't show organization for team members -->
{{ $show_organization := not .Block.team_members }}

<!-- if false, then use short bio -->
{{ $show_longbio :=.Block.show_longbio }}

<!-- Use the people list in the people parameter -->
<!-- Unless team_members option is set to true, then use every person whose organization matches DataONE -->
{{ $people := slice }}
{{ if .Block.team_members }}
  {{ $teamPages := where ($page.Site.GetPage "/people").Resources "Params.organization" "DataONE" }}
  {{ range $teamPages }}
      {{ $people = $people | append .Params }}
  {{ end }}
{{ else }}
  {{ range .Block.people }}
  {{ $person := ($page.Site.GetPage "/people").Resources.GetMatch (strings.TrimPrefix "/people/" . ) }}
  {{ $people = $people | append $person.Params }}
  {{ end }}
{{ end }}



<div class="people{{ if $show_longbio }} people--long-bio{{ end }}">
{{ range $people }}


  <!-- Get the desired biography length for each person -->
  {{ $bio := .shortbio }}
  <!-- If long bio is preferred, use the long_bio but default to short_bio -->
  {{ if $show_longbio }}
    {{ with .longbio}}
      {{ $bio = . }}
    {{ end }}
  {{ else }}
  <!-- If short bio is preferred but there isn't one, then truncate long bio -->
    {{ if not .shortbio }}
      {{ $split := split .shortbio ". " }}
      <!-- limit absolute length to 250 characters -->
      <!-- Get the first one to three full sentences -->
      {{ $truncBio := .longbio | truncate 250 | findRE "(.*?[\\.\\!\\?]\\B){1,3}"}}
      {{ $bio =  index $truncBio 0 }}
    {{ end }}
  {{ end }}

  <div class="person">
    {{ if and ($show_avatars) (ne .avatar "") (ne .avatar " ") }}
      <img class="person__avatar" src = "{{ .avatar }}" alt="{{ .fullname }}" title="{{ .fullname }}">
    {{ end }}
    <div class="person__info">
      {{ with .fullname }}<h3 class="person__fullname">{{ . }}</h3>{{ end }}
      {{ with .title }}<h4 class="person__title">{{ . }}</h4>{{ end }}
      {{ if and (.organization) ($show_organization) }}<h4 class="person__organization">{{ .organization }}</h4>{{ end }}
    </div>
    {{ with $bio }}<div class="person__bio">{{ . | markdownify }}</div>{{ end }}
    <div class="person__contact">
      {{ with .email }}
        <address>
          <a class="person__email" href="{{ . }}">{{ . }}</a>
        </address>
      {{ end }}
    </div>
  </div>
{{ end }}
</div>
