.people {
  @include f-common;
  display              : grid;
  justify-content      : center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap             : 1em;
}

.person {

  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn            : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix        : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // #{$prefix}- : var( , );

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  margin-top     : 50px;
  @include card;
  @include f-common;
  padding-bottom : 1.5rem;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;

  &:hover {
    #{$bn}__avatar {
      -webkit-filter: none;
      /* Safari 6.0 - 9.0 */
      filter: none;
    }
  }

  &__info {}

  &__avatar {
    margin       : -50px auto 0;
    padding      : 0;
    overflow     : hidden;
    width        : 100px;
    box-shadow   : 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    height       : 100px;
    border-radius: 50%;
    object-fit   : cover;
    display      : block;
    -webkit-filter: grayscale(70%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
  }

  &__fullname {
    margin    : 1.5rem 0 .75rem;
    text-align: center;
    color     : var(--section-fc-title, black);
  }

  &__role {
    font-size : var(--fs-x-small, .85rem);
    text-transform: uppercase;
    letter-spacing: .05em;
    margin        : .9rem 0 .6rem;
    text-align    : center;
    font-weight : var(--fw-bold, 500);
    color         : var(--section-fc-title, black);
    line-height   : 1.3;
  }

  &__organization {
    font-size : var(--fs-medium, 1.1rem);
    // text-transform: uppercase;
    letter-spacing: .05em;
    margin        : 0;
    text-align    : center;
    font-weight : var(--fw-light, 300);
    color         : var(--section-fc-title, black);
    line-height   : 1.05;
  }

  &__bio {
    color      : var(--section-fc-body);
    line-height: 1.35;
    margin     : 1rem 0;
  }

  &__email {
    font-weight     : var(--fw-bold, 600);
    color           : var(--fc-link, lightseagreen);
    background-color: var(--section-c-accent-very-subtle);
    font-size       : var(--fs-x-small, 0.9rem);
    letter-spacing  : .01em;
    text-decoration : none;
    font-style      : normal;
    text-align      : center;
    display         : block;
    width           : min-content;
    padding         : .2em .6em;
    border-radius   : var(--br-default, 0.25rem);
    margin          : 0 auto;
    white-space     : nowrap;
    overflow        : hidden;
    text-overflow   : ellipsis;

    &:hover {
      filter: brightness(1.03);
    }
  }
}

.people--long-bio {
  // grid-template-columns: 1fr;
  display: block;

  .person {
    display       : grid;
    display       : flex;
    flex-direction: column;
    @include desktop {
      margin : 0 5rem 3rem;
      padding: 3rem;
    }
  }

  .person:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .person__heading {
    display              : grid;
    grid-template-columns: 130px 1fr;
    grid-template-rows   : auto;
  }

  .person__avatar {
    margin    : auto .3rem;
    box-shadow: none;
  }

  .person__info {
    display        : flex;
    flex-direction : column;
    justify-content: center;
  }

  .person__contact {
    grid-area: contact;
  }

  .person__bio {
    margin     : 1.5rem 0;
    grid-area  : bio;
    font-size : var(--fs-medium, 1.1rem);
    line-height: 1.5;
    font-weight : var(--fw-normal, 400);
    color      : var(--section-fc-title);
  }

  .person__fullname {
    margin: .5rem 0 0;
  }

  .person__fullname,
  .person__organization,
  .person__role {
    text-align: left;
  }

  .person__email {
    font-size : var(--fs-small, 1rem);
  }
}

.people--simple {
  margin   : 0;
  padding  : 0;
  display  : flex;
  flex-flow: row wrap;

  .person {
    margin        : 0 .5rem 1.2rem 0;
    padding       : 0;
    background    : transparent;
    box-shadow    : none;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    max-width     : 83px;
  }

  .person__avatar {
    box-shadow: none;
    width     : 83px;
    height    : 83px;
    margin    : 0;
    @include desktop {
      width : 83px;
      height: 83px;
    }
  }

  .person__info {
    border-radius: 1rem;
    height       : 2rem;
    margin-top   : .4rem;
    width        : fit-content;
  }

  .person__fullname {
    margin     : 0;
    line-height: 1.1;
    padding    : 0;
    font-weight : var(--fw-bold, 500);
    font-size : var(--fs-x-small, .85rem);
  }
}

.people--accordion {
  @extend .people--long-bio;

  .person {
    margin : 0;
    padding: 0;
  }

  .person__bio {
    font-size : var(--fs-small, 1rem);
    line-height: 1.4;
  }

  .person__role {
    font-size : var(--fs-smallest, .8rem);
  }

  .person__organization {
    font-size : var(--fs-small, 1rem);
  }
}
