.people{
  
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;

}

.person {
  
  margin-top: 50px;
  @include card;
  @include f-common;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  &:hover{
    .person__avatar{
      -webkit-filter: none; /* Safari 6.0 - 9.0 */
      filter: none;
    }
  }
  
  &__info{
  }
  
  &__avatar{
    margin: -50px auto 0;
    padding: 0;
    overflow: hidden;
    width: 100px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
  }
  
  &__fullname{
    margin: 1.5rem 0 0.75rem 0;
    text-align: center;
    color: $c-foreground-emphasis;
  }
  
  &__title{
    font-size: .88rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0.9rem 0 0.6rem 0;
    text-align: center;
    font-weight: 600;
    color: col($c-tertiary, 6);
    line-height: 1.3;
  }
  
  &__organization{
    font-size: 1.1rem;
    // text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0 ;
    text-align: center;
    font-weight: 300;
    color: col($c-tertiary, 5);
    line-height: 1.05;
  }
  
  &__bio{
    color: col($c-neutral, 6);
    line-height: 1.35;
    margin: 1rem 0;
  }
  
  &__email{
    color: col($c-secondary, 5);
    text-decoration: none;
    font-style: normal;
    text-align: center;
    display: block;
    font-size: $fs-smaller;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}



.people--long-bio {

  grid-template-columns: 1fr;
  
  .person{
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-template-rows: 1min-content 1min-content 1min-content;
    grid-template-areas: "avatar info" "bio bio" "contact contact";
    @include desktop{
      margin: 0 5rem 3rem;
      padding: 3rem;
    }
  }
  .person__avatar {
    margin: auto 0.3rem;
    grid-area: avatar;
    box-shadow: none;
  }
  
  .person__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .person__contact {
    grid-area: contact;
  }
  
  .person__bio{
    margin: 1.5rem 0;
    grid-area: bio;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
    color: col($c-neutral, 6);
  }
  
  .person__fullname{
    margin: 0.5rem 0 0 0;
  }
  
  .person__title, .person__organization, .person__fullname{
    text-align: left;
  }
  
  .person__email{
    font-size: 1rem;
  }
  


}
