<!-- ================================================================= -->
<!-- Common variables -->

<!-- In order to pass on page parameters from within loops -->
{{- $page := .Page -}}
<!-- Block name -->
{{- $bn := "event-list" -}}
<!-- Classes for the outermost element -->
{{- $classes := $bn -}}

<!-- List of event pages provided to this template -->
{{- $eventPages := .Block.events -}}

<!-- Section is used to determine the types of events to list -->
{{- $section := $page.Section -}}

<!-- Get the events index page -->
{{- $eventsIndex := where (where ($page.Site.Pages) "Section" $section) "Kind" "section" -}}
{{- range first 1 $eventsIndex -}}
  {{- $eventsIndex = . -}}
{{- end -}}

<!-- Get the user-facing name to use for these events -->
{{- $termPlural := $eventsIndex.Params.event_type_plural -}}
{{- $termSingular := $eventsIndex.Params.event_type_singular -}}

<!-- Generate a unique ID for each instance of an event-list -->
{{- $uid := delimit (shuffle (seq 1 9)) "" -}}


{{- if not $eventPages -}}
  {{- $eventPages = intersect (where $page.Site.Pages ".Params.event_datetime" "!=" nil) (where $page.Site.Pages "Section" $section) -}}
  {{- $eventPages = ($eventPages.ByParam "event_datetime").Reverse -}}
{{- end -}}

<!-- Search Icon -->
{{- $iconBlock := dict "size" "small" "stroke" "thinner"  "icon" "search" "color" "inherit" -}}
{{- $searchIcon := partial "blocks/icon/icon" (dict "Block" $iconBlock "Page" $page) -}}

<!-- Get unique categories -->
{{- $tags := slice -}}
{{- range $event := $eventPages -}}
  {{- $eventTags := $event.Params.tags -}}
  {{- $tags = $tags | append $eventTags -}}
{{- end -}}
{{- $tags = $tags | uniq | sort -}}

<!-- Get unique event years -->
{{- $years := slice -}}
{{- range $event := $eventPages -}}
  {{- $date := $event.Params.event_datetime -}}
  {{- $year := dateFormat "2006" $date -}}
  {{- $years = $years | append $year -}}
{{- end -}}
{{- $years = $years | uniq | sort -}}

{{- $filters := slice (dict "name" "year" "label" "year" "options" $years) (dict "name" "tags" "label" "category" "options" $tags)  -}}

{{- if $eventPages -}}

  {{- $numEvents := len $eventPages -}}

  <!----------------------------------------------------------------------------->
  <!-- START LAYOUT -->


  <div class="{{- $classes -}}" id="all-events">

    <!-- FILTERS -->
    <form class="{{- $bn -}}__filters">

      {{ $searchFieldId := printf "eventSearch%s" $uid }}
      <!-- SEARCH INPUT -->
      <div class="{{- $bn -}}__search-area">
        <input class="{{- $bn -}}__input" type="text" id="{{- $searchFieldId  -}}" placeholder="Enter a search term" onkeyup="toggleFilter(filter = 'searchTerm', option = this.value, element = this)">
        <label class="{{- $bn -}}__label" for="{{- $searchFieldId -}}">
          Enter a search term
        </label>
        <span class="{{- $bn -}}__search-icon">
          {{- $searchIcon -}}
        </span>
      </div>

      <!-- FILTER CHIPS -->
      {{- range $filter := $filters -}}
        {{- $id := printf "filter-%s" $filter.name -}}
        <fieldset class="{{- $bn -}}__filter" id="{{- $id -}}">
          <legend class="{{- $bn -}}__filter-legend">
            Filter by {{ $filter.label }}
          </legend>

          {{- range $filter.options -}}
            {{- if and (not (eq . "")) (not (eq . " ")) -}}
              {{- $cb_id := printf "cb_%s_%s"  ( $filter.name | urlize) ( . | urlize ) -}}
              <div class="{{- $bn -}}__filter-chip">
                <input class="{{- $bn -}}__filter-checkbox" id="{{- $cb_id -}}" type="checkbox" name="{{- $filter.name -}}" value="{{- . -}}" onchange="toggleFilter(filter = {{- $filter.name -}}, option = {{- . -}}, element = this)">
                <label class="{{- $bn -}}__filter-label" for="{{- $cb_id -}}">{{- . -}}</label>
              </div>
            {{- end -}}
          {{- end -}}

        </fieldset>
      {{- end -}}

    </form>

    <div class="{{- $bn -}}__results">
      <p class="{{- $bn -}}__filter-text" id="filter-feedback-text" style="display:none">
        <span id="filter-feedback-text_num-results">0</span>
        out of {{ $numEvents }} {{ $termSingular }} matched your search
      </p>

      <ul class="{{- $bn -}}__events">

        {{- range $eventPage := ($eventPages.ByParam "event_datetime").Reverse -}}

          {{- $event := $eventPage.Params -}}
          <!-- Get year and category data for event -->
          {{- $yearData := "" | safeHTMLAttr -}}
          {{- $tagData := "" | safeHTMLAttr -}}

          {{- with $event.event_datetime -}}
            {{- $yearData = printf "data-year='%s'" (dateFormat "2006" .) | safeHTMLAttr  -}}
          {{- end -}}

          {{- $tags := $event.tags -}}
          {{- if $tags -}}
            {{- $tags = apply $tags "printf" `"%s"` "."  -}}
            {{- $tags = delimit $tags ", " -}}
            {{- $tagData = printf `data-tags='[%s]'` $tags  | safeHTMLAttr  -}}
          {{- end -}}

          <li {{ $yearData }} {{ $tagData }} class="{{- $bn -}}__event">
            
            
            {{- $pageFilePath := $eventPage.File.Path -}}
            
            {{- $summaryType := replace $termSingular " " "-" -}}
            {{- $pageTerm := replace $termSingular " " "_" -}}
            {{- $eventBlock := dict $pageTerm $pageFilePath "type" $summaryType -}}
            
            {{- partial "blocks/page-summary/page-summary" (dict "Block" $eventBlock "Page" $page) -}}
          </li>

        {{- end -}}
      </ul>

      <p class="{{- $bn -}}__paginate-text">Showing
        <span id="list-end_num-displayed">{{- $numEvents -}}</span>
        of
        <span id="list-end_num-results">{{- $numEvents -}}</span>
        <span id="list-end_filtered-text"></span>
        {{ $termPlural }}
      </p>

      {{- partial "blocks/button/button" (dict "Block" (dict "text" "Show more" "extra_classes" "show-more-button" "html_tag" "button" "function" `onclick="showMoreEvents()"`) "Page" $page ) -}}

    </div>
  </div>
{{- end -}}
