{{ $p := .Params.prefix }}

.{{ $p }}logo {

  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn    : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix: "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // #{$prefix}- : var( , );

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  display: block;
  fill   : var(--section-fc-title, black);
  width  : 143px;
  height : 32px;

  &--sz-larger {
    height: 40px;
    width : 179px;
  }

  &--subtle {
    fill: var(--section-fc-body, dimgray);
  }

  &--subtle-light {
    fill: var(--section-c-foreground-subtle, gray);
  }

  &--globe-only {
    width: 32px;

    #{$bn}__globe {
      transform: translate(-50%);
    }

    #{$bn}__data {
      display: none;
    }

    #{$bn}__ne {
      display: none;
    }
  }

  &--global-nav {
    @extend #{$bn}--globe-only;
    width  : 24px;
    height : 24px;
    display: inline-block;
    fill   : inherit;
    @include desktop {
      width : 143px;
      height: 32px;

      #{$bn}__globe {
        transform: none;
      }

      #{$bn}__data {
        display: inherit;
      }

      #{$bn}__ne {
        display: inherit;
      }
    }
  }

  &--homepage {
    height   : auto;
    max-width: 500px;
    width    : 100%;
    fill     : url("#theme-gradient");
  }

}
