// === LOGO === //

.logo{
  display: block;
  fill: $c-foreground;
  width:143px;
  height:32px;
  
}
  
.logo--subtle {
  fill: $c-foreground-subtle;
}

.logo--globe-only{
  
  width: 32px;

  .logo__globe{
    transform: translate(-50%);
  }
  
  .logo__data{
    display: none;
  }
  .logo__ne{
    display: none;
  }

}

.logo--global-nav{
  
  @extend .logo--globe-only;
  width: 24px;
  height: 24px;
  display: inline-block;
  fill: inherit;
  
  @include desktop{
    width:143px;
    height: 32px;
    
    .logo__globe{
      transform: none;
    }
    
    .logo__data{
      display: inherit;
    }
    .logo__ne{
      display: inherit;
    }
    
  }
}

.logo--homepage{
  height:100%;
  width: 50%;
  min-width: 300px;
  fill:url("#theme-gradient");
}
