// === MAILER LITE SIGN UP FORM ===
// Use the built in classes in case we need to change this form in the full-feature

// the outer div containing the form
.ml-subscribe-form{
  @include medium-lr-padding;
  @include f-common;
  
  .ml-form-successContent{
    background-color: saturate(lighten($c-secondary-accent, 15%), 80%);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: $inter-item-spacing calc( 2 * #{$inter-item-spacing}) calc(1.5 * #{$inter-item-spacing}) calc( 2 * #{$inter-item-spacing});
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(30,50,93,.09), 0 1px 3px rgba(0,0,0,.07);
    
    @include desktop{
      width: 70%;
    }
  }
  
  .response-title{
    text-align: center;
    // @extend .feature-simple__title;
    // color: $c-background;
    // color: saturate(lighten($c-secondary-accent, 25%), 100%);
  }
  
  .response-text{
    text-align: center;
    font-size: $fs-section-intro;
    // color: saturate(lighten($c-secondary-accent, 25%), 100%);
  }


}

// the email field
.form-control{
  background-color: $c-form-fields;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 1px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: $fs-larger;
  color: $c-foreground;
}

.form-control:focus{
  transform: translateY(-0.4px);
  box-shadow: 0 6px 13px rgba(30,50,93,.1), 0 2px 5px rgba(0,0,0,.08);
  background-color: lighten($c-form-fields, 5%);
  color: $c-secondary-accent;
}

// the button
.ml-subscribe-form .primary{
  border: none;
  @extend .button;
  @extend .button--primary;
}

// the group of checkboxes
.ml-block-groups {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.label-description {
  display: inline-block;
  font-size: 1.1em;
  line-height: 1.2em;
}

.ml-form-interestGroupsRowCheckbox{
  padding-top: $inter-item-spacing;
}

// custom check boxes
input[type="checkbox"] {
  position: absolute;
}

input[type="checkbox"] + .label-description {
    display: block;
    position: relative;
    padding: 0 1.5rem;
}
input[type="checkbox"] + .label-description::before {
  content: '';
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: $c-form-fields;
}
input[type="checkbox"]:checked + .label-description::before {
  background: $c-primary-accent;
}
input[type="checkbox"]:checked + .label-description::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 26px;
  border-left: 4px solid $c-background;
  border-bottom: 4px solid $c-background;
  height: 10px;
  width: 16px;
  transform: rotate(-45deg);
}
input[type="checkbox"]:focus + .label-description::before {
  outline: #5d9dd5 solid 1px;
  box-shadow: 0 6px 13px rgba(30,50,93,.1), 0 2px 5px rgba(0,0,0,.08);
}
input[type="checkbox"] {
  position: absolute;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
input[type="checkbox"]:disabled + .label-description {
  color: #575757;
}
input[type="checkbox"]:disabled + .label-description::before {
  background: #ddd;
}
