{{- define "main" -}}

  {{- partial "components/page-header" . -}}

  <!-- 3 features at top of page -->
  {{- with .Params.topFeatures -}}
  <section class="section mini-features">
    {{- range . -}}
      {{- if and .headline .text -}}
        {{- partial "components/mini-feature" . -}}
      {{- end -}}
    {{- end -}}
  </section>
  {{- end -}}
  
  <!-- infrastructure section -->
  {{- with .Params.infrastructure -}}
  <section class="section">
    <div class="section__icon icon icon--lg">{{- with .icon -}}{{- partial . -}}{{- end -}}</div>
    <h2 class="section__title">{{- .title | markdownify  -}}</h2>
    <p class="section__intro">{{- .intro | markdownify -}}</p>
    {{- with .features -}}
    {{- range . -}}
      {{- if and .headline .text -}}
        {{- partial "components/full-feature" . -}}
      {{- end -}}
    {{- end -}}
    {{- end -}}
  </section>
  {{- end -}}
  
  <!-- FAIR section -->
  {{- with .Params.fair -}}
    {{- partial "components/fair-section" . -}}
  {{- end -}}

  <!-- Users & Developers section -->
  {{- with .Params.usersDevs -}}
  <section class="section users-devs">
    <div class="section__icon icon icon--lg">{{- with .icon -}}{{- partial . -}}{{- end -}}</div>
    <h2 class="section__title">{{- .title | markdownify -}}</h2>
    <p class="section__intro">{{- .intro | markdownify -}}</p>
    {{- with .features -}}
      {{- range . -}}
        {{- if and .headline .text -}}
          {{- partial "components/full-feature" . -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- with .morefeatures -}}
    <section class="mini-features">
      {{- range . -}}
        {{- if and .headline .text -}}
          {{- partial "components/mini-feature" . -}}
        {{- end -}}
      {{- end -}}
    </section>
    {{- end -}}
  </section>
  {{- end -}}
  
  <!-- DataONE Plus section -->
  {{- with .Params.dataonePlus -}}
  <section class="section dataone-plus">
    <h2 class="section__title">{{- .title | markdownify -}}</h2>
    {{- with .features -}}
    <ul class="features-list">
      {{- range . -}}
      <li>{{ . }}</li>
      {{- end -}}
    </ul>
    {{- end -}}
    {{- with .cta -}}
      {{- partial "components/cta-button" . -}}
    {{- end -}}
  </section>
  {{- end -}}
  
  <!-- JOIN form -->
  {{- with .Params.joinForm -}}
    {{- partial "components/join-form" (dict "id" $.Site.Params.joinFormId "title" .title "text" .text "pageType" $.Page.Type) -}}
  {{- end -}}
  
{{- end -}}
