{{- define "main" -}}
  <header>
    <span class="pill">Coming 2020</span>
    <h1 class="sectionTitle">{{ .Params.pageTitle | markdownify }}</h1>
    <p>{{ .Params.introText | markdownify }}</p>
    <div class="cta-contianer">
      {{- with .Params.ctajoin -}}
        {{- partial "components/cta-button" (dict "level" "primary" "ctalink" (print $.RelPermalink "#" $.Site.Params.joinFormId) "ctatext" .ctatext) -}}
      {{end}}
      {{- with .Params.ctacontact -}}
        {{- partial "components/cta-button" (dict "level" "primary" "ctalink" $.Site.Params.contactLink "ctatext" .ctatext) -}}
      {{end}}
    </div>
  </header>

  <!-- 3 features at top of page -->
  {{- with .Params.topFeatures -}}
  <section class="feature-minis">
    {{- range . -}}
      {{- if and .headline .text -}}
        {{- partial "components/feature-mini" . -}}
      {{- end -}}
    {{- end -}}
  </section>
  {{- end -}}
  
  <!-- infrastructure section -->
  {{- with .Params.infrastructure -}}
  <section class="infrastructure">
    <div>{{- .icon -}}</div>
    <h2>{{- .title | markdownify  -}}</h2>
    <p>{{- .intro | markdownify -}}</p>
    {{- with .features -}}
    {{- range . -}}
      {{- if and .headline .text -}}
        {{- partial "components/feature-full" . -}}
      {{- end -}}
    {{- end -}}
    {{- end -}}
  </section>
  {{- end -}}
  
  <!-- FAIR section -->
  {{- with .Params.fair -}}
    {{- partial "components/feature-fair" . -}}
  {{- end -}}

  <!-- Users & Developers section -->
  {{- with .Params.usersDevs -}}
  <section class="users-devs">
    <div>{{- .icon -}}</div>
    <h2>{{- .title | markdownify -}}</h2>
    <p>{{- .intro | markdownify -}}</p>
    {{- with .features -}}
      {{- range . -}}
        {{- if and .headline .text -}}
          {{- partial "components/feature-full" . -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- with .morefeatures -}}
    <section class="feature-minis">
      {{- range . -}}
        {{- if and .headline .text -}}
          {{- partial "components/feature-mini" . -}}
        {{- end -}}
      {{- end -}}
    </section>
    {{- end -}}
  </section>
  {{- end -}}
  
  <!-- DataONE Plus section -->
  {{- with .Params.dataonePlus -}}
  <section class="dataone-plus">
    <h2>{{- .title | markdownify -}}</h2>
    {{- with .features -}}
    <ul class="features-list">
      {{- range . -}}
      <li>{{ . }}</li>
      {{- end -}}
    </ul>
    {{- end -}}
    {{- with .cta -}}
      {{- partial "components/cta-button" . -}}
    {{- end -}}
  </section>
  {{- end -}}
  
  <!-- JOIN form -->
  {{- with .Params.joinForm -}}
    {{- partial "components/join-form" (dict "id" $.Site.Params.joinFormId "title" .title "text" .text "pageType" $.Page.Type) -}}
  {{- end -}}
  
{{- end -}}
