.global-footer {
  margin     : 0;
  @include f-common;
  position   : relative;
  padding-top: 12rem;
  margin-top : -15rem;
  overflow   : hidden;
  position   : relative; // so that newsletter is stacked above svg bkg
  //(positioned elements will display on top of unpositioned elements)
  &__content {
    @include limit-width;
    @include medium-lr-padding;
    padding-top          : 3rem;
    padding-bottom       : 3rem;
    display              : grid;
    grid-template-columns: 1fr;
    grid-template-rows   : auto;
    grid-gap             : 0 1rem;
    grid-template-areas  : "sitemap" "organization" "newsletter";
    position             : relative; // so that newsletter is stacked above svg bkg
    //(positioned elements will display on top of unpositioned elements)
    @include desktop {
      grid-template-columns: .66fr .34fr;
      grid-template-rows   : auto auto;
      grid-gap             : 1rem 6rem;
      grid-template-areas  : "sitemap organization" "newsletter newsletter";
    }
  }

  &__sitemap {
    list-style-type      : none;
    margin               : 0;
    padding              : 0;
    padding-inline-start : 0;
    grid-area            : sitemap;
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap             : 2rem 2rem;
  }

  &__sitemap-list {
    list-style-type     : none;
    margin              : 0;
    padding             : 0;
    padding-inline-start: 0;
    font-size           : .95rem;
    letter-spacing      : .88px;
    text-shadow         : 0 0 16px 0 rgba(6,40,61,0.23);
  }

  &__sitemap-group {
    display: block;
  }

  &__sitemap-header {
    color         : col($c-neutral, 1);
    font-size     : 1.2rem;
    font-weight   : 600;
    letter-spacing: .06em;
    text-shadow   : 0 0 16px 0 rgba(6,40,61,0);
    text-transform: uppercase;
    margin-bottom : 1.1rem;
    display       : block;
  }

  &__sitemap-item {
    list-style    : none;
    margin-bottom : .69rem;
    font-size     : 1.1rem;
    letter-spacing: .01em;
  }

  &__sitemap-link {
    text-decoration: none;
    color          : col($c-neutral,2);
    position       : relative;
    padding-bottom : 4px;
    stroke         : col($c-neutral,3);

    &::after {
      position      : absolute;
      bottom        : 2px;
      left          : 0;
      content       : '';
      width         : 100%;
      height        : 1px;
      transition    : all .13s;
      border-bottom : 2px dashed;
      border-color  : col($c-primary, 5);
      padding-bottom: 1px;
      opacity       : 0;
    }

    &:hover::after {
      bottom : 0;
      opacity: 1;
    }

    &:hover {
      color : col($c-primary, 5);
      stroke: col($c-primary, 5);
    }
  }

  &__old-site-link {}

  &__search-link {}

  &__organization {
    margin-top        : 5rem;
    margin-bottom     : 2rem;
    grid-area         : organization;
    display           : grid;
    justify-content   : center;
    grid-gap          : 1rem;
    grid-template-rows: min-content min-content min-content;
    @include desktop {
      margin-top: 1rem;
    }

    .contact-info__socials {
      margin-top   : 3.5rem;
      max-width    : 200px;
      justify-items: left;
    }
  }

  &__name {
    margin-top    : 1.05rem;
    color         : col($c-neutral, 2);
    font-size     : 1.05rem;
    font-weight   : 300;
    letter-spacing: .42px;
    line-height   : 21px;
    text-shadow   : 0 0 16px 0 rgba(6,40,61,0.23);
    display       : block;
  }

  &__mission {
    color         : col($c-secondary, 1);
    display       : block;
    margin-top    : 1.4rem;
    font-size     : 1rem;
    font-weight   : 500;
    letter-spacing: .44px;
    line-height   : 1.4;
    text-shadow   : 0 0 16px 0 rgba(6,40,61,0.23);
    margin-bottom : 2.5rem;
  }

  &__newsletter {
    grid-area       : newsletter;
    background-color: rgba(col($c-tertiary, 9), 0.4);
    width           : 100%;
    position        : relative; // so that newsletter is stacked above svg bkg
    //(positioned elements will display on top of unpositioned elements)
  }

  &__newsletter-inner {
    @include limit-width;
    @include medium-lr-padding;
    padding-top          : 3rem;
    padding-bottom       : 3rem;
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap             : 1rem 1rem;
    align-items          : center;
    width                : 100%;
  }

  &__newsletter-title {
    font-size   : 1.3rem;
    font-family : Martel;
    color       : col($c-secondary, 2);
    margin      : 6px 0 0;
    padding     : 0;
    justify-self: center;
  }
  // &__fine-print {
  //   margin-top : $intra-section-spacing;
  //   font-size  : $fs-smaller;
  //   grid-area  : fineprint;
  //   line-height: 1.1;
  //   color      : col($c-neutral,4);
  // }
  &__svg-background {
    align-items    : center;
    display        : flex;
    justify-content: center;
    left           : 0;
    top            : 0;
    overflow       : hidden;
    position       : absolute;
    width          : 100%;
    height         : 100%;
    margin-top     : 0;

    svg {
      flex-shrink: 0;
      width      : auto;
      height     : 100%;
    }
  }
}
