<!-- in order to pass on page parameters from within loops  -->
{{ $page := .Page }} 

<div class="team">
  {{ $show_avatars := .Block.show_avatars }}
  {{- range .Page.Site.Data.teammembers.team -}}
  <div class="team__member">
    {{ if and ($show_avatars) (ne .avatar "") (ne .avatar " ") }}
      <img class="team__avatar" src = "{{ .avatar }}" alt="{{ .fullname }}" title="{{ .fullname }}">
    {{ end }}
    <h3 class="team__fullname">{{ .fullname }}</h3>
    <h4 class="team__title">{{ .title }}</h4>
    <p class="team__shortbio">{{ .shortbio }}</p>
    {{ with .email }}
    <address>
      <a class="team__email" href="{{ . }}">{{ . }}</a>
    </address>
    {{ end }}
  </div>
  {{- end -}}
</div>
