<!-- in order to pass on page parameters from within loops  -->
{{ $page := .Page }} 

{{ $link := .Block.link }}
{{- if not .Block.external_website -}}
	{{ if .Block.website_link }}
		{{ $link = ref .Page .Block.website_link }}
	{{ end }}
{{- end -}}
{{ if (eq .Block.link "ContactUsLink") }}
	{{ $link = .Page.Site.Params.contactLink }}
{{ end }}
{{ if (eq .Block.link "JoinFormLink") }}
	{{ $link = print .Page.RelPermalink "#" .Page.Site.Params.joinFormId }}
{{ end }}

{{- $htmlTag := "a" -}}
{{ if .Block.htmlTag }}
	{{ $htmlTag = .Block.htmlTag }}
{{ end }}

{{ printf "<%s" $htmlTag  | safeHTML }} class="button
         button--{{ with .Block.type }}{{- . -}}{{ else }}secondary{{ end }}
         {{ with .Block.class }} button--{{- . -}}{{ end }}"
	{{ with .Block.id }}id="{{ . }}"{{ end }}
	{{ with $link }}href="{{- . -}}"{{ end }}
	{{ with .Block.buttontype }}type="{{ . }}"{{ end }}
  
>
	{{- with .Block.text -}}<span class="button__text">{{ . }}</span>{{- end -}}
	{{ with .Block.icon }}
	<!-- TODO -->
	<span class="button__icon">{{- partial "icons/search.svg" $page -}}</span>
	{{ end }}
{{ printf "</%s>" $htmlTag  | safeHTML }}
