// ==== BUTTON ====

.button {

  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn                  : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix              : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  #{$prefix}-background: var(--section-fc-body, black);
  #{$prefix}-foreground: var(--section-c-background, white);

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  @include button-reset;
  white-space          : nowrap;
  font-weight          : var(--fw-bold, 500);
  text-transform       : uppercase;
  letter-spacing       : .025em;
  font-size            : var(--fs-small, 1rem);
  background-color     : var(#{$prefix}-background);
  color                : var(#{$prefix}-foreground);
  overflow             : hidden;
  text-overflow        : ellipsis;
  padding              : 0 1.25em;
  width                : fit-content;
  width                : -moz-fit-content;
  max-width            : calc(100vw - 2.5em);
  border-radius        : var(--br-default, 0.2rem);
  height               : 50px;
  text-decoration      : none;
  box-shadow           : 0 3px 5px rgba(30,50,93,.09), 0 1px 3px rgba(0,0,0,.07);
  cursor               : pointer;
  text-align           : center;
  display              : flex;
  align-items          : center;
  justify-content      : center;
  transition           : all .2s;
  text-shadow          : none;

  &:focus,
  &:hover {
    filter: brightness(1.05);
    transform : translateY(-1px);
    box-shadow: 0 6px 13px rgba(30,50,93,.1), 0 2px 5px rgba(0,0,0,.08);
  }

  &__text {
    margin-top : 1px;
    height     : 100%;
    display    : flex;
    align-items: center;
  }

  &__icon .icon {
    display      : flex;
    align-items  : center;
    margin-right : 9px;
    transition   : all .2s;
    stroke       : var(#{$prefix}-foreground);
    margin-bottom: 1px;
  }

  &__icon--right .icon {
    margin-right: 0;
    margin-left : 6px;
  }

  &--col-primary {
    #{$prefix}-background: var(--c-minor-accent);
    #{$prefix}-foreground: var(--c-foreground-on-minor-accent);
  }

  &--col-secondary {
    #{$prefix}-background: var(--c-major-accent);
    #{$prefix}-foreground: var(--c-foreground-on-major-accent);
  }

  &--col-tertiary {
    #{$prefix}-background: var(--section-c-background-lighter, var(--c-default-lighter, white));
    #{$prefix}-foreground: var(--section-c--accent, var(--c-major-accent, black));
  }

  &--col-quaternary {
    #{$prefix}-background: transparent;
    #{$prefix}-foreground: var(--section-c-accent, var(--c-major-accent, black));
    white-space          : normal;
    font-size            : var(--fs-medium, 1.1rem);
    display              : inline-flex;
    padding              : 0;
    width                : auto;
    height               : auto;
    line-height          : 1.05;
    box-shadow           : none;

    &:focus,
    &:hover {
      box-shadow: none;
    }
  }

}

// BUTTONS USED AS TABS (TABS BLOCK)

.button--tab {
  @extend .button--col-quaternary;
  white-space    : nowrap;
  color          : var(--section-fc-body, gray);
  font-weight    : var(--fw-bold, 500);
  filter: brightness(1.1);
  justify-content: left;

  .button__icon .icon {
    stroke: var(--section-fc-body, gray);
    filter: brightness(1.1);
  }

  &:focus,
  &:hover {
    background-color: transparent;
    box-shadow      : none;
    filter: brightness(1);

    .button__icon .icon {
      filter: brightness(1.05);
    }
  }
}
// SEARCH BUTTON

.button--search {

  @include desktop {
    // fill the parent container
    width                    : 100%;
    height                   : 100%;
    border-top-left-radius   : 0;
    border-bottom-left-radius: 0;
  }

  .button__text {
    display: flex;
  }

  .button__icon .icon {
    @include desktop {
      margin: 0;
    }
  }

  &:focus,
  &:hover {
    transform: scale(1.02);
  }
}
