// ==== BUTTON ====
{{ $p := .Params.prefix }}
.{{ $p }}button {

  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn                    : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix                : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  #{$prefix}-background  : var(--section-fc-body, black);
  #{$prefix}-foreground  : var(--section-c-background, white);
  #{$prefix}-shadow      : var(--section-c-shadow-1, rgba(30,50,93,.09));
  #{$prefix}-shadow-hover: var(--section-c-shadow-2, rgba(30,50,93,.1));

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  @include button-reset;
  white-space            : nowrap;
  font-weight            : var(--fw-bold, 500);
  text-transform         : uppercase;
  letter-spacing         : .025em;
  font-size              : var(--fs-small, 1rem);
  background-color       : var(#{$prefix}-background);
  color                  : var(#{$prefix}-foreground);
  overflow               : hidden;
  text-overflow          : ellipsis;
  padding                : 0 1.25em;
  width                  : fit-content;
  width                  : -moz-fit-content;
  max-width              : calc(100vw - 2.5em);
  border-radius          : var(--br-default, 0.2rem);
  height                 : 3rem;
  text-decoration        : none;
  box-shadow             : 0 3px 5px var(#{$prefix}-shadow), 0 1px 3px var(#{$prefix}-shadow);
  cursor                 : pointer;
  text-align             : center;
  display                : flex;
  align-items            : center;
  justify-content        : center;
  transition             : all .2s;
  text-shadow            : none;
  transition: filter 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), transform 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  will-change: transform, filter, box-shadow;

  &:focus,
  &:hover {
    filter: brightness(1.02);
    transform : translateY(-1px);
    box-shadow: 0 6px 13px var(#{$prefix}-shadow-hover), 0 2px 5px var(#{$prefix}-shadow-hover);
  }

  &__text {
    margin-top : 1px;
    height     : 100%;
    display    : flex;
    align-items: center;
  }

  &__icon {
    display      : flex;
    align-items  : center;
    margin-right : 9px;
    transition   : all .2s;
    stroke       : var(#{$prefix}-foreground);
    margin-bottom: 1px;
  }

  &__icon--right {
    margin-right: 0;
    margin-left : 6px;
  }

  &--col-primary {
    #{$prefix}-background: var(--c-minor-accent);
    #{$prefix}-foreground: var(--c-foreground-on-minor-accent);
  }

  &--col-secondary {
    #{$prefix}-background: var(--theme-c, var(--c-major-accent));
    #{$prefix}-foreground: var(--theme-c-light, var(--c-foreground-on-major-accent));
    filter: contrast(1.03);
  }

  &--col-tertiary {
    #{$prefix}-background: var(--section-c-background-lighter, var(--c-default-lighter, white));
    #{$prefix}-foreground: var(--theme-c, var(--section-c--accent, var(--c-major-accent, black)));
  }

  &--col-quaternary {
    #{$prefix}-background: transparent;
    #{$prefix}-foreground: var(--section-c-accent-emphasis, var(--c-major-accent-emphasis-on-default, black));
    text-shadow          : inherit;
    white-space          : normal;
    font-size            : var(--fs-medium, 1.1rem);
    display              : inline-flex;
    padding              : 0;
    width                : auto;
    height               : auto;
    line-height          : 1.05;
    box-shadow           : none;
    letter-spacing       : .05em;

    &:focus,
    &:hover {
      box-shadow: none;
    }
  }

  &--sending {
    #{$bn}__icon {
      animation-timing-function: linear;
      animation                : scoping 1.5s alternate infinite;

      svg {
        animation-timing-function: ease-in-out;
        animation                : soaring 3s forwards infinite;
      }
    }

    @keyframes scoping {
      0% {
        transform: translateY(0px);
      }

      100% {
        transform: translateY(5px);
      }
    }

    @keyframes soaring {
      0% {
        transform: rotate(0deg);
      }

      40% {
        transform: rotate(10deg);
      }

      50% {
        transform: rotate(10deg);
      }

      60% {
        transform: rotate(-5deg);
      }

      70% {
        transform: rotate(-5deg);
      }

      100% {
        transform: rotate(0deg);
      }
    }
  }

  &--error {
    #{$prefix}-background: var(--section-c-error, var(--c-error-on-default, red));
    #{$prefix}-foreground: var(--section-c-error-subtle, var(--c-error-subtle-on-default, white));
  }

  &--success {
    #{$prefix}-background: var(--section-c-success, var(--c-success-on-default, green));
    #{$prefix}-foreground: var(--section-c-success-subtle, var(--c-success-subtle-on-default, white));
  }

  &:disabled {
    opacity       : .85;
    pointer-events: none;

    &:focus,
    &:hover {
      filter: inherit;
      transform : inherit;
      box-shadow: inherit;
    }
  }

  // BUTTONS USED AS TABS (TABS BLOCK)
  &--tab {
    @extend #{$bn}--col-quaternary;
    white-space    : nowrap;
    color          : var(--section-fc-body, gray);
    font-weight    : var(--fw-bold, 500);
    filter: brightness(1.1);
    justify-content: left;
    width  : 100%;
    height : 100%;
    padding: .5rem;
    
    strong {
      font-weight : var(--fw-bolder, 600);
      font-size   : var(--fs-x-large, 1.1rem);
      margin-right: .1em;
    }

    #{$bn}__icon {
      stroke: var(--section-fc-body, gray);
      filter: brightness(1.1);
    }

    &:focus,
    &:hover {
      background-color: transparent;
      box-shadow      : none;
      filter: brightness(1);

      #{$bn}__icon {
        filter: brightness(1.05);
      }
    }
    
    &[aria-selected=true] {
      box-shadow      : 0 3px 8px var(--section-c-shadow-2, rgba(0,0,0,0.2)), 0 0 2px var(--section-c-shadow-3, rgba(0,0,0,0.3));
      border-radius   : var(--br-default, .25rem);
      color           : var(--section-c-accent, black);
      background-color: var(--section-c-background-lighter, white);
      filter: brightness(1.04);
      #{$bn}__icon {
        stroke: var(--section-c-accent, black);
      }
    }
    
  }
  
  // Buttons with an arrow on the right to indicate an internal link
  &--arrow-right {
    
    // The amount to move the text to show the arrow
    $deltaX: 0.5rem;
    
    #{$bn}__text{
      transition: transform 0.22s cubic-bezier(0.16, 0.08, 0.355, 1);
      transform: translate3d($deltaX, 0, 0);
      will-change: transform;
    }
    
    #{$bn}__icon--right {
      transition: opacity 0.15s cubic-bezier(0.16, 0.08, 0.355, 1), transform 0.22s cubic-bezier(0.16, 0.08, 0.355, 1);
      transform: translate3d(-$deltaX, 0, 0);
      opacity: 0;
      will-change: transform, opacity;
    }
    
    &:hover{
      transform : translateY(0px);
      
      #{$bn}__text{
        transform: translate3d(0, 0, 0);
      }
      #{$bn}__icon--right{
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
      
    }
    
  }
  
  &--portal_start{
    font-size              : var(--fs-medium, 1.1rem);
    width: 70%;
    max-width: 17rem;
  }
  
  // Button for the d1 search bar
  &--searchbar {

    @include desktop {
      // fill the parent container
      width                    : 100%;
      height                   : 100%;
      border-top-left-radius   : 0;
      border-bottom-left-radius: 0;
    }

    #{$bn}__text {
      display: flex;
    }

    #{$bn}__icon {
      @include desktop {
        margin: 0;
      }
    }
    
    #{$bn}__icon--right{
      display: none;
    }

    &:focus,
    &:hover {
      transform: none;

      #{$bn}__icon {
        stroke-width: 2px;
      }
    }
  }
}
