<!-- In order to pass on page parameters from within loops -->
{{- $page := .Page -}}
{{- $site := $page.Site -}}
<!-- The prefix we will add to the CSS classes -->
{{- $p := $page.Site.Params.prefix -}}
<!-- bn = block name -->
{{- $bn := print $p "member-nodes" -}}

<section class="{{ $bn }}__categories">
  {{- range $site.Data.membernodes.categories -}}
    {{- $category := .category -}}
    {{- $categoryMembers := where $site.Data.membernodes.nodes "category" "==" $category -}}
    <div class="{{ $bn }}__category" id="section__{{- urlize $category -}}">
      <h3 class="{{ $bn }}__category-title">{{- .category -}}</h3>
      {{- with .description -}}
        <p class="{{ $bn }}__category-description" aria-hidden="true">
          {{- . -}}
        </p>
      {{- end -}}
      <div class="{{ $bn }}__category-members">

      </div>
    </div>
  {{- end -}}
</section>
