<!-- in order to pass on page parameters from within loops -->
{{- $page := .Page -}}
{{- $site := .Page.Site -}}
<!-- The prefix we will add to the CSS classes -->
{{- $p := $page.Site.Params.prefix -}}
<!-- bn = block name -->
{{- $bn := print $p "member-nodes" -}}

{{- $memberNodeContent := partial "blocks/member-nodes/member-nodes__content" (dict "Page" $page "Block" (dict) ) -}}
{{- $memberNodeTOC := partial "blocks/member-nodes/member-nodes__toc" (dict "Page" $page "Block" (dict) ) -}}
{{- $tocBlock := dict "template" "toc" "toc_html" $memberNodeTOC "content" $memberNodeContent -}}

{{- partial "blocks/toc/toc" (dict "Page" $page "Block" $tocBlock ) -}}
