{{- define "nav" -}}
  {{- partial "blocks/nav/nav.html" . -}}
{{- end -}}

{{- define "main" -}}

  {{- $page := $ -}}

  <!-- Features pages have a breadcrumb back to relevant services -->
  {{- if eq $.Type "features" -}}
    {{- $servicesPage := ($page.Site.GetPage "/services").RelPermalink -}}
    {{- $breadcrumbsBlock := dict "back_text" "See all features" "back_link" $servicesPage "icon" "columns" -}}
    {{- partial "blocks/breadcrumbs/breadcrumbs" (dict "Block" $breadcrumbsBlock "Page" $page ) -}}
  {{- end -}}

  {{- with .Params.header -}}
    <!-- modifiers -->
    {{- $headerParams := . -}}
    {{- $template := .template | default "header" -}}
    {{- partial (printf "blocks/%s/%s.html" $template $template) (dict "Block" $headerParams "Page" $) -}}
  {{- end -}}
  {{- range .Params.page_sections -}}
    {{- $template := .template | default "section" -}}
    {{- partial (printf "blocks/%s/%s.html" $template $template) (dict "Block" . "Page" $) -}}
  {{- end -}}

{{- end -}}
