{{- define "nav" -}}
  {{- partial "blocks/global-header/global-header.html" . -}}
{{- end -}}

{{- define "main" -}}
  {{ with .Params.header }}
    {{ $template := .template | default "header" }}
    {{ partial (printf "blocks/%s/%s.html" $template $template) (dict "Block" . "Page" $) }}
  {{ end }}

  {{- range .Params.page_sections -}}
    {{ $template := .template | default "section" }}
    {{ partial (printf "blocks/%s/%s.html" $template $template) (dict "Block" . "Page" $) }}
  {{- end -}}

{{- end -}}
