{{- define "main" -}}

  {{- $page := . -}}

  {{- with .Params.header -}}
    {{- $headerParams := . -}}
    {{- $template := .template | default "header" -}}
    {{- partial (printf "blocks/%s/%s.html" $template $template) (dict "Block" $headerParams "Page" $) -}}
  {{- end -}}

  {{- $title := $page.Title | default $page.Params.header.title -}}
  {{- $markdownBlock := dict "template" "markdown" "content" $page.Content -}}
  {{- $sectionBlock := dict -}}

  {{- if and (gt .WordCount 400 ) (.Params.toc) -}}
    {{- $sectionBlock = dict "template" "toc" "toc_html" $page.TableOfContents "content" $markdownBlock -}}
  {{- else -}}
    {{- $sectionBlock = $markdownBlock -}}
  {{- end -}}

  {{- partial "blocks/section/section" (dict "Block" (dict "blocks" (slice $sectionBlock)) "Page" $page) -}}

{{- end -}}
