<!-- in order to pass on page parameters from within loops -->
{{ $page := .Page }}

<!-- the content is the markdown we will render -->
{{ $content := "" }}

<!-- If the content is already rendered (e.g. it is .Page.Content)... -->
{{ if .Block.pre_rendered }}
  {{ with .Block.content }}
    {{ $content = . | safeHTML }}
  {{ end }}
{{ else }}
  <!-- Otherwise we must add the markdownify function -->
  {{ with .Block.content }}
    {{ $content = . | markdownify }}
  {{ end }}
{{ end }}

<!-- Show the rendered the markdown -->
<div class="markdown">
  {{ $content }}
</div>