.logos-bar {
  
  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn    : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix: "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // #{$prefix}- : var( , );

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  
  margin: 0 0 4rem;
  
  &__logos {
    list-style     : none;
    display        : flex;
    flex-wrap      : wrap;
    align-items    : center;
    justify-content: center;
    justify-content: space-evenly;
    transition     : 1s cubic-bezier(.19,1,.22,1);
    will-change    : transform;
    filter: url( "data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='filter'><feGaussianBlur stdDeviation='0' /></filter></svg>#filter" );
    filter: blur(0);
  }

  &__logo {
    margin: 0 .5rem;
  }

  &__logo-image {
    height        : 40px;
    vertical-align: middle;
    -webkit-filter: invert(28%) sepia(100%) hue-rotate(160deg) saturate(10) contrast(0.045) brightness(1.55);
    filter: invert(28%) sepia(100%) hue-rotate(160deg) saturate(10) contrast(0.045) brightness(1.55);
  }

  &__button-container {
    white-space: nowrap;
    display    : block;
    transition : all .15s ease;
    position   : absolute;
    z-index    : 1;
    left       : 50%;
    bottom     : 50%;
    transform  : translate(-50%,50%) scale(.95);
    opacity    : 0;
    transition : .7s cubic-bezier(.19,1,.22,1);
  }

  &__hover-area {
    display : block;
    padding : 1rem 0;
    position: relative;

    &:hover {
      // show button when the bar is hovered
      .logos-bar__button-container {
        opacity  : 1;
        transform: translate(-50%,25%);
      }
      // blur logos when the bar is hovered
      .logos-bar__logos {
        opacity  : .7;
        transform: scale(.95);
        filter: url( "data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg'><f…ter id='filter'><feGaussianBlur stdDeviation='10' /></filter></svg>#filter" );
        filter: blur(10px) brightness(1.07);
      }
    }
    // add a horizontal line below logos
    // &:after {
    // content: "";
    // position: absolute;
    // left: 20px;
    // right: 20px;
    // bottom: 0;
    // border-bottom: 2px solid #f6f9fc;
    // pointer-events: none;
    // }
  }
}
