.logos-bar {

  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn                    : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix                : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  #{$prefix}-c-background: var(--section-c-background, var(--c-default-lighter, white));

  // height and width of the next/prev buttons
  $button-size           : 2.5rem;

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  display                : flex;
  flex-direction         : column;
  align-items            : center;
  overflow               : hidden;
  position               : relative;
  width                  : 100vw;
  min-width              : 0;
  max-width              : calc(100vw - #{$button-size} + (#{2 * $lr-padding}));
  border-bottom          : 1px solid var(--c-neutral-1);
  background-color       : var(#{$prefix}-c-background);
  padding: 0.6rem 0;

  &__title {
    font-size     : var(--fs-x-large, 1.45rem);
    color         : var(--c-neutral-5);
    // text-transform: uppercase;
    letter-spacing: .01em;
    font-weight   : var(--fw-bold);
    margin        : 1rem 0;
    line-height   : 1.32;
    text-align    : center;
  }

  &__logos {
    list-style: none;
    display   : flex;
    flex-wrap : nowrap;
    width     : calc(100% - #{3.5 * $button-size});
    transition: 1s cubic-bezier(.19,1,.22,1);
    overflow  : hidden;
    margin    : 1rem auto;
    padding   : 0;

    &::after {
      // Doesn't display properly on safari:
      // content       : "";
      // position      : absolute;
      // height        : 100%;
      // width         : 100%;
      // top           : 0;
      // left          : 0;
      // pointer-events: none;
      // margin        : 1rem auto;
      // background    : linear-gradient(to right,var(#{$prefix}-c-background) 0, transparent 10%,transparent 90%,var(#{$prefix}-c-background) 100%);
    }

  }

  &__logo-image {
    height        : 45px;
    vertical-align: middle;
    // filter: sepia(100%) hue-rotate(160deg) saturate(2.5) contrast(0.09) brightness(1.2);
    filter: contrast(0.5) brightness(1.25) saturate(0.8);
    opacity       : .75;
    margin-right  : 2rem;
    transition    : all .2s linear;
  }

  &__logo:hover {
    #{$bn}__logo-image {

      filter: none;
      opacity: .9;
    }
  }

  &__button-container {
    margin: 1rem 0;
  }

  &__scroll-button {
    @include button-reset;
    @include circle-link;
    position        : absolute;
    z-index         : 1;
    top             : calc(50% - #{0.5 * $button-size});
    padding         : 0;
    height          : $button-size;
    width           : $button-size;
    background-color: var(--section-c-background-lighter, white);
    stroke          : var(--section-fc-body, gray);
    box-shadow      : 0 5px 10px rgba(30,50,93,.02), 0 1px 3px rgba(17,32,39,.15);
    transition      : all .2s ease;

    &:focus {}

    &:hover {
      filter: brightness(1.1);
      box-shadow: 0 3px 5px var(--section-c-shadow-1, rgba(0,0,0,.07)), 0 1px 3px var(--section-c-shadow-1, rgba(0,0,0,.07));
    }

    &--next {
      right: .2 * $button-size;
    }

    &--prev {
      left: .2 * $button-size;
    }
  }

  // ==========================================================================
  // Modifiers
  // ==========================================================================

  //
  //  For logo bars that are on a dark background
  // ==========================================================================
  &--dark-background {
    background-color: rgba(col($cn-teal,5),0.2);

    #{$bn}__logo-image {
      filter: sepia(70%) hue-rotate(160deg) contrast(0.3) saturate(1.4) brightness(2.35);
      opacity: .9;
    }
  }
  
  //
  //  Logos are center and there are no scroll buttons
  // ==========================================================================
  &--no-scroll{
    --logos-bar-c-background: transparent;
    width: 100%;
    
    #{$bn}__logos {
      width: 100%;
      justify-content: center;
    }
    #{$bn}__scroll-button {
      display: none;
    }
  }

}
