<!-- in order to pass on page parameters from within loops -->
{{- $page := .Page -}}
<!-- Block name -->
{{- $bn := "logos-bar" -}}
<!-- Classes to add to the outer-most element -->
{{- $classes := $bn -}}

<!-- Block variables -->
{{- $button := .Block.button | default dict -}}
{{- $logos := .Block.logos | default slice -}}
{{- $useMemberNodes := .Block.use_member_nodes -}}
{{- $titleText := .Block.title | default "" -}}

<!-- Optional style class to add to the outer most element -->
{{- $style := .Block.style | default "" -}}

{{- with $style -}}
  {{- $classes = printf "%s %s--%s" $classes $bn (. | urlize) -}}
{{- end -}}

<!-- Nodes -->
{{- if $useMemberNodes -}}
  {{- $logos = ($page.Site.Data.membernodes.nodes | shuffle) -}}
{{- end -}}

{{- $num := len $logos -}}

{{- $logos = where $logos "logo" "!=" "" -}}

{{- if $num -}}
  {{- $titleText = replace $titleText "NUMBER" (string $num) -}}
{{- end -}}

<!-- max dimensions of logo images -->
{{- $maxWidth := 300 -}}
{{- $maxHeight := 150 -}}

<!-- Process images -->
{{- $imageResources := slice -}}
{{- range $index, $node := $logos -}}
  {{- if $node.logo -}}
    {{- $imageResource := partial "functions/getImage" (dict "image" $node.logo "Page" $page) -}}
    {{- if gt $imageResource.Width $maxWidth -}}
      {{- $imageResource = $imageResource.Resize (printf "%dx" $maxWidth) -}}
    {{- end -}}
    {{- if gt $imageResource.Height $maxHeight -}}
      {{- $imageResource = $imageResource.Resize (printf "%dx" $maxHeight) -}}
    {{- end -}}
    {{- $imageResources = $imageResources | append $imageResource -}}
  {{- end -}}
{{- end -}}
<!-- Make a unique ID for part of the block that should scroll -->
{{- $blockID := printf "scroll-me-%s" (delimit (shuffle (seq 1 9)) "") -}}
<!-- logo selection -->
<div class="{{- $classes -}}">
  {{- with $titleText -}}
    <h5 class="{{- $bn -}}__title">{{- . -}}</h5>
  {{- end -}}
  <!-- logos list -->
  <ul class="{{- $bn -}}__logos" id="{{- $blockID -}}">
    {{- range $index, $imageResource := $imageResources -}}
      {{- $logo := index $logos $index -}}
      <li class="{{- $bn -}}__logo">
        <img class="{{- $bn -}}__logo-image" src="{{- $imageResource.RelPermalink -}}" {{- with $logo.name -}} alt="{{- . -}} logo" title="{{- . -}}" {{- end -}}/>
      </li>
    {{- end -}}
  </ul>
  <!-- prev/next buttons -->
  {{- range $direction, $iconName := (dict "prev" "arrow-left" "next" "arrow-right") -}}
    {{- $buttonBaseClass := printf "%s__scroll-button" $bn }}
    {{- $buttonClass := printf "%s %s--%s" $buttonBaseClass $buttonBaseClass $direction -}}
    {{- $title := printf "Show %s logos" $direction -}}
    {{- $function := printf "logosBar.scrollEls('#%s', '%s')" $blockID $direction | safeJS -}}
    <button class="{{- $buttonClass -}}" type="button" title="{{- $title -}}" onclick="{{- $function -}}">
      <!-- Icons to use for the previous and next icons -->
      {{- $iconSettings := dict "size" "mediuim" "color" "inherit" "stroke" "thicker" -}}
      {{- partial "blocks/icon/icon" (dict "Block" (merge $iconSettings (dict "icon" $iconName)) "Page" $page) -}}
    </button>
  {{- end -}}
  <!-- button -->
  <div class="{{- $bn -}}__button-container">
    {{- with $button -}}
      {{- partial "blocks/button/button" (dict "Block" . "Page" $page) -}}
    {{- end -}}
  </div>

</div>
