<!-- in order to pass on page parameters from within loops -->
{{- $page := .Page -}}
<!-- bn = block name -->
{{- $bn := "header" -}}
<!-- classes to add to the outer element -->
{{- $classes := $bn -}}
{{- $classes = printf "%s %s--%s" $classes $bn "events" -}}

<!-- All block options -->
{{- $pill := .Block.pill | default dict  -}}
{{- $headline := .Block.title | default "" -}}
{{- $intro := .Block.intro | default "" -}}
{{- $nextEventPage := .Block.next_event | default "" -}}

{{- $termPlural := $page.Params.event_type_plural -}}
{{- $termSingular := $page.Params.event_type_singular -}}

<!-- The small title that goes at the top of the header (not the larger headline) -->
{{- $mainTitle := $page.Params.title -}}

<!-- Background image when there is an upcoming event -->
{{- $imageSrc := "" -}}
{{- $bkgImg := "" | safeHTMLAttr -}}

{{- with $nextEventPage -}}
  {{- $classes = printf "%s %s--%s" $classes $bn "has-upcoming-event" -}}
  {{- $event := .Params -}}
  {{- $imageSrc = $event.image -}}
{{- else -}}
  <!-- Set a default background if no event -->
  {{- with .Block.image.src -}}
    {{- $imageSrc = . -}}
  {{- end -}}
{{- end -}}

{{- with $imageSrc -}}
  {{- $classes = printf "%s %s--%s" $classes $bn "hero-image" -}}
  {{- $classes = printf "%s %s--%s" $classes $bn "overlay-darken" -}}
  {{- $imageResource := partial "functions/getImage" (dict "image" . "Page" $page) -}}
  {{- if gt $imageResource.Width 4000 -}}
    {{- $imageResource = $imageResource.Resize "4000x" -}}
  {{- end -}}
  {{- $bkgImg = print ` style="--background-image:url('` $imageResource.RelPermalink `');"` | safeHTMLAttr -}}
{{- end -}}

<!-- ===== -->
<header class="{{- $classes -}}" {{- $bkgImg -}}>

  <div class="{{- $bn -}}__content">

    <div class="{{- $bn -}}__text">

      <div class="{{- $bn -}}__title-and-pill">

        {{- with $mainTitle -}}
          <span class="{{- $bn -}}__title">{{- . | safeHTML -}}</span>
        {{- end -}}

        {{- with $pill -}}
          {{- partial "blocks/pill/pill" (dict "Block" . "Page" $page) -}}
        {{- end -}}
      </div>

      <div class="{{- $bn -}}__headline-and-intro">
        {{- with $headline -}}
          <h1 class="{{- $bn -}}__headline markdown">{{- . | markdownify -}}</h1>
        {{- end -}}
        {{- with $intro -}}
          <p class="{{- $bn -}}__intro markdown">{{- . | markdownify -}}</p>
        {{- end -}}
      </div>

    </div>

    <div class="{{- $bn -}}__figure">
      <h2 class="{{- $bn -}}__next-event-title">Next {{ $termSingular }}</h2>
      {{- if $nextEventPage -}}
        {{- with $nextEventPage -}}
          {{- $summaryType := replace $termSingular " " "-" -}}
          {{- $pageTerm := replace $termSingular " " "_" -}}
          {{- $summaryBlock := dict $pageTerm $nextEventPage.File.Path "layout" "detailed" "type" $summaryType -}}
          {{- partial "blocks/page-summary/page-summary" (dict "Block" $summaryBlock "Page" $page) -}}
        {{- end -}}
      {{- else -}}
        {{- $summaryBlockNoEvent := dict "layout" "detailed" -}}
        {{- partial "blocks/page-summary/event-summary" (dict "Block" $summaryBlockNoEvent "Page" $page) -}}

      {{- end -}}
    </div>

  </div>

</header>
