// ========================================================
// === WEBINARS INDEX PAGE ===
// 

.header--webinars {

  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn    : ".header";
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix: "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  #{$bn}__figure {
    text-shadow   : none;
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
  }

  #{$bn}__next-webinar-title {
    @include card;
    background-color: var(--c-major-accent-3);
    z-index         : 9999;
    position        : relative;
    color           : var(--c-major-accent-7);
    font-size       : 1rem;
    font-weight     : 500;
    margin          : 0 0 -0.9rem .9rem;
    width           : fit-content;
  }

}
