// ========================================================
// === EVENT ===
// 

.header--event {

  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn                            : ".header";
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix                        : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // Important tags are so that these variables take precedence over the regular
  // .event variables
  #{$prefix}-c-accent            : var(--section-c-accent, var(--c-major-accent-on-default, grey)) !important;
  #{$prefix}-c-forground-subtle  : var(--section-c-foreground-subtle, var(--c-foreground-subtle-on-default, lightgray)) !important;
  #{$prefix}-c-foreground-default: var(--section-c-foreground-subtle, var(--c-foreground-subtle-on-default, lightgray)) !important;
  #{$prefix}-fc-headline         : var(--section-fc-title, var(--c-foreground-on-default, grey)) !important;

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;

  align-self                     : flex-start !important;
  margin-top                     : 0 !important;
  padding-top                    : 0 !important;

  #{$bn}__content {
    grid-template-columns: 1fr;
  }

  #{$bn}__event-buttons {
    display        : flex;
    justify-content: center;
    margin-top     : 1rem;
    margin-bottom  : 3.5rem;
    flex-direction: column;
    align-items: center;
  }

  #{$bn}__speakers-title {
    font-weight: var(--fw-bold, 500);
    margin-top : 0;
  }

  #{$bn}__text {
    grid-gap: 0;
  }

  #{$bn}__headline {
    font-size  : var(--fs-xx-large, 1.75rem);
    line-height: 1.3;
    margin-top : 2rem;
  }

  #{$bn}__datetime-items {
    margin: 1.5rem 0;
  }

}
