.header {

  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn    : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix: "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // #{$prefix}- : var( , );

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;

  padding: 5rem 0;
  color  : var(--c-neutral-6);
  @include desktop {
    margin-top : -$nav-height;
    padding-top: calc(6rem + 2 * #{$nav-height});
  }

  &__content {
    @include limit-width;
    padding       : 0 $lr-padding;
    display       : flex;
    flex-direction: column;
    @include desktop {
      display              : grid;
      grid-template-columns: .57fr .43fr;
      grid-gap             : 0 1.5rem;
    }
  }

  &__text {
    text-align           : center;
    min-height           : fit-content;
    display              : grid;
    grid-auto-rows       : max-content;
    justify-content      : center;
    grid-gap             : 2rem;
    width                : 100%;
    align-content        : center;
    grid-auto-flow       : rows;
    grid-template-columns: 100%;
    @include desktop {
      text-align     : left;
      justify-content: left;
    }
  }

  &__title-and-pill {
    // width                : 100%;
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;
    @include desktop {
      justify-content: left;
    }
  }

  &__title {
    display       : block;
    font-size     : var(--fs-large, 1.25rem);
    text-transform: uppercase;
    letter-spacing: .05em;
    margin        : 0 .8rem 1rem 0;
  }

  &__headline {
    margin-top    : 1rem;
    margin-bottom : .5rem;
    font-size     : var(--fs-largest, 2.8rem);
    color         : var(--c-neutral-7);
    font-family   : 'Martel';
    font-weight   : var(--fw-xx-bold, 900);
    letter-spacing: -.006em;
    line-height   : 1.3;
  }

  &__intro {
    font-size  : var(--fs-larger, 1.48rem);
    line-height: 1.6;
    font-weight: var(--fw-normal, 400);
  }

  &__buttons {
    display        : flex;
    justify-items  : left;
    grid-auto-flow : column;
    justify-content: center;
    flex-wrap      : wrap;
    @include desktop {
      justify-content: left;
    }

    .button {
      margin-right: .5em;
      margin-top  : .5em;
    }
  }

  &__figure {
    margin         : 0;
    display        : flex;
    align-items    : center;
    justify-content: center;
  }

  &--has-breadcrumb {
    @include desktop {
      margin-top : -$nav-height - 3rem;
      padding-top: calc(2rem + 2 * 7rem);
    }
  }
}
// ===== text centered, no image ======

.header--text-only {
  .header__content {
    display: block;
  }

  .header__text {
    text-align     : center;
    justify-content: center;
    @include desktop {
      text-align: center;
    }
  }

  .header__title-and-pill {
    justify-content: center;
  }

  .header__title {
    margin: 0 .8rem 1rem;
  }

  .header__buttons {
    justify-content: center;
  }
}
// A large, centered image below the text

.header--center-image {
  overflow : hidden;
  max-width: 100vw;
  @extend .header--text-only;
  grid-gap : 1.5rem;

  .header__text {
    margin-bottom: 1rem;
  }

  .header__figure {
    width      : 118%;
    margin-left: -9%;
  }
}
// ========================================================
// === GENERAL STYLES ===

.header--svg-background {
  position     : relative;
  margin-bottom: -150px;
  width        : 100%;
  overflow     : hidden;

  +.section {
    padding-top: 200px;
  }

  .header__svg-background {
    position       : absolute;
    top            : 0;
    left           : 0;
    height         : 100%;
    width          : 100%;
    overflow       : hidden;
    display        : flex;
    justify-content: center;
    z-index        : 1;

    svg {
      height     : 100%;
      width      : auto;
      flex-shrink: 0;
    }
  }

  .header__text {
    position      : relative;
    padding-bottom: 9rem;
  }

  .header__headline {
    // font-size : var(--fs-x-large, 1.75rem);
    @include desktop {
      // font-size : var(--fs-x-large, 1.75rem);
    }
  }

  .header__intro {
    font-size     : var(--fs-small, 1rem);
    letter-spacing: -0.003em;
    line-height   : 1.5;
    font-weight   : var(--fw-light, 300);
    @include desktop {
      font-size: var(--fs-large, 1.22rem);
    }
  }

  .header__content {
    position: relative;
    z-index : 2;
    margin  : 0 auto;
    @include desktop {
      // grid-template-columns: 1fr 1fr;
    }
  }
}
// === SVG IMAGE ===

.header--svg-image {
  overflow: hidden;

  .header__headline {
    // font-size : var(--fs-x-large, 1.75rem);
    @include desktop {
      // font-size : var(--fs-x-large, 1.75rem);
    }
  }

  .header__intro {
    font-size     : var(--fs-small, 1rem);
    letter-spacing: -0.003em;
    line-height   : 1.5;
    font-weight   : var(--fw-light, 300);
    @include desktop {
      font-size: var(--fs-large, 1.22rem);
    }
  }

  .header__svg-figure {
    display        : flex;
    align-items    : center;
    justify-content: center;
  }

  .header__svg-figure svg {
    margin-top : 2rem;
    margin-left: -15%;
    width      : 130%;
    flex       : 0 0 auto;
    height     : auto;
    @include desktop {
      width       : 150%;
      margin-right: -12rem;
      margin-left : 0;
      max-width   : 754px;
    }
  }
}

.header--hero-image {
  @extend .header--text-only;
  @include bkg-img;
  position: relative;
  // min-height: 500px;
  .header__headline,
  .header__intro,
  .header__title {
    text-shadow: .01em .01em 1.5em rgba(255, 255, 255, 1);
  }

  .header__title {
    font-weight: var(--fw-bold, 500);
  }
}
// 
// when the background is dark, the text needs to be lighter

.header--dark-bkg {
  .header__headline {
    color      : var(--c-neutral-1);
    text-shadow: .01em .01em 1em rgba(0, 5, 25, 0.1);
  }

  .header__intro {
    color      : var(--c-neutral-1);
    text-shadow: .01em .01em 1em rgba(0, 5, 25, 0.3);
  }

  .header__title {
    color: var(--c-neutral-2);
  }
}
// 
// ========= SPECIFIC STYLES ===========
// 
// WAVE WITH DATAONE GRADIENT (e.g. about page)

.header--wave-with-dataone-gradient {
  @extend .header--svg-background;
  @extend .header--text-only;
  @extend .header--dark-bkg;
}
// HOSTED REPO
// hosted repository svg uses absolute sizing so that the svg is displayed correctly behind content

.header--hosted-repository {
  @extend .header--svg-background;
  padding-bottom: 600px;
  margin-bottom : -550px;
  @include desktop {
    padding-bottom: 100px;
    margin-bottom : -310px;
  }

  +.section {
    padding-top: 320px;
  }

  .header__svg-background {
    svg {
      margin-right: 320px;
      height      : 100%;
      width       : auto;
      margin-top  : -219px;
      @include desktop {
        margin-top  : calc(-850px - #{$nav-height});
        height      : 190%;
        margin-right: -147px;
      }
    }
  }
  // animage the svg line
  .animated-line {
    animation: dash 200s linear alternate infinite;
    @include low-motion;
  }
  @keyframes dash {
    from {
      stroke-dashoffset: 0;
    }

    to {
      stroke-dashoffset: 1000;
    }
  }
}
// 
// DATAONE PLUS

.header--dataone-plus {
  @extend .header--svg-image;
}
// ========================================================
// === HEADER BACKGROUND COLOURS ===
// 

.header--col-default {
  background-color: var(--c-neutral-1);
}
// TODO: to fix:

.header--col-secondary {
  @extend .header--dark-bkg;
  background-color: var(--c-major-accent-5);

  .header__title {
    color: var(--c-major-accent-1);
  }
}

.header--col-secondary-dark {
  @extend .header--dark-bkg;

  .header__title {
    font-weight: var(--fw-bold, 500);
  }
  background-color: var(--c-major-accent-5);
  background-image: linear-gradient(12deg, var(--c-major-accent-6) -10%, var(--c-major-accent-5) 40%, var(--c-major-accent-5) 50%, var(--c-major-accent-5) 60%, var(--c-major-accent-6) 100%);
}
// ========================================================
// Styles for pages with a theme class
// TODO
.theme-quaternary {
  .header {
    background-color: transparent;
    background-image: linear-gradient(180deg, var(--c-major-accent-1) -10%, var(--c-major-accent-2) 20%, var(--c-major-accent-2) 50%, var(--c-major-accent-2) 70%, transparent 70%, transparent 100%);

  }
}
