<!-- in order to pass on page parameters from within loops  -->
{{ $page := .Page }} 

<header class="header header--svg-background header--homepage no-leaves">
  <div class="header__content">
    <div class="header__logo">
      {{ $logoType := dict (slice "Block" "type") "homepage" }}
      {{- partial "blocks/logo/logo" $logoType -}}
    </div>
    <div class="header__search">
      {{- partial "blocks/d1search/d1search" . -}}
    </div>
    <a class="header__advanced-search" href="https://search.dataone.org/data">
      Advanced search
    </a>
  </div>
  <div class="header__svg-background">
    {{- partial "svg/blobs-and-leaves.svg" -}}
  </div>
</header>
