<!-- in order to pass on page parameters from within loops -->
{{- $page := .Page -}}

{{- $bn := "header" -}}

<!-- Get the events index page -->
{{- $section := $page.Section -}}
{{- $eventsIndex := where (where ($page.Site.Pages) "Section" $section) "Kind" "section" -}}
{{- range first 1 $eventsIndex -}}
  {{- $eventsIndex = . -}}
{{- end -}}

<!-- Get the user-facing name to use for these events -->
{{- $termPlural := $eventsIndex.Params.event_type_plural -}}
{{- $termSingular := $eventsIndex.Params.event_type_singular -}}

{{- $mainTitle := (humanize $termSingular) -}}

{{ $classes := printf "%s %s--event" $bn $bn }}

<header class="{{- $classes -}}">

  <div class="{{- $bn -}}__content">

    <div class="{{- $bn -}}__text">

      <div class="{{- $bn -}}__title-and-pill">
        {{- with $mainTitle -}}
          <span class="{{- $bn -}}__title">{{- . | safeHTML -}}</span>{{- end -}}

        {{- with .Block.pill -}}
          {{- partial "blocks/pill/pill" (dict "Block" . "Page" $page) -}}
        {{- end -}}
      </div>

      <h1 class="{{- $bn -}}__headline markdown">{{- .Block.title | markdownify -}}</h1>

      <!-- date, time, duration -->
      <div class="{{- $bn -}}__datetime-items">
        {{- $tstamp := $page.Params.event_datetime -}}
        {{- $eventDetailsBlock := dict "datetime" $tstamp "duration" .Block.duration -}}
        {{- partial "blocks/event-details/event-details" (dict "Block" $eventDetailsBlock "Page" $page) -}}
      </div>

      <!-- registration link -->
      {{- with .Block.buttons -}}
      <div class="{{- $bn -}}__event-buttons">
        {{- range . -}}
            {{- partial "blocks/button/button.html" (dict "Block" . "Page" $page) -}}
        {{- end -}}
        </div>
      {{- end -}}

      <!-- expandable speakers -->
      <div class="{{- $bn -}}__speakers">
        {{- $speakers := .Block.speakers -}}
        {{- $speakersTitle := "Speaker" -}}
        {{- if gt (len $speakers) 1 -}}
          {{- $speakersTitle = $speakersTitle | pluralize -}}
        {{- end -}}
        <h4 class="{{- $bn -}}__speakers-title">{{- $speakersTitle -}}</h4>
        {{- $peopleBlock := dict "people" $speakers "show_avatars" "true" "type" "accordion" "show_longbio" true -}}
        {{- partial "blocks/people/people.html" (dict "Block" $peopleBlock "Page" $page) -}}
      </div>

    </div>

  </div>

</header>
