<!-- in order to pass on page parameters from within loops  -->
{{ $page := .Page }} 

<!-- in order to pass on page parameters from within loops  -->
{{ $mainTitle := $page.Params.title }}
{{ $headerClass := .Block.type }} 
{{ $extraClass := "none" }} 

{{ if eq .Block.type "hosted-repo-header" }}
  {{ $headerClass = "svg-background" }}
{{ end }}
{{ if eq .Block.type "d1-plus-header" }}
  {{ $headerClass = "svg-image" }}
{{ end }}
{{ if eq .Block.type "brand-gradient-header" }}
  {{ $headerClass = "simple-svg-background" }}
  {{ $extraClass = "dark-bkg" }}
{{ end }}
{{ if eq .Block.type "network-image" }}
  {{ $headerClass = "hero" }}
  {{ $extraClass = "network-image" }}
{{ end }}

<header class="header header--{{ $headerClass }}{{ if ne $extraClass `none` }} header--{{$extraClass}}{{ end }}">
  <div class="header__content">
    <div class="header__text">
      
      <div class="header__title-and-pill">
        {{- with $mainTitle -}}<span class="header__title">{{ . | safeHTML}}</span>{{- end -}}
        
        
        
        {{- with .Block.pill -}}
          {{- partial "blocks/pill/pill" (dict "Block" . "Page" $page) -}}
        {{- end -}}
      </div>
      
      <h1 class="header__headline">{{ .Block.title | markdownify }}</h1>
      <p class="header__intro">{{ .Block.intro | markdownify }}</p>
      
      {{- if .Block.buttons -}}
      <div class="header__ctas">
        {{- range first 2 .Block.buttons -}}
        {{ .Page }}
          {{- partial "blocks/button/button" (dict "Block" . "Page" $page ) -}}
        {{- end -}}
      </div>
      {{- end -}}
    </div>
    {{- if or (eq .Block.type `left-aligned`) -}}
      {{ with .Block.headerimage }}
      <div class="header__figure">
        {{- partial "blocks/image/image" (dict "Block" . "Page" $page ) -}}
      </div>
      {{ end }}
    {{- end -}}
    
    {{ if eq $headerClass "svg-image"}}
    <div class="header__svg-figure">
      {{- partial (print "svg/" .Block.type ".svg" ) -}}
    </div>
    {{ end }}
    
  </div>

  {{ if or (eq $headerClass "svg-background") (eq $headerClass "simple-svg-background")}}
  <div class="header__svg-background">
    {{- partial (print "svg/" .Block.type ".svg" ) -}}
  </div>
  {{ end }}
</header>
