<!-- in order to pass on page parameters from within loops  -->
{{ $page := .Page }} 

{{ $classes := "" }}

{{ with .Block.size }}
  {{ $classes = print $classes " icon--sz-" . }}
{{ end }}
{{ with .Block.style }}
  {{ if ne . "default" }}
    {{ $classes = print $classes " icon--c-" . }}
  {{ end }}
{{ end }}

<div class="icon{{ $classes }}">
  {{ if .Block.name }}
    {{ $iconpath := path.Join "icons" .Block.name }}
    {{ $iconpath := printf "%s.svg" $iconpath }}
    {{ partial $iconpath . }}
  {{ end }}
</div>
