{{ $p := .Params.prefix }}

// ===== FEATHER ICONS ===== 
// see https://github.com/feathericons/feather

.{{ $p }}icon {
  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn                   : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix               : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // default icon color
  #{$prefix}-color      : var(--section-fc-body, grey);
  // first color choice
  #{$prefix}-c-primary  : var(--c-minor-accent, grey);
  // second color choice
  #{$prefix}-c-secondary: var(--section-c-accent, var(--c-major-accent, grey));
  // third color choice
  #{$prefix}-c-tertiary : var(--c-rare-accent, grey);

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  width                 : 24px;
  height                : 24px;
  stroke                : var(#{$prefix}-color);
  stroke-width          : 1.5;
  stroke-linecap        : round;
  stroke-linejoin       : round;
  fill                  : none;

  &--sz-tiny {
    width        : 14px;
    height       : 14px;
    margin-bottom: -3px;
    margin-top   : -3px;
    stroke-width : 1.5px;
  }

  &--sz-small {
    width        : 18px;
    height       : 18px;
    margin-bottom: -3px;
    margin-top   : -2px;
    stroke-width : 1.5px;
  }

  &--sz-large {
    width : 32px;
    height: 32px;
  }

  &--col-white {
    #{$prefix}-color: white;
  }

  &--col-primary {
    #{$prefix}-color: var(#{$prefix}-c-primary);
  }

  &--col-secondary {
    #{$prefix}-color: var(#{$prefix}-c-secondary);
  }

  &--col-tertiary {
    #{$prefix}-color: var(#{$prefix}-c-tertiary);
  }

  &--col-inherit {
    stroke: inherit;
  }

  &--str-thinner {
    stroke-width: 1;
  }

  &--str-thicker {
    stroke-width: 2.5;
  }

  // Icons that need a fill instead of a stroke, e.g. the DataONE Plus logo
  &--fill-icon {
    stroke: none;
    fill  : var(#{$prefix}-color);

    &#{$bn}--col-inherit {
      stroke: none;
      fill  : inherit;
    }
  }

}
