<!-- line icons use the svg sprite located at partials/svg/feather-sprite.svg -->
<!-- these icons can be previewed here: https://feathericons.com/?query=home -->
<!-- read more about them on github: https://github.com/feathericons/feather -->

<!-- Extra icons have been create in the same style, are are located at -->
<!-- partials/svg/feather-sprite-extras -->

<!-- in order to pass on page parameters from within loops -->
{{ $page := .Page }}
<!-- bn = block name -->
{{ $bn := "icon" }}
<!-- classes to add to the outer element -->
{{ $classes := $bn }}

{{ with .Block.size }}
  {{ $classes = printf "%s %s--sz-%s" $classes $bn . }}
{{ end }}
{{ with .Block.color }}
  {{ $classes = printf "%s %s--col-%s" $classes $bn . }}
{{ end }}
{{ with .Block.stroke }}
  {{ $classes = printf "%s %s--str-%s" $classes $bn . }}
{{ end }}

<!-- Add a class for the icons that require fill instead of line, e.g. the DataONE Plus logo -->
{{ $fillIcons := slice "d1-plus-logo" }}
{{ if in $fillIcons .Block.icon }}
  {{ $classes = printf "%s %s--%s" $classes $bn "fill-icon" }}
{{ end }}

{{ with .Block.icon }}
  <svg class="{{ $classes }}">
    <title>{{ . | humanize }}
      icon</title>
    <use xlink:href="#{{ . }}"/>
  </svg>
{{ end }}