.faq {
  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn                  : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix              : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // #{$prefix}- : var( , );

  // ==========================================================================
  //    Styles
  // ==========================================================================
  @include f-common;

  display              : grid;
  grid-template-columns: 1fr;
  grid-template-rows   : auto;
  grid-gap             : .5rem;

  &__q-and-a {
    @include card;
  }

  &__question {
    margin     : 0;
    padding    : 0;
    font-size  : var(--fs-medium, 1.1rem);
    font-weight: var(--fw-bold, 500);
  }

}
