.badge {

  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn                    : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix                : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // Color for text, icons, etc.
  #{$prefix}-c-background: var(--theme-c, transparent);
  #{$prefix}-c-foreground: var(--theme-c-light, black);

  @include f-common;
  height                 : 2.9rem;
  border-radius          : 30rem;
  padding                : .1rem;
  text-decoration        : none;
  font-weight            : var(--fw-bolder, 500);
  font-size              : var(--fs-medium, 0.9rem);
  line-height            : 1;
  display                : flex;
  align-items            : center;
  width                  : fit-content;
  padding                : .2rem .8rem;
  background-color       : var(#{$prefix}-c-background);

  &__icon {
    fill  : var(#{$prefix}-c-foreground);
    stroke: var(#{$prefix}-c-foreground);
  }

  &__title {
    display       : block;
    font-weight   : var(--fw-bolder, 500);
    font-size     : var(--fs-smallest, 0.7rem);
    color         : var(#{$prefix}-c-foreground);
    text-transform: uppercase;
    letter-spacing: .01em;
    margin        : 0 0 .1rem;
    line-height   : 1;
    filter: brightness(1.1);
  }

  &__name {
    display       : flex;
    flex-direction: column;
    margin-left   : 0;
    max-width     : 0;
    overflow      : hidden;
    white-space   : nowrap;
    line-height   : 1.1;
    color         : var(#{$prefix}-c-foreground);
  }

  //
  // Clickable - Make it clear that the badge can be clicked
  // ==========================================================================
  &--clickable {
    &:hover {
      filter: brightness(1.03);
    }
  }

  //
  // Expandable - If there's text for the badge, make it expand on hover
  // ==========================================================================
  &--expandable {
    
    $transition: ease-in-out .3s;
    overflow: hidden;
    
    #{$bn}__name {
      transition: max-width .3s $transition, margin .2s $transition;
    }
    
    #{$bn}__icon {
      transition: filter .3s $transition;
    }
    
    &:hover {
      #{$bn}__name {
        max-width: 300px;
        margin    : 0 .3rem 0 .6rem;
      }

      #{$bn}__icon {
        filter: brightness(1.03);
      }
    }
  }

  //
  // Service Badges - Badges that link to service pages
  // ==========================================================================

  &--service {}

  //
  // Icon Only - remove hover effects when icon is not clickable
  // ==========================================================================

  &--icon-only {}

  //
  // Light - for badges that reverse the dark and light colors
  // ==========================================================================

  &--light {
    $shadow-c-1            : var(--section-c-shadow-3, var(--c-shadow-3-on-default, rgba(0,0,0,0.1)));
    $shadow-c-2            : var(--section-c-shadow-2, var(--c-shadow-2-on-default, rgba(0,0,0,0.1)));
    #{$prefix}-c-background: var(--theme-c-light, transparent);
    #{$prefix}-c-foreground: var(--theme-c, black);
    box-shadow             : 0 1px 9px -2px $shadow-c-1, 0 1px 3px -2px $shadow-c-2;
  }

}
