<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15017327-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-15017327-6');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    <base href="{{ .Site.BaseURL }}">
    <title> {{ .Title }} | DataONE </title>
    {{- partial "favicon.html" . -}}
    <link rel="canonical" href="{{ .Permalink }}">
    {{ $options := (dict "enableSourceMap" true "includePaths" (slice .Site.Params.blockDir))}}
    {{ $style := resources.Get "scss/styles.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS $options | minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    <link rel="preload" as="font" type="font/woff2" href="{{`fonts/lato-v16-latin-300.woff` | relURL}}" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="{{`fonts/lato-v16-latin-300.woff2` | relURL}}" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="{{`fonts/lato-v16-latin-regular.woff` | relURL}}" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="{{`fonts/lato-v16-latin-regular.woff2` | relURL}}" crossorigin>
</head>
