{{ $currentPage := . }}
<header class="global-header">
  <nav>
    <ul class="toplevel-nav">
      <li class="toplevel-nav__logo">
        <a class="logo" href="https://www.dataone.org/">
          {{- partial "components/logo" . -}}
        </a>
      </li>
      {{ range .Site.Menus.toplevel }}
      <li class="toplevel-nav__item {{if or ($currentPage.IsMenuCurrent `toplevel` .) ($currentPage.HasMenuCurrent `toplevel` .) }}toplevel-nav__item--active{{end}}">
        <a class="toplevel-nav__link" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</header>
