.checklist{
  margin-top: -2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  
  &__item{
    display: block;
    @include f-common;
    color: var(--col-font);
    font-size: $fs-larger;
    white-space: nowrap;
  }
  
  &__checkmark{
    margin-right: 10px;
    display: inline-block;
    width: 14px;
    height: 14px;
    fill: col($c-tertiary, 5);
  }
  
}
