<!-- in order to pass on page parameters from within loops -->
{{ $page := .Page }}
<!-- bn = block name -->
{{ $bn := "checklist"}}
{{ $classes := $bn }}
{{ $numCols := .Block.num_cols | default 3 }}
{{ with $numCols }}
  {{ $classes = print $classes " " $bn "--" . "cols" }}
{{ end }}
<!-- checkmark icon -->
{{ $checkCol := .Block.check_col | default "secondary" }}
{{ $checkBlock := dict "icon" "check" "size" "small" "color" "secondary" "stroke" "thicker" }}
{{ $check := partial "blocks/icon/icon" (dict "Block" $checkBlock "Page" $page) }}

<div class="{{ $classes }}">
  {{ with .Block.title }}
    <h3 class="{{ $bn }}__title">{{ . }}</h3>
  {{ end }}
  {{- with .Block.items -}}
    <ul class="{{ $bn }}__items">
      {{- range . -}}
        <li class="{{ $bn }}__item">
          <div class="{{ $bn }}__checkmark">{{ $check }}</div>{{ . }}</li>
      {{- end -}}
    </ul>
  {{- end -}}
</div>