<!-- in order to pass on page parameters from within loops -->
{{ $page := .Page }}
<!-- bn = block name -->
{{ $bn := "checklist"}}
<!-- Classes for the outer-most element -->
{{ $classes := $bn }}

<!-- An optional title to place above the checklist -->
{{ $title := .Block.title | default "" }}
<!-- The number of columns to use for the checklist -->
{{ $numCols := .Block.num_cols | default 3 }}
<!-- Option to reduce spacing -->
{{ $compact := .Block.compact | default false }}

{{ with $numCols }}
  {{ $classes = printf "%s %s--%dcols" $classes $bn . }}
{{ end }}

{{ if $compact }}
  {{ $classes = printf "%s %s--compact" $classes $bn }}
{{ end }}

<!-- Get the checkmark icon -->
{{ $checkCol := .Block.check_col | default "secondary" }}
{{ $checkBlock := dict "icon" "check" "size" "small" "color" "inherit" "stroke" "thicker" }}
{{ $check := partial "blocks/icon/icon" (dict "Block" $checkBlock "Page" $page) }}

<div class="{{ $classes }}">

  {{ with $title }}
    <h3 class="{{ $bn }}__title">{{ . }}</h3>
  {{ end }}

  {{- with .Block.items -}}
    <ul class="{{ $bn }}__items">
      {{- range . -}}
        <li class="{{ $bn }}__item">
          <div class="{{ $bn }}__icon">{{ $check }}</div>{{ . }}</li>
      {{- end -}}
    </ul>
  {{- end -}}

</div>