.checklist {

  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn      : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix  : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // #{$prefix}- : var( , );

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  width    : 100%;
  max-width: 100%;
  min-width: 0;

  &__title {
    @include fs-h3;
  }

  &__items {
    display     : grid;
    grid-gap    : 1em 1em;
    padding-left: 0;
    margin-top  : 1.5rem;
  }

  &__item {
    display    : block;
    color      : var(--col-font);
    font-size  : var(--fs-large, 1.15rem);
    display    : flex;
    align-items: center;
    width      : fit-content;

    // Items with a tooltip
    &--tooltip {
      cursor: help;

      > * {
        pointer-events: none;
      }
    }
  }

  &__icon {
    @include floating-icon;
    margin-right: .625rem;
  }

  &--2cols {
    #{$bn}__items {
      @include desktop {
        grid-template-columns: repeat(2, minmax(100px, 0.5fr));
      }
    }
  }

  &--3cols {
    #{$bn}__items {
      @include desktop {
        grid-template-columns: repeat(3,1fr);
      }
    }
  }

  &--compact {
    #{$bn}__items {
      grid-gap: .45em .45em;
    }

    #{$bn}__item {
      font-size: var(--fs-medium);
    }
  }

}
