<div class="feature-full">
  <div class="description">
    <h3>{{ .headline | markdownify }}</h3>
    <p>{{ .text | markdownify }}</p>
    {{- with .details -}}
    <div class="details">
      {{- range . -}}
        {{- if and .name .text -}}
          <div>{{ .icon }}</div>
          <div>
            <p><em>{{ .name | markdownify }} - </em>{{ .text | markdownify }}</p>
          </div>
        {{- end -}}
      {{- end -}}
    </div>
    {{- end -}}
    {{- with .cta -}}
      {{- partial "components/cta-button" . -}}
    {{- end -}}
  </div>
  <figure>
  </figure>
</div>
