.d1plus-menu-ad {
  // bn = block name, usage: #{ $bn } 
  --ad-foreground-color: var(--c-major-accent-2, white);
  margin               : .8rem 1.5rem;

  $bn                  : &;
  display              : flex;
  align-items          : center;
  flex-direction       : column;
  padding              : 0;
  color                : var(--ad-foreground-color);

  &__headline {
    margin     : 0;
    display    : block;
    white-space: nowrap;
    color                : var(--ad-foreground-color);

    &-upper {
      font-size  : var(--fs-large, 1.22rem);
      display    : inherit;
      white-space: inherit;
      font-weight: var(--fw-bold, 500);
      color                : var(--ad-foreground-color);
    }

    &-lower {
      margin-top    : .5rem;
      font-size     : var(--fs-xx-large, 2.8rem);
      display       : inherit;
      white-space   : inherit;
      font-weight   : var(--fw-x-bold, 800);
      letter-spacing: .02em;
      color                : var(--ad-foreground-color);
    }
  }

  &__features {
    font-size  : var(--fs-large, 1.22rem);
    font-weight: var(--fw-bold, 500);
    padding    : 1rem .8rem;
    width      : 100%;
  }

  &__feature {
    display    : flex;
    align-items: center;
    padding    : .4rem 0;
    white-space: nowrap;
  }

  &__icon {
    stroke      : var(--ad-foreground-color);
    margin-right: 1rem;
  }
}
