<!-- In order to pass on page parameters from within loops -->
{{- $page := .Page -}}
{{- $site := $page.Site -}}
<!-- The prefix we will add to the CSS classes -->
{{- $p := $page.Site.Params.prefix -}}
<!-- bn = block name -->
{{- $bn := print $p "nav" -}}
<!-- classes to add to outer element -->
{{- $classes := $bn -}}
<!-- modifier classses based on section type -->
{{- $type := "" -}}
{{- if eq .Kind "home" -}}
  {{- $type = "homepage" -}}
{{- end -}}
{{- with $type -}}
  {{- $classes = print $classes " " $bn "--" . -}}
{{- end -}}
<!-- settings for menu icons -->
{{- $iconSettings := dict "color" "inherit" "stroke" "thicker" -}}
<header class="{{- $classes -}}" id="nav">
  <nav class="{{- $bn -}}__inner">
    
    <!-- LOGO/HOME LINK -->
    <a class="{{ $bn }}__button {{ $bn }}__button--logo" href="{{- $site.BaseURL -}}">
      {{- $buttonIconClass := printf "%s__button-icon" $bn -}}
      {{- $buttonTextClass := printf "%s__button-text" $bn -}}
      {{- if eq .Kind `home` -}}
        {{- $activeMod := "--active" -}}
        {{- $buttonIconClass = printf "%s %s%s" $buttonIconClass $buttonIconClass $activeMod -}}
        {{- $buttonTextClass = printf "%s %s%s" $buttonTextClass $buttonTextClass $activeMod -}}
      {{- end -}}
      <span class="{{ $buttonIconClass }}">
        {{- partial "blocks/logo/logo" (dict "Page" $page "Block" (dict "type" "global-nav")) -}}
      </span>
      <span class="{{- $buttonTextClass -}}">Home</span>
    </a>

    <!-- MENU BUTTON (mobile)-->
    <button class="{{ $bn }}__button {{ $bn }}__button--menu-toggle" id="global-menu-toggle" aria-label="Open primary menu" aria-expanded="false" aria-controls="global-menu">
      <span class="{{- $bn -}}__button-icon">{{- partial "blocks/icon/icon" (dict "Block" (merge $iconSettings (dict "icon" "menu")) "Page" $page) -}}</span>
      <span class="{{- $bn -}}__button-text">Menu</span>
    </button>
    
    <!-- FIND DATA BUTTON (mobile) -->
    <a class="{{ $bn }}__button {{ $bn }}__button--mobile-find-data" href="{{- $site.Params.links.search -}}">
      <span class="{{- $bn -}}__button-icon">
        {{- partial "blocks/icon/icon" (dict "Block" (merge $iconSettings (dict "icon" "search")) "Page" $page) -}}
      </span>
      <span class="{{- $bn -}}__button-text">Find Data</span>
    </a>

    <!-- MENUS -->
    <div id="global-menu" aria-hidden="true" class="{{- $bn -}}__menu">
      <ul class="{{- $bn -}}__primary-items">
        {{- range $site.Menus.primary_nav -}}
          {{- partial "blocks/nav/menu-item" (dict "Block" . "Page" $page) -}}
        {{- end -}}
      </ul>
      <!-- Top navigation section -->
      <div class="{{- $bn -}}__secondary-nav">
        <ul class="{{- $bn -}}__secondary-items" id="secondary-menu" aria-hidden="true">
          {{- range $site.Menus.secondary_nav -}}
            {{- partial "blocks/nav/menu-item" (dict "Block" . "Page" $page) -}}
          {{- end -}}
        </ul>
      </div>
    </div>

  </nav>
  <!-- Call the global header script once the navbar exists. -->
  <!-- Makes the block compatible with both the website (where the JS bundle that contains globalHeader is included at the end of the <body>) -->
  <!-- and with MetacatUI (where the JS bundle is included in the <head>) -->
  <script>
  if (document.readyState === 'loading') {
    document.removeEventListener('DOMContentLoaded', function(){ {{ $p | safeJS }}globalHeader.initialize() });
    document.addEventListener('DOMContentLoaded', function(){ {{ $p | safeJS }}globalHeader.initialize() });
  } else {
    // `DOMContentLoaded` has already fired
    {{ $p | safeJS }}globalHeader.initialize();
  }
  </script>
</header>
