{{ if and (partial "functions/hasValues" .Block) (ne .Block.text "") (ne .Block.text " ") }}
<span class="pill{{ if .Block.type }} pill--{{ .Block.type }}{{ end }}">
  
  {{ $icon := "none" }}
  {{ if eq .Block.type "success" }}
    {{ $icon = "check" }}
  {{ else if eq .Block.type "info" }}
    {{ $icon = "info" }}
  {{ else if eq .Block.type "warning" }}
    {{ $icon = "alert-triangle" }}
  {{ end }}
  {{ if ne $icon "none" }}
  <span class="pill__icon">
    {{- partial "blocks/line-icon/line-icon" (dict "Block" (dict "icon" $icon "size" "tiny" "color" "inherit")) -}}
  </span>
  {{ end }}
  
  {{ .Block.text }}
  
  
</span>
{{ end }}
