.pill {
  @include f-common;
  font-size: 11px;
  line-height: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .03em;
  display: inline-block;
  padding: 4px 9px;
  border-radius: 60px;
  background: $c-foreground;
  color: $c-background;
  
  &__icon{
    padding-right: 3px;
  }
  
  &--secondary{
    background: $c-secondary-accent;
  }
  
  &--primary{
    background: $c-primary-accent;
  }
  
  &--tertiary{
    background: $c-tertiary-accent;
  }
  
  &--info{
    background: $c-info;
  }
  
  &--warning{
    background: $c-warning;
  }
  
  &--success{
    background: $c-success;
  }
  
}
