<!-- in order to pass on page parameters from within loops -->
{{- $page := .Page -}}
<!-- The prefix we will add to the CSS classes -->
{{- $p := $page.Site.Params.prefix -}}
<!-- The name of this block -->
{{- $bn := print $p "pill" -}}
<!-- classes to add to the outer element -->
{{- $classes := $bn -}}
{{- $icon := "none" -}}
{{- if eq .Block.style "success" -}}
  {{- $icon = "check" -}}
{{- else if eq .Block.style "info" -}}
  {{- $icon = "info" -}}
{{- else if eq .Block.style "warning" -}}
  {{- $icon = "alert-triangle" -}}
{{- end -}}
{{- with .Block.style -}}
  {{- $classes = print $classes " " $bn "--" . -}}
{{- end -}}
{{- with .Block.size -}}
  {{- $classes = print $classes " " $bn "--sz-" . -}}
{{- end -}}
{{- if .Block.text -}}
  {{- if and (partial "functions/hasValues" .Block) (ne .Block.text "") (ne .Block.text " ") -}}
    <span class="{{- $classes -}}">
      {{- if ne $icon "none" -}}
        <span class="{{- $bn -}}__icon">
          {{- partial "blocks/icon/icon" (dict "Block" (dict "icon" $icon "size" "tiny" "color" "inherit" "stroke" "thicker") "Page" $page) -}}
        </span>
      {{- end -}}
      {{- .Block.text -}}
    </span>
  {{- end -}}
{{- end -}}
