{{ $p := .Params.prefix }}

.{{ $p }}pill {
  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn                    : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix                : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // fall back colors for for different alert pill types
  $alerts-fallback       : (
    "success": green,
    "info"   : blue,
    "warning": yellow,
    "error"  : red
  );

  // default colors for pill foreground (text, icon) and background (pill bubble)
  #{$prefix}-c-background: var(--section-fc-body, black);
  #{$prefix}-c-foreground: var(--section-c-background, white);

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  font-size              : var(--fs-smaller, .9rem);
  font-weight            : var(--fw-bold, 500);
  text-transform         : uppercase;
  letter-spacing         : .03em;
  display                : inline-flex;
  align-items            : center;
  justify-content        : center;
  border-radius          : 30px;
  background             : var(#{$prefix}-c-background);
  color                  : var(#{$prefix}-c-foreground);
  transform              : translateY(-0.18em);
  height                 : 27px;
  line-height            : 27px;
  width                  : fit-content;
  max-width              : calc(100vw - 2.5em);
  padding                : 0 1.2em;
  white-space            : nowrap;
  text-shadow            : none;

  &__icon {
    padding-right: .4em;
    display      : flex;
    align-items  : center;
    stroke       : var(#{$prefix}-c-foreground);
  }

  &--primary {
    #{$prefix}-c-background: var(--c-minor-accent);
    #{$prefix}-c-foreground: var(--c-foreground-on-minor-accent);
  }

  &--secondary {
    #{$prefix}-c-background: var(--theme-c, var(--c-major-accent));
    #{$prefix}-c-foreground: var(--theme-c-light, var(--c-foreground-on-major-accent));
  }

  &--tertiary {
    #{$prefix}-c-background: var(--c-rare-accent);
    #{$prefix}-c-foreground: var(--c-foreground-on-rare-accent);

  }

  &--quaternary {
    #{$prefix}-c-background: var(--c-major-accent-2);
    #{$prefix}-c-foreground: var(--c-major-accent-5);
  }

  &--subtle {
    #{$prefix}-c-background: var(--c-neutral-2);
    #{$prefix}-c-foreground: var(--c-neutral-6);
  }

  @each $alert-type, $default in $alerts-fallback {
    &--#{$alert-type} {
      #{$prefix}-c-background: var(--section-c-#{$alert-type}-subtle, col($default,2));
      #{$prefix}-c-foreground: var(--section-c-#{$alert-type}, $default);
    }
  }

  &--sz-smaller {
    transform  : translateY(-0.18em);
    height     : 20px;
    line-height: 20px;
    width      : fit-content;
    padding    : 0 .6em;
    font-size  : var(--fs-smallest, .8rem);
  }

  &--on-air {
    #{$prefix}-c-background: transparent;
    #{$prefix}-c-foreground: var(--c-minor-accent);
    font-size              : var(--fs-small, 1rem);
    line-height            : 1;
    padding                : 0;
    border-radius          : 0;
    transform              : translateY(0);

    &::before {
      content      : '';
      display      : inline-block;
      margin       : 0 auto;
      border-radius: 50%;
      background   : var(#{$prefix}-c-foreground);
      width        : 12px;
      height       : 12px;
      animation    : live 2.5s infinite;
      margin-left  : .3rem;
      margin-right : .8rem;
      @include low-motion;
    }
    @keyframes live {
      0%,
      100% {
        background: transparent;
      }

      40% {
        background: var(#{$prefix}-c-foreground);
      }
    }
  }
}
