{{- define "main" -}}
  
  {{- partial "components/page-header" . -}}

  <!-- Portals section -->
  {{- with .Params.portals -}}
  <section class="section portals">
    <figure class="icon--lg">{{- with .icon -}}{{- partial . -}}{{- end -}}</figure>
    <h2 class="section__title">{{ .title | markdownify }}</h2>
    <p class="section__intro">{{ .intro | markdownify }}</p>
    <div class="feature-list">
      <figure class="feature-list__figure">{{- with .figure }}{{- partial . -}}{{- end -}}</figure>
      {{- with .features }}
      <div class="feature-list__list">
        {{- range . -}}
          {{- if and .headline .text -}}
            {{- partial "components/mini-feature" (dict "icon" .icon "headline" .headline "text" .text "type" "icon-left") -}}
          {{- end -}}
        {{- end -}}
      </div>
      {{- end -}}
    </div>
  </section>
  {{- end -}}

  <!-- FAIR section -->
  {{- with .Params.fair -}}
    {{- partial "components/feature-fair" . -}}
  {{- end -}}

  <!-- Access experts section -->
  {{- with .Params.accessExperts -}}
  <section class="section access-experts">
    <figure class="icon--lg">{{- with .icon -}}{{- partial . -}}{{- end -}}</figure>
    <h2 class="section__title">{{- .title | markdownify -}}</h2>
    <p class="section__intro">{{- .intro | markdownify -}}</p>
    {{- with .features -}}
    <section class="mini-features">
      {{- range . -}}
        {{- if and .headline .text -}}
          {{- partial "components/mini-feature" . -}}
        {{- end -}}
      {{- end -}}
    </section>
    {{- end -}}
  </section>
  {{- end -}}

  <!-- Hosted repo section -->
  {{- with .Params.hostedRepo -}}
  <section class="section hosted-repo">
    <figure class="section__figure">{{- .figure -}}</figure>
    <h2 class="section__title"><span>{{- .titletop | markdownify -}}</span> <em>{{- .titlebottom | markdownify -}}</em></h2>
    <p class="section__intro">{{- .intro | markdownify -}}</p>
    {{- with .cta -}}
      {{- partial "components/cta-button" . -}}
    {{- end -}}
  </section>
  {{- end -}}

  <!-- JOIN form -->
  {{- with .Params.joinForm -}}
    {{- partial "components/join-form" (dict "id" $.Site.Params.joinFormId "title" .title "text" .text "pageType" $.Page.Type) -}}
  {{- end -}}

{{- end -}}
