<!-- status defines whether this event (e.g. webinar, community call) is upcoming, happening now, or past -->
<!-- TODO : add datetime vs now checks, eg `if datetime.After now` -->

{{- $event := . -}}
<!-- allow users to select own status or "auto" -->
{{- $status := $event.status -}}
<!-- guess the status if not set -->
{{- if or (not $status) (eq $status "auto") -}}
  {{- if $event.vimeoid -}}
    {{- $status = "past" -}}
  {{- else if $event.registration_link -}}
    {{- $status = "upcoming" -}}
  {{- end -}}
{{- end -}}
{{- return $status -}}
