<!-- Given a feature Page or subfeature parameters, return URL, if there is one -->
<!-- If subfeature is provided, function returns URL for subfeature instead of feature -->
<!-- MUST provide feature either way -->

<!-- Variables required: -->

<!-- .feature = type Page -->
{{- $feature := .feature -}}
<!-- .subfeature = type dict -->
{{- $subfeature := .subfeature -}}

<!-- .Site = the site parameter so we can access Pages -->
{{- $site := $feature.Site -}}

<!-- The list of features we will return -->
{{- $url := "" -}}

{{- if $feature -}}
  <!-- feature params -->
  {{- $fp := $feature.Params -}}
  {{- if or ($fp.custom_link) (eq $fp.render_page true) (eq $fp.render_page "true") -}}
    {{- $url = $fp.custom_link | default $feature.RelPermalink -}}
  {{- end -}}
  {{- if $subfeature -}}
    {{- $subUrl := "" -}}
    <!-- Only create a url from the section ID if the parent feature has a url -->
    {{- if and $url $subfeature.section_id -}}
      {{- $subUrl = printf "%s#%s" (strings.TrimSuffix "/" $url ) $subfeature.section_id -}}
    {{- end -}}
    <!-- Overwrite the url with the custom url if one is provided -->
    {{- if $subfeature.custom_link -}}
      {{- $subUrl = .custom_link -}}
    {{- end -}}
    <!-- Don't return a URL if subfeature doesn't have one -->
    {{- $url = $subUrl -}}
  {{- end -}}
{{- end -}}

{{- return $url -}}