<!-- Given a feature Page or subfeature parameters, return an annotation for that sub/feature under that service, if there is one -->
<!-- If subfeature is provided, function returns annotation for subfeature instead of feature -->
<!-- MUST provide feature either way -->

<!-- Variables required: -->
<!-- .Service = type Page -->
{{ $service := .service }}
<!-- .Feature = type Page -->
{{ $feature := .feature }}
<!-- subfeature-->
{{ $subfeature := .subfeature }}

<!-- the site parameter so we can access Pages -->
{{ $site := $service.Site }}

<!-- The annoation this function will return -->
{{ $annotation := "" }}

{{ if and $service $feature $site }}
  {{ $servicesToCheck := slice }}
  {{ if $subfeature }}
    {{ $servicesToCheck = $subfeature.linked_services }}
  {{ else }}
    {{ $servicesToCheck = $feature.Params.linked_services }}
  {{ end }}
  <!-- Find the service in the feature page's list of linked services -->
  {{ range $linked_service := $servicesToCheck }}
    {{ if $linked_service.table_annotation }}
      {{ if eq ($site.GetPage $linked_service.service_file) $service }}
        <!--Update the annotation -->
        {{ $annotation = $linked_service.table_annotation }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $annotation }}