<!-- Given a feature Page or sub-feature parameters, return list of associated service pages -->
<!-- If subfeature is provided, function returns associated services for subfeature instead of feature -->

<!-- Variables required: -->

<!-- .feature = type Page -->
{{- $feature := .feature -}}
<!-- .subfeature = type dict -->
{{- $subfeature := .subfeature -}}

<!-- .Site = the site parameter so we can access Pages -->
{{- $site := $feature.Site -}}

<!-- The list of features we will return -->
{{- $servicesOfFeature := slice -}}

{{- if $subfeature -}}
  {{- range $linked_service := $subfeature.linked_services -}}
    {{- $servicePage := $site.GetPage $linked_service.service_file -}}
    {{- $servicesOfFeature = $servicesOfFeature | append $servicePage -}}
  {{- end -}}
{{- else if $feature -}}
  {{- range $linked_service := $feature.Params.linked_services -}}
    {{- $servicePage := $site.GetPage $linked_service.service_file -}}
    {{- $servicesOfFeature = $servicesOfFeature | append $servicePage -}}
  {{- end -}}
{{- end -}}

{{- return $servicesOfFeature -}}