<!-- All the person information -->
{{ $people := slice }}

<!-- Speaker full names in an array (for calendar) -->
{{ $personNames := slice }}

<!-- Speaker names and biographies as a single string (for calendar) -->
{{ $personBiosString := "" }}

<!-- Speaker full names in a comma delimited string -->
{{ $personListString := ""}}

{{ $page := .Page }}
{{ $site := $page.Site }}
<!-- fill in the person variables by ranging through the person resource pages -->
{{ range .People }}

  {{ $inputFileName := strings.TrimPrefix "/" . }}
  {{ $person := "" }}
  {{ $allPeoplePages := where $site.Pages "Type" "people" }}
  {{range $allPeoplePages }}
    {{ if eq $inputFileName .File.Path }}
      {{ $person = . }}
    {{ end }}
  {{ end }}

  {{ if $person }}
    {{ $people = $people | append $person.Params }}
    {{ $personNames = $personNames | append $person.Params.fullname }}
    <!-- prefer full bio for calendar description -->
    {{ $bio := "" }}
    {{ with $person.Params.shortbio }}
      {{$bio = . }}
    {{ end }}
    {{ with $person.Params.longbio }}
      {{$bio = . }}
    {{ end }}
    {{ with $bio }}
      {{ $personBiosString = print "\n\n" $personBiosString $person.Params.fullname ": " "\n\n" . "\n\n" }}
    {{ end }}
  {{ else }}
    <!-- If we couldn't find a resource match for a person, give a warning -->
    <!-- That way we know if a page is missing some person content -->
    <!-- This could happen if person files are re-named -->
    {{ warnf "Could not find the person with the file path %q in page %q. Information about this person will not be displayed. Please check that the file name for that person is correct and that the file exists." . $page.File }}
  {{ end }}
  {{ with $personNames }}
    {{ $personListString = delimit . ", " " & " }}
  {{ end }}
{{ end }}
{{ return (dict "params" $people "names" $personNames "bios_string" $personBiosString "names_string" $personListString )}}