<!-- Given a feature Page, return list of associated service pages -->

<!-- Variables required: -->
<!-- .Feature = type Page -->
{{ $feature := . }}
<!-- .Site = the site parameter so we can access Pages -->
{{ $Site := $feature.Site }}

<!-- The list of features we will return -->
{{ $servicesOfFeature := slice }}

{{ if and $feature $Site }}
  {{ range $linked_service := $feature.Params.linked_services }}
    {{ $servicePage := $Site.GetPage $linked_service.service_file }}
    {{ $servicesOfFeature = $servicesOfFeature | append $servicePage }}
  {{ end }}
{{ end }}

{{ return $servicesOfFeature }}