{{- define "main" -}}

  {{ with .Params.header }}
    {{ if .template }}
      {{ partial (printf "blocks/%s/%s.html" .template .template) (dict "Block" . "Page" $) }}
    {{ end }}
  {{ end }}

  {{- range .Params.page_sections -}}
    {{ if .template }}
      {{ partial (printf "blocks/%s/%s.html" .template .template) (dict "Block" . "Page" $) }}
    {{ end }}
  {{- end -}}

  {{ $webinarBlocks := slice }}

  {{- range .Paginator.Pages -}}
    <!-- remove trailing slash in link -->
    {{ $pageLink := replaceRE "/$" "" .RelPermalink }}
    <!-- use the webinar summary block -->
    {{ $webinarBlock := (dict "template" "page-summary" "type" "webinar" "webinar" $pageLink) }}
    {{ $webinarBlocks = $webinarBlocks | append $webinarBlock }}
  {{- end -}}

  {{ $columnsBlock := (dict "template" "columns" "num_cols" "2" "columns" $webinarBlocks) }}
  {{ $sectionBlock := dict "template" "section" "blocks" (slice $columnsBlock) }}

  {{ partial "blocks/section/section" (dict "Block" $sectionBlock "Page" $) }}

  <!-- {{- partial "blocks/paginator/paginator" . -}} -->

{{- end -}}