{{- define "main" -}}
  {{ $page := $ }}
  {{ with .Params.header }}
    {{ if .template }}
      {{ partial (printf "blocks/%s/%s.html" .template .template) (dict "Block" . "Page" $page) }}
    {{ end }}
  {{ end }}

  {{- range .Params.page_sections -}}
    {{ if .template }}
      {{ partial (printf "blocks/%s/%s.html" .template .template) (dict "Block" . "Page" $page) }}
    {{ end }}
  {{- end -}}

  {{ $webinarBlocks := slice }}

  <!-- TODO: add paginator for webinars -->

  {{- range (.Pages.ByParam "webinar_datetime").Reverse -}}
    <!-- remove trailing slash in link -->
    {{ $pageLink := replaceRE "/$" "" .RelPermalink }}
    <!-- use the webinar summary block -->
    {{ $webinarBlock := (dict "template" "page-summary" "type" "webinar" "webinar" $pageLink) }}
    {{ $webinarBlocks = $webinarBlocks | append $webinarBlock }}
  {{- end -}}

  {{ $pastWebinarsLink := printf "%s/previous-webinars" $page.Site.Params.links.old_website }}
  {{ $buttonBlock := dict "text" "See past webinars" "type" "external website" "color" "secondary" "external_link" $pastWebinarsLink }}
  {{ $columnsBlock := dict "template" "columns" "num_cols" "2" "columns" $webinarBlocks }}
  {{ $sectionBlock := dict "template" "section" "blocks" (slice $columnsBlock) "button" $buttonBlock "background" "subtle-emphasis" }}

  {{ partial "blocks/section/section" (dict "Block" $sectionBlock "Page" $) }}

  <!-- {{- partial "blocks/paginator/paginator" . -}} -->

{{- end -}}