{{- define "main" -}}

  <!-- ========================================== VARIABLES ========================================== -->

  <!-- in order to pass on page parameters from within loops -->
  {{ $page := $.Page }}

  <!-- webinar parameters -->
  {{ $webinar := $.Page.Params }}

  <!-- status defines whether this webinar is upcoming, happening now, or past -->
  {{ $status := partial "functions/getWebinarStatus" $webinar }}
  <!-- Set the pill text based on status -->
  {{ $pillBlock := partial "functions/getWebinarPill" $status }}
  <!-- add status as a modifier class -->
  {{ $classes := "" }}
  {{ with $status }}
    {{ $classes = print $classes " webinar--st-" $status }}
  {{ end }}

  <!-- ========================================== BLOCKS ========================================== -->

  <!-- Registration link -->
  {{ $buttonBlock := dict }}
  {{ if or (eq $status "upcoming") (eq $status "happening-now") }}
    {{ $buttonBlock = dict "text" "Register now" "external_link" ($webinar.registration_link | default "") "color" "primary" }}
  {{ end }}
  <!-- Header -->
  {{ $headerBlock := dict "template" "header" "type" "webinar" "title" $webinar.title "abstract" $webinar.abstract "speakers" $webinar.speakers "duration" $webinar.duration "pill" $pillBlock "button" $buttonBlock}}
  <!-- Breadcrumb navigation -->
  {{ $breadcrumbsBlock := dict "back_text" "Back to all webinars" "back_link" $page.Parent.RelPermalink }}
  {{ partial "blocks/breadcrumbs/breadcrumbs" (dict "Block" $breadcrumbsBlock "Page" $page ) }}
  <!-- Webinar sections -->
  {{ $webinarBlock := merge (dict "template" "webinar-details") $webinar }}
  {{ $sectionBlock:= dict "template" "section" "type" "split" "background" "subtle-emphasis" "background2" "default" "blocks" (slice $headerBlock $webinarBlock) }}
  {{ partial "blocks/section/section" (dict "Block" $sectionBlock "Page" $.Page) }}

{{- end -}}