<!-- in order to pass on page parameters from within loops -->
{{- $page := .Page -}}
<!-- bn = block name -->
{{- $bn := "breadcrumbs" -}}
<!-- classess to add to this block -->
{{- $classes := $bn -}}

<!-- Block options -->
{{- $backText := .Block.back_text | default "Back" -}}
{{- $backLink := .Block.back_link | default "/" -}}
{{- $iconName := .Block.icon | default "list" -}}

<!-- Back icon -->
{{- $iconBlock := dict "icon" $iconName "size" "medium" "color" "inherit" -}}
{{- $backIcon := partial "blocks/icon/icon" (dict "Block" $iconBlock "Page" $page) -}}

<!-- Layout -->
<section class="{{- $classes -}}">
  <div class="{{- $bn -}}__inner">
    <a class="{{- $bn -}}__link" href="{{- $backLink -}}">
      <span class="{{- $bn -}}__icon">{{- $backIcon -}}</span>
      <span class="{{- $bn -}}__text">
        {{- $backText -}}
      </span>
    </a>
  </div>
</section>
