{{ $page := .Page }}
{{ $Site := .Page.Site }}
<!-- bn = block name -->
{{ $bn := "page-summary" }}

<!-- Classes to add to the outer element -->
{{ $classes := printf "%s %s--service" $bn $bn }}

{{ $servicePage := $page.Site.GetPage .Block.service }}
{{ $service := $servicePage.Params }}
{{ $href := $servicePage.RelPermalink }}
{{ $weight := $service.weight }}
{{ $title := $service.title }}
{{ $description := $service.description }}
{{ $varName := $title | urlize }}
{{ $weight := $service.weight }}

<!-- Add theme -->
{{ $classes = printf "%s theme--%s" $classes $varName }}

<!-- Features of this service -->
{{ $featuresOfService := partial "functions/getFeatures" (dict "Service" $servicePage "Site" $Site) }}

<!-- Other services (all services excluding this one) -->
{{ $otherServices := where (where $Site.Pages "Type" "services") "Kind" "page" | complement (slice $servicePage)  }}

<!-- Next lowest service -->
{{ $lowerService := "" }}
{{ range $otherService := $otherServices }}
  {{ if eq $otherService.Params.weight (sub $weight 1) }}
    {{ $lowerService = $otherService }}
  {{ end }}
{{ end }}

<!-- Features available to this service, but not "lower-level" services -->
<!-- Features that are included in services with a lower weight (order) -->
{{ $featuresLowerServices := slice }}
{{ range $otherService := $otherServices }}
  {{ if lt $otherService.Params.weight $weight }}
    {{ $featuresLowerService := partial "functions/getFeatures" (dict "Service" $otherService "Site" $Site) }}
    {{ $featuresLowerServices = $featuresLowerServices | append $featuresLowerService }}
  {{ end }}
{{ end }}

<!-- Features unique to this service level -->
{{ $featuresUnique :=  $featuresOfService | complement $featuresLowerServices }}

<!-- Feature names as a lists of strings -->
{{ $featuresToList := slice }}
{{ range $featuresUnique }}
  {{ $featuresToList = $featuresToList | append .Params.title }}
{{ end }}

<!-- Brush stroke to use behind the title text -->
<!-- Alternate the two brush stroke background styles between different services -->
<!-- Check if weight is even or odd -->
{{ $i := 2 }}
{{ if (modBool $weight 2) }}
  {{ $i = 1 }}
{{ end }}
{{ $brushStrokeBkg := partial "blocks/svg/svg" (dict "Block" (dict "name" (printf "brush-stroke-%d" $i)) "Page" $page) }}

<div class="{{ $classes }}">

  <div class="{{ $bn }}__header">

    <span class="{{ $bn }}__icon">
      {{ partial "blocks/badge/badge" (dict "Block" (dict "page" $servicePage.File.Path "type" "icon-only") "Page" $page) }}
    </span>
    <h3 class="{{ $bn }}__title">
      {{ $brushStrokeBkg }}
      <span class="{{ $bn }}__title-text">{{ $title }}</span>
    </h3>
  </div>

  <p class="{{ $bn }}__description">{{ $description }}</p>
  <!-- If the lower service has a summary page (i.e. it's not the free membership), -->
  <!-- advertise that this feature includes everything in lower service as well -->
  {{- if $lowerService.Params.render_page -}}
    <p class="{{ $bn }}__includes-phrase">Everything in
      {{$lowerService.Params.title }}, and...
    </p>
  {{- end -}}
  <div class="{{ $bn }}__feature-list">
    {{ partial "blocks/checklist/checklist" (dict "Block" (dict "items" $featuresToList "num_cols" 1 "compact" true) "Page" $page) }}
  </div>
  <div class="{{ $bn }}__buttons">

    {{ $buttonBlock := dict "text" "Learn more" "type" "internal page" "internal_link" $servicePage.File.Path "color" "tertiary" }}
    {{ partial "blocks/button/button" (dict "Block" $buttonBlock "Page" $page) }}

    {{ $cta := $service.cta }}
    {{ with $cta }}
      {{ $buttonBlock2 := (dict "text" .text "type" .type "external_link" .external_link  "color" "primary")  }}
      {{ partial "blocks/button/button" (dict "Block" $buttonBlock2 "Page" $page) }}
    {{ end }}

  </div>
</div>