{{ $page := .Page }}
<!-- bn = block name -->
{{ $bn := "page-summary" }}
<!-- Classes to add to the outer element -->
{{ $classes := printf "%s %s--jobs" $bn $bn }}

{{ $webinar := dict }}
{{ $href := "" }}

<!-- get the most recent webinar if auto select -->
{{ if .Block.auto_select }}
  <!-- get all webinars in order of webinar_datetime, with most recent listed first -->
  {{ $all_webinars := where ($page.Site.RegularPages.ByParam "webinar_datetime").Reverse "Section" "webinars" }}
  {{ range first 1 $all_webinars }}
    {{ $webinar = .Params }}
    {{ $href = .Permalink }}
  {{ end }}
  <!-- Otherwise, use the given webinar -->
{{ else if .Block.webinar }}
  {{ $webinarPage := $page.Site.GetPage .Block.webinar }}
  {{ with $webinarPage }}
    {{ $webinar = .Params }}
    {{ $href = $webinarPage.RelPermalink }}
  {{ end }}
{{ end }}

{{ if $webinar }}

  {{ $status := partial "functions/getWebinarStatus" $webinar }}
  {{ $pillBlock := partial "functions/getWebinarPill" $status }}
  {{ $datetime := (time $webinar.webinar_datetime).UTC }}

  <!-- add status as a modifier class -->
  {{ with $status }}
    {{ $classes = printf "%s webinar--st-%s" $classes $status }}
  {{ end }}

  <!-- Get the speaker names -->
  {{ $speakerInfo := partial "functions/getPeopleInfo" (dict "People" $webinar.speakers "Page" $page )}}

  <!-- Get the image, if there is one -->
  {{ $image := $webinar.image | default "" }}

  {{ $cardBlock := dict "clickable" true "href" $href "image" (dict "src" $image) "title" $webinar.title "subtitle" $speakerInfo.names_string "pill" $pillBlock "description" $webinar.short_abstract "datetime" (dict "time" $datetime "format" "Mon 02 Jan 2006" ) }}

  <div class="{{ $classes }}">
    {{ partial "blocks/card/card" (dict "Block" $cardBlock "Page" $page )}}
  </div>

{{ end }}