<!-- in order to pass on page parameters from within loops -->
{{ $page := .Page }}
<!-- bn = block name -->
{{ $bn := "contact-form" }}
<!-- Classes to add to the outer-most element -->
{{ $classes := $bn }}

<!-- Block options and their default values -->
{{ $thanksText := .Block.thanks_text | default "Thanks for your message! We'll get back to you as soon as possible." }}

<!-- TODO: -->

<form class="{{ $classes }}" name="contact" action="/thank-you/" method="POST" data-netlify="true">

  <input type="hidden" name="form-name" value="contact"/>
  <!-- Text input-->

  <div class="{{ $bn }}__field-and-label">
    <input class="{{ $bn }}__field" id="contact-form-name" name="Name" type="text" placeholder="Ada Lovelace" required="true" aria-required="true" autocomplete="on">
    <label class="{{ $bn }}__label" for="Name">Your name (required)</label>
  </div>
  <!-- Text input-->
  <div class="{{ $bn }}__field-and-label">
    <input class="{{ $bn }}__field" id="contact-form-email" name="Email" type="email" placeholder="ada.lovelace@example.com" required="true" aria-required="true" autocomplete="on" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
    <label class="{{ $bn }}__label" for="Email">Your e-mail address (required)</label>
  </div>
  <!-- Text input-->
  <div class="{{ $bn }}__field-and-label">
    <input class="{{ $bn }}__field" id="contact-form-subject" name="Subject" type="text" placeholder="Question about DataONE" required="true" aria-required="true" autocomplete="off">
    <label class="{{ $bn }}__label" for="Subject">Subject (required)</label>
  </div>
  <!-- Textarea -->
  <div class="{{ $bn }}__field-and-label">
    <textarea class="{{ $bn }}__field {{ $bn }}__field--textarea" id="contact-form-message" name="Message" placeholder="How can we help?" rows="8" autocomplete="off" required="true" aria-required="true"></textarea>
    <label class="{{ $bn }}__label" for="Message">Your message (required)</label>
  </div>
  <!-- Button -->

  <div class="{{ $bn }}__button">
    {{ $buttonParams := dict "color" "primary" "html_tag" "button" "id" "Form-submit" "type_attr" "submit" "text" "Contact DataONE" "icon" "send" }}
    {{ partial "blocks/button/button" (dict "Block" $buttonParams "Page" $page) }}
  </div>
</form>