{{- $page := .Page -}}
{{- $metrics := .Page.Site.Data.metrics.metrics -}}
{{- $dateUpdated := .Page.Site.Data.metrics.updated -}}
<!-- bn = block name -->
{{- $bn := "metrics" -}}

{{- $classes := $bn -}}
{{- with .Block.type -}}
  {{- if ne . "default" -}}
    {{- $classes = print $classes " metrics--" . -}}
  {{- end -}}
{{- end -}}

{{- $iconSettings := dict "color" "inherit" "size" "large" -}}

<div class="{{- $classes -}}">

  <!-- DOWNLOADS -->
  <div class="{{- $bn -}}__metric metrics__downloads">

    <div class="{{- $bn -}}__name">
      <span class="{{- $bn -}}__icon">
        {{- partial "blocks/icon/icon" (dict "Block" (merge $iconSettings (dict "icon" "download-cloud")) "Page" $page) -}}
      </span>
      Downloads
    </div>
    <div class="{{- $bn -}}__integer">
      {{- partial "functions/roundMillsOrThous" $metrics.downloads -}}
    </div>
  </div>

  <!-- VIEWS -->
  <div class="{{- $bn -}}__metric metrics__views">

    <div class="{{- $bn -}}__name">
      <span class="{{- $bn -}}__icon">
        {{- partial "blocks/icon/icon" (dict "Block" (merge $iconSettings (dict "icon" "eye")) "Page" $page) -}}
      </span>
      Dataset views
    </div>
    <div class="{{- $bn -}}__integer">
      {{- partial "functions/roundMillsOrThous" $metrics.views -}}
    </div>
  </div>

  <!-- NUMBER OF DATASETS -->
  <div class="{{- $bn -}}__metric metrics__datasets">

    <div class="{{- $bn -}}__name">
      <span class="{{- $bn -}}__icon">
        {{- partial "blocks/icon/icon" (dict "Block" (merge $iconSettings (dict "icon" "database")) "Page" $page) -}}
      </span>
      Datasets in the network
    </div>
    <div class="{{- $bn -}}__integer">
      {{- partial "functions/roundMillsOrThous" $metrics.datasets -}}
    </div>
  </div>

  <span class="{{- $bn -}}__as-of-date">as of
    {{- $dateBlock := dict "change_timezone" false "localize" false "format" "January 2, 2006" "time" $dateUpdated -}}
    {{- partial "blocks/datetime/datetime" (dict "Block" $dateBlock "Page" $page) -}}
  </span>

  <div class="{{- $bn -}}__more-metrics-link" href="">
    {{- $buttonBlock := dict "text" "See more metrics" "color" "quaternary" "type" "external website" "external_link" "https://search.dataone.org/profile" -}}
    {{- partial "blocks/button/button" (dict "Block" $buttonBlock "Page" $page) -}}
  </div>

</div>