.contact-info {
  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn           : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix       : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // #{$prefix}- : var( , );

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  display       : grid;
  grid-auto-flow: row;
  grid-gap      : 3rem;
  max-width     : 290px;

  address {
    font-style : normal;
    font-size  : 1.2rem;
    line-height: 1.4;
    font-weight: 500;
  }

  &__location {
    display              : grid;
    grid-template-columns: 30px auto;
    grid-gap             : 1rem;
  }

  &__socials {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap             : .5rem;
    width                : 100%;
    justify-items        : center;
  }

  &__social-link {
    stroke          : white;
    background-color: var(--c-major-accent, grey);
    @include circle-link;

    &:hover {
      filter: brightness(1.05);
    }
  }
}
