.contact-info {
  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn                           : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix                       : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  #{$prefix}-c-icon             : var(--section-fc-body, var(--c-foreground-on-default, black));
  #{$prefix}-c-button-background: var(--c-major-accent, grey);

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  display                       : grid;
  grid-auto-flow                : row;
  grid-gap                      : 3rem;
  max-width                     : 290px;

  &__address {
    font-size            : var(--fs-large, 1.22rem);
    line-height          : 1.4;
    font-weight          : var(--fw-bold, 500);
    display              : grid;
    grid-template-columns: 30px auto;
    grid-gap             : 1rem;
    stroke               : var(#{$prefix}-c-icon);

    address {
      font-style: normal;
    }

  }

  @include style-links("&__email");

  &__icon {
    margin-top: .25rem;
  }

  &__socials {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(3.13rem, 1fr));
    grid-gap             : .5rem;
    width                : 100%;
    justify-items        : center;
  }

  &__social-link {
    stroke          : white;
    background-color: var(#{$prefix}-c-button-background);
    @include circle-link;
  }
}
