// ==== GLOBAL SPACING VARIABLES ====
// screen width at which to switch from mobile view to desktop view
$breakpoint: {{.Site.Params.mobileDesktopBreakpoint}}px; //
$rfs-breakpoint: $breakpoint; // overwrite the responsive font size default
$default-border-radius: .25rem;
$content-width: 1040px; // max width of desktop content
$nav-height: 7rem; // navigation bar height on desktop
$lr-padding: .8rem; // padding on the left and right for full-width elements

@import "colors.scss"; // Sass colour definitions
@import "fonts.scss"; // Import font families
@import "functions.scss"; // Custom sass functions
@import "mixins-and-placeholders.scss"; // mixins used in various blocks
@import "responsive-font-size.scss"; // (rfs) functions to make length properties responsive
@import "variables.scss"; // CSS variables set at root, change depending on scope
@import "utility.scss"; // utility classes
// page layout components
@import "article.scss";

*,
*:after,
*:before {
  box-sizing: inherit;
}
// ==== BODY ====

.page {
  box-sizing     : border-box;
  font-size      : 100%;
  margin         : 0;
  min-height     : 100vh;
  scroll-behavior: smooth;
  overflow-y     : scroll;
  max-width      : 100vw;
  @include low-motion;
}

// ==== IMPORT ALL BLOCK SCSS ====
// Import all .scss files contained one subdirectory below the "blocks" directory
{{$blockDir :=  .Site.Params.blockDir}}
{{range (readDir $blockDir)}}


  // check that the name of the item in the blocks directory is another directory
  {{$dirname := .Name}}
  {{$blocksubdir := path.Join $blockDir $dirname}}
  {{$stat := os.Stat $blocksubdir}}
  {{if $stat.IsDir}}


    // read through the subdirectories of the block directory
    {{range (readDir $blocksubdir)}}


      // If the file is an .scss file, import it
      {{if (strings.HasSuffix .Name "scss")}}
        {{$blockscss := path.Join $blocksubdir .Name}}
        @import "{{ $blockscss }}";
      {{end}}
    {{end}}
  {{end}}
{{end}}