// ==== COLORS ====
// Functions
/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
// 
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
// 
@function shade($color, $percentage) {
  // @return mix(black, $color, $percentage);
  @return mix(black, $color, (100-$percentage));
}
/// Return a standardized shade/tint of a given colour
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $level - A number between 1 and 9 that represents the desired shade
/// @return {Color}
//
@function col($color, $level) {
  @if($level == 1) {
    $mod1: tint($color, 95);
    $mod2: desaturate($mod1, 10);
    @return $mod2;
  }
  @if($level == 2) {
    $mod1: tint($color, 85);
    $mod2: desaturate($mod1, 8);
    @return $mod2;
  }
  @if($level == 3) {
    $mod1: tint($color, 65);
    $mod2: desaturate($mod1, 6);
    @return $mod2;
  }
  @if($level == 4) {
    $mod1: tint($color, 45);
    $mod2: desaturate($mod1, 3);
    @return $mod2;
  }
  @if($level == 5) {
    @return $color;
  }
  @if($level == 6) {
    $mod1: shade($color, 85);
    $mod2: saturate($mod1, 5);
    @return $mod2;
  }
  @if($level == 7) {
    $mod1: shade($color, 65);
    $mod2: saturate($mod1, 8);
    @return $mod2;
  }
  @if($level == 8) {
    $mod1: shade($color, 48);
    $mod2: saturate($mod1, 10);
    @return $mod2;
  }
  @if($level == 9) {
    $mod1: shade($color, 25);
    $mod2: saturate($mod1, 12);
    @return $mod2;
  }
}
// -- Color names (-cn)
$cn-teal: #1ababc;
$cn-yellow: #EED268;
$cn-blue-grey: #507d8f;
$cn-green: #2bd085;
$cn-blue: #2793C0;
$cn-red: #F57065; //
// -- Color variables (-c)
// Use the variables defined below directly on elements.
$c-primary: $cn-yellow;
$c-secondary: $cn-teal;
$c-tertiary: $cn-blue;
$c-quaternary: $cn-green;
$c-neutral: $cn-blue-grey;
$c-info: $cn-blue;
$c-warning: $cn-yellow;
$c-success: $cn-green;
$c-error: $cn-red;