
// ==== FONTS ====



// FONTS - TODO - decide which of these we will actually use, remove the rest,
// including the .woff files. Then add preloader to head.html.
/* work-sans-100 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Work Sans Thin'), local('WorkSans-Thin'),
       url('../fonts/work-sans-v5-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/work-sans-v5-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-200 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 200;
  src: local('Work Sans ExtraLight'), local('WorkSans-ExtraLight'),
       url('../fonts/work-sans-v5-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/work-sans-v5-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-300 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Work Sans Light'), local('WorkSans-Light'),
       url('../fonts/work-sans-v5-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/work-sans-v5-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'),
       url('../fonts/work-sans-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/work-sans-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-500 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Work Sans Medium'), local('WorkSans-Medium'),
       url('../fonts/work-sans-v5-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/work-sans-v5-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-600 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'),
       url('../fonts/work-sans-v5-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/work-sans-v5-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-700 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Work Sans Bold'), local('WorkSans-Bold'),
       url('../fonts/work-sans-v5-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/work-sans-v5-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-800 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Work Sans ExtraBold'), local('WorkSans-ExtraBold'),
       url('../fonts/work-sans-v5-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/work-sans-v5-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-900 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Work Sans Black'), local('WorkSans-Black'),
       url('../fonts/work-sans-v5-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/work-sans-v5-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* martel-200 - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 200;
  src: local('Martel UltraLight'), local('Martel-UltraLight'),
       url('../fonts/martel-v4-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/martel-v4-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* martel-300 - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 300;
  src: local('Martel Light'), local('Martel-Light'),
       url('../fonts/martel-v4-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/martel-v4-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* martel-regular - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 400;
  src: local('Martel'), local('Martel-Regular'),
       url('../fonts/martel-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/martel-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* martel-600 - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 600;
  src: local('Martel DemiBold'), local('Martel-DemiBold'),
       url('../fonts/martel-v4-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/martel-v4-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* martel-700 - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 700;
  src: local('Martel Bold'), local('Martel-Bold'),
       url('../fonts/martel-v4-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/martel-v4-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* martel-800 - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 800;
  src: local('Martel ExtraBold'), local('Martel-ExtraBold'),
       url('../fonts/martel-v4-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/martel-v4-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* martel-900 - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 900;
  src: local('Martel Heavy'), local('Martel-Heavy'),
       url('../fonts/martel-v4-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/martel-v4-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// fs- = font size
$fs-page-title: 2.1em;
$fs-page-title-desktop: 2.7em;
$fs-page-intro: 1.25em;
$fs-h2: 2.0em;
$fs-section-intro: 1.25em;
$fs-h3: 1.2em;

$fs-larger: 1.15em;
$fs-body: 1em;
$fs-smaller: 0.85em;

$fs-nav-item: 1em;
$fs-button: 0.9em;

// Font (-f)
@mixin f-common {
  font-family: 'Work Sans', serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// ==== COLOURS ====

// -- Color names (-cn)
// Define here but do not apply these colors directly to elements.
// Instead use them to define their function, below.
$cn-neutral-darker: #2c2f48;
$cn-neutral-dark: #474d69;
$cn-neutral: #9698A6;
$cn-neutral-light: #D1D3DC;
$cn-neutral-lighter: #f2f6f9;
$cn-neutral-lightest: white;

$cn-turquoise: #00ce9e;//#23ba82;

$cn-vibrant-blue: #2f52bb;

$cn-dark-yellow: #D69E2E;
$cn-yellow: #f7bd1b;
$cn-light-yellow: #FEFCBF;

$cn-green: #38a169;
$cn-light-green: #c6f6d5;

$cn-blue: #3182CE;
$cn-light-blue: #BEE3F8;


// New colours:

// Brand teal
$cn-teal-100: #E8F7F8;
$cn-teal-200: #C4EAEE;
$cn-teal-300: #A1DDE3;
$cn-teal-400: #5BC4CF;
$cn-teal-500: #14ABBA; // brand colour
$cn-teal-600: #129AA7;
$cn-teal-700: #0C6770;
$cn-teal-800: #094D54;
$cn-teal-900: #063338;

// Yellow
$cn-yellow-100: #FDFBF0;
$cn-yellow-200: #FBF4D9;
$cn-yellow-300: #F8EDC3;
$cn-yellow-400: #F3E095;
$cn-yellow-500: #EED268;
$cn-yellow-600: #D6BD5E;
$cn-yellow-700: #8F7E3E;
$cn-yellow-800: #6B5F2F;
$cn-yellow-900: #473F1F;


$cn-midnight-blue: #0C3247;

// -- Color variables (-c)
// Use the variables defined below directly on elements.

// Foreground elements, e.g. "color" property of font
// Everything that would normally be black in a black and white book with line drawings.
$c-foreground-emphasis: $cn-neutral-darker;
$c-foreground: $cn-neutral-dark;
$c-foreground-subtle: $cn-neutral;

// everything that would normally be white in a black and white book with line drawings.
$c-background: $cn-neutral-lightest;
$c-background-emphasis: $cn-neutral-lighter; // default background color for sections with bkg fill

// accent colours
$c-primary-accent: $cn-yellow-500;
$c-secondary-accent: $cn-teal-500;
$c-tertiary-accent: $cn-light-blue;

// for field colours
$c-form-fields: $cn-neutral-lighter;

// borders (e.g. in tables)
$c-border: $cn-neutral-light;

// info
$c-info-foreground: $cn-blue;
$c-info-background: $cn-light-blue;

// warning
$c-warning-foreground: $cn-dark-yellow;
$c-warning-background: $cn-light-yellow;

// success
$c-success-background: $cn-light-green;
$c-success-foreground: $cn-green;

//error


// ==== SPACING VARIABLES ====

// max width of desktop content
$content-width: 1040px;

// gap between grid cells
$grid-gap: 1.8rem;

// spacing between blocks
$inter-section-spacing: 6.5rem;

// spacing between blocks
$intra-section-spacing: 2rem;

// spaces between small items, pargraphs, etc.
$inter-item-spacing: 1rem;

// padding on left and right for smaller screens
$mobile-lr-padding: 0.8rem;


// rules for larger (desktop) screens
@mixin desktop {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

// make element centered and no larger than the max width for desktop content
@mixin limit-width {
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;
}

// add padding on the left and right for full width elements on smaller screens
@mixin mobile-lr-padding {
  padding-left: $mobile-lr-padding;
  padding-right: $mobile-lr-padding;
  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }
}

// add padding to the left and right when screen is smaller than the max content width
@mixin medium-lr-padding {
  padding-left: $mobile-lr-padding;
  padding-right: $mobile-lr-padding;
  @media only screen and (min-width: calc($content-width - (2 * $mobile-lr-padding))) {
    padding-left: 0;
    padding-right: 0;
  }
}

// rules for users who prefer less animation
@mixin low-motion {
  @media (prefers-reduced-motion: reduce) {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}

// center an svg
@mixin center-svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// removes default browser styles for button elements
@mixin button-reset{
  border: none;
  margin: 0;
  text-decoration: none;
  background: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:focus{
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}

// anything with an un-classed link in it (e.g. markdown)
@mixin text-link {
  a {
    color: $c-secondary-accent;
    text-decoration: none;
  }
  a:visited{
    color: $c-secondary-accent;
  }
  a:hover{
    color: $c-foreground;
  }
  a:active{
    color: $c-foreground;
  }
  
}

// material-design-like card style
@mixin card {
  padding: 10px 20px;
  border-radius: 4px;
  background: $c-background;
  box-shadow: 3px 4px 25px -12px rgba(0, 0, 0, 0.4);
  max-width: 100%;
  width: auto;
}
