// rules for larger (desktop) screens
@mixin desktop {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}
// -----------------------------------------------------------------------------
/// Add font styles that are common to all blocks
@mixin f-common {
  font-family            : var(--ff-body, 'Work Sans', sans-serif);
  font-size              : var(--fs-body, 1rem);
  font-weight            : var(--fw-body, 400);
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// -----------------------------------------------------------------------------
/// Style link elements in all states using css vars
///
/// @param {Selector} $selector A selector to style (e.g. "a", ""&__link")
///
@mixin style-links($selector) {

  $fallback: lightseagreen;

  #{$selector} {
    color          : var(--fc-link, $fallback);
    text-decoration: none;
    transition     : color .15s linear;
  }

  #{$selector}:visited {
    color: var(--fc-link, $fallback);
  }

  #{$selector}:hover {
    color: var(--fc-link-hover, $fallback);
    filter: brightness(1.1);
  }

  #{$selector}:active {
    color: var(--fc-link-hover, $fallback);
  }

  #{$selector}:focus {
    color: var(--fc-link-hover, $fallback);
  }
}

// -----------------------------------------------------------------------------
// elements with SVG backgrounds

%svg-background {
  position       : absolute;
  top            : 0;
  left           : 0;
  width          : 100%;
  height         : 100%;
  display        : flex;
  align-items    : center;
  justify-content: center;
  overflow       : hidden;

  svg {
    height     : 100%;
    width      : auto;
    flex-shrink: 0;
    @include desktop {
      height: 100%;
      width : 100%;
    }
  }
}
// -----------------------------------------------------------------------------
@mixin fs-h3 {
  font-size     : var(--fs-large, 1.45rem);
  color: var(--section-fc-title, --c-foreground-emphasis-on-default);
  text-transform: uppercase;
  letter-spacing: .025em;
  font-weight   : 500;
  margin        : 0 0 1.5rem;
  line-height   : 1.32;
}
// make element centered and no larger than the max width for desktop content
@mixin limit-width {
  max-width   : $content-width;
  margin-left : auto;
  margin-right: auto;
}
// rules for users who prefer less animation
@mixin low-motion {
  @media (prefers-reduced-motion: reduce) {
    animation-duration       : .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration      : .01ms !important;
    scroll-behavior          : auto !important;
  }
}
// removes default browser styles for button elements
@mixin button-reset {
  border            : none;
  margin            : 0;
  text-decoration   : none;
  background        : none;
  cursor            : pointer;
  -webkit-appearance: none;
  -moz-appearance   : none;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}
// material-design-like card style
@mixin card {
  padding         : .625rem 1.25rem;
  border-radius   : var(--br-default, 0.25rem);
  background      : white;
  box-shadow      : .19rem .25rem 1.5rem -0.75rem var(--section-c-shadow-3, rgba(0, 0, 0, 0.4));
  max-width       : 100%;
  width           : auto;
  background-color: var(--section-c-background-lighter, white);
}

// to display background image of a header, div, section, etc. properly
@mixin bkg-img {
  background-position: 50%;
  background-repeat  : no-repeat;
  background-size    : cover;
}
@mixin circle-link {
  text-decoration: none;
  font-style     : normal;
  text-align     : center;
  display        : block;
  border-radius  : 50%;
  width          : 50px;
  height         : 50px;
  display        : flex;
  align-items    : center;
  justify-content: center;
  box-shadow: 0 1px 9px -2px var(--section-c-shadow-2, rgba(0,0,0,0.01)), 0 1px 3px -2px var(--section-c-shadow-1, rgba(0,0,0,0.05));
  filter: brightness(1.07);

  &:hover {
    transform : translateY(-0.5px);
    filter: brightness(1.01);
    box-shadow: 0 2px 15px -1px var(--section-c-shadow-2, rgba(0,0,0,0.01)), 0 3px 5px -1px var(--section-c-shadow-1, rgba(0,0,0,0.05));
  }
}

// Set section color variables based on variables defined at the root.
@mixin set-section-colors($background-color, $prefix: "--section") {
  
  $root-color-prefix: "--c";
  
  // fall back colors for alerts
  $alerts-fallback: (
    "success": green,
    "info": blue,
    "warning": yellow,
    "error": red
  );
  
  $link-fallback: lightseagreen;
  $background-fallback-light: white;
  $background-fallback-dark: lightgray;
  $foreground-fallback: grey;
  $foreground-emphasis-fallback: black;
  $foreground-light-fallback: lightgray;
  $accent-fallback: mediumorchid;
  $accent-light-fallback: thistle;
  
  #{$prefix}-fc-body                 : var(#{$root-color-prefix}-foreground-on-#{$background-color}, $foreground-fallback);
  #{$prefix}-fc-title                : var(#{$root-color-prefix}-foreground-emphasis-on-#{$background-color}, $foreground-emphasis-fallback);
  --fc-link                          : var(#{$root-color-prefix}-accent-on-#{$background-color}, $link-fallback);
  --fc-link-hover                    : var(#{$root-color-prefix}-accent-emphasis-on-#{$background-color}, $link-fallback);

  // Default foreground
  #{$prefix}-c-foreground-very-subtle: var(#{$root-color-prefix}-foreground-very-subtle-on-#{$background-color}, $foreground-light-fallback);
  #{$prefix}-c-foreground-subtle     : var(#{$root-color-prefix}-foreground-subtle-on-#{$background-color}, $foreground-light-fallback);

  // Default background
  #{$prefix}-c-background-lighter    : var(#{$root-color-prefix}-#{$background-color}-lighter, $background-fallback-light);
  #{$prefix}-c-background            : var(#{$root-color-prefix}-#{$background-color}, $background-fallback-light);
  #{$prefix}-c-background-darker     : var(#{$root-color-prefix}-#{$background-color}-darker, $background-fallback-dark);
  #{$prefix}-c-background-darker-2   : var(#{$root-color-prefix}-#{$background-color}-darker-2, $background-fallback-dark);
  
  // Alert colors
  @each $alert-type, $default in $alerts-fallback {
    #{$prefix}-c-#{$alert-type} : var(#{$root-color-prefix}-#{$alert-type}-on-#{$background-color}, $default);
    #{$prefix}-c-#{$alert-type}-subtle : var(#{$root-color-prefix}-#{$alert-type}-subtle-on-#{$background-color}, col($default,2));
  }

  @if(($background-color == "default") or ($background-color == "always-dark")) {
    #{$prefix}-c-icon-background   : var(#{$root-color-prefix}-major-accent-very-subtle-on-#{$background-color}, $foreground-light-fallback);
    #{$prefix}-c-icon-foreground   : var(#{$root-color-prefix}-major-accent-on-#{$background-color}, $foreground-fallback);

    #{$prefix}-c-accent-emphasis   : var(#{$root-color-prefix}-major-accent-emphasis-on-#{$background-color}, $accent-fallback);
    #{$prefix}-c-accent            : var(#{$root-color-prefix}-major-accent-on-#{$background-color}, $accent-fallback);
    #{$prefix}-c-accent-subtle     : var(#{$root-color-prefix}-major-accent-subtle-on-#{$background-color}, $accent-light-fallback);
    #{$prefix}-c-accent-very-subtle: var(#{$root-color-prefix}-major-accent-very-subtle-on-#{$background-color}, $accent-light-fallback);
  } @else {
    #{$prefix}-c-icon-background   : var(#{$root-color-prefix}-#{$background-color}-lighter-2, $foreground-fallback);
    #{$prefix}-c-icon-foreground   : var(#{$root-color-prefix}-foreground-on-#{$background-color}, $foreground-light-fallback);

    #{$prefix}-c-accent-emphasis   : var(#{$root-color-prefix}-accent-emphasis-on-#{$background-color}, $accent-fallback);
    #{$prefix}-c-accent            : var(#{$root-color-prefix}-accent-on-#{$background-color}, $accent-fallback);
    #{$prefix}-c-accent-subtle     : var(#{$root-color-prefix}-accent-subtle-on-#{$background-color}, $accent-light-fallback);
    #{$prefix}-c-accent-very-subtle: var(#{$root-color-prefix}-accent-very-subtle-on-#{$background-color}, $accent-light-fallback);
  }

  // Shadows
  @for $i from 1 through 4 {
    $o                       : $i/10;
    #{$prefix}-c-shadow-#{$i}: var(#{$root-color-prefix}-shadow-#{$i}-on-#{$background-color}, rgba(0,0,0,$o));
  }
}
