
// CSS TODO:
// 1) fixes for old IE & css-grid
// 2) make HTML5 semantic elements behave like <div> elements in legacy browsers. */
// section, article, aside, footer, header, nav {
//   display: block;
// }
// 3) css optimizer

// ==== the one global reset === /
* {
  box-sizing: border-box;
}

// ==== vars ====

// max width of desktop content
$content-width: 1040px;

// gap between grid cells
$grid-gap: 26px;

// spacing between blocks
$inter-section-spacing: 60px;

// spacing between blocks
$intra-section-spacing: 30px;

// padding on left and right for smaller screens
$mobile-lr-padding: 15px;

// screen width at which to switch from mobile view to desktop view
$breakpoint: 640px;

// font vars
$h1fontsize: 42px;




// ==== mixins ====

// rules for larger (desktop) screens
@mixin desktop {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

// rules for users who prefer prefers-reduced-motion
@mixin low-motion {
  @media (prefers-reduced-motion: reduce) {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}

// make element centered and no larger than the max width for desktop content
@mixin limit-width {
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;
}

// add padding on the left and right for full width elements on smaller screens
@mixin mobile-lr-padding {
  padding-left: $mobile-lr-padding;
  padding-right: $mobile-lr-padding;
  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }
}

// add padding to the left and right when screen is smaller than the max content width
@mixin medium-lr-padding {
  padding-left: $mobile-lr-padding;
  padding-right: $mobile-lr-padding;
  @media only screen and (min-width: calc($content-width - (2 * $mobile-lr-padding))) {
    padding-left: 0;
    padding-right: 0;
  }
}

// center an svg
@mixin center-svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}




// ==== PAGE ====

.page {
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
  @include low-motion;
}

// ==== ARTICLE ====

.article{
  display: grid;
}

// ==== ICONS ====

.icon {
  margin: 0;
  svg{
    display: block;
  }
}

.icon--sm {
  width: 20px;
  height: 20px;
}
.icon--med {
  width: 30px;
  height: 30px;
}
.icon--lg {
  width: 45px;
  height: 45px;
}

// ==== HEADER ====

.header {
  
  margin-top: $inter-section-spacing;
  margin-bottom: $inter-section-spacing;
  
  &__content {

    @include limit-width;
    display: flex;
    flex-direction: column;
    
    @include desktop {
      display: grid;
      grid-template-columns: .45fr .55fr;
      grid-template-rows: auto;
      grid-gap: 0 $grid-gap;
    }
    
  }
  
  &__text {
    text-align: center;
    min-height: fit-content;
    padding-bottom: $inter-section-spacing;
    @include medium-lr-padding;
    @include desktop{
      text-align: left;
    }
  }
  
  &__title {
    font-size: $h1fontsize;
  }
  
  &__ctas {
    
  }
  
  &__figure {
    
    margin:0;
    width: 100%;
    
    svg {
      width: 100%;
      @include center-svg;
    }
    
  }
  
}

// ==== BACKGROUNDS ====
// backgrounds behind some sections

.background {
  padding: 90px 0 30px 0;
  margin-bottom: $inter-section-spacing;
}

.background--metrics {
  background-color: #dbdbdb;
}

// ==== SECTION ====

.section{

  display: grid;
  justify-self: center;
  @include limit-width;
  margin-bottom: $inter-section-spacing;
  padding-top: $intra-section-spacing;
  
  &__icon{
    justify-self: center;
  }
  
  &__title{
    width: 100%;
    text-align: center;
    @include medium-lr-padding;
  }
  
  &__intro{
    text-align: center;
    @include medium-lr-padding;
    padding-bottom: $intra-section-spacing;
  }
  
  &__button{
    margin-left: auto;
    margin-right: auto;
  }

}

// ==== FEATURE LIST  ====
// image on left, list of features on right

.feature-list {
  
  display: grid;
  @include desktop {
    grid-template-columns: .45fr .55fr;
    grid-gap: 0 $grid-gap;
    align-items: center;
  }
  
  &__figure{
    display: grid;
    background-color: yellow;
    margin: 0;
    svg {
      max-width: 300px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
    @include desktop {
      align-self: stretch;
      svg {
        max-width: none;
        height: 100%;
        justify-self: flex-end;
        margin-left: inherit;
        margin-right: inherit;
      }
    }
  }
  
  &__list{
    @include mobile-lr-padding;
  }
}

// === FULL FEATURE === //
// a sub-section with details about some feature, including a figure,
// CTA buttons, figures, detail lists, etc.
.full-feature {
  
  padding-top: $intra-section-spacing;
  display: block;
  flex-direction: column;
  
  @include medium-lr-padding;
  
  @include desktop {
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: 1fr;
    grid-gap: 0 $grid-gap;
  }

  
  &__figure {
    
    svg{
      @include center-svg;
      height: 100%;
      max-height: 250px;
    }
  }
  
  &__description{
    
    padding-top: 0;
    padding-bottom: $intra-section-spacing;
    @include mobile-lr-padding;
    
  }
  
  
  
}


// === MINI FEATURES CONTAINER === //
// Three sections, each with quick details of some feature

.mini-features {
  display: grid;
  grid-template-rows: repeat(3,auto);
  grid-gap: $grid-gap 0;
  @include limit-width;
  @include medium-lr-padding;
  @include desktop {
    grid-gap: 0 $grid-gap;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
	}
  
}

// === MINI FEATURE === //
// Brief description of a feature with a medium icon and title

.mini-feature {

  &__title {
  }
  
  &__paragraph {
  }
  
  &--icon-left{
    display: grid;
    grid-template-columns: 0.06fr 0.94fr;
    align-items: center;
    grid-gap: 0 15px;
  }
  
}

// === DETAIL === //
// Less than a mini feature - just a small icon and some text, no title

.detail {
  
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  
  &__icon{
    
  }
  
  &__paragraph {
    
  }
  
}


// ==== TEMP ====


// temporary background fills to view layout better
.global-footer,
.global-header,
{
  background-color: #ececeb;
  padding: 1rem;
  margin: 0;
}

.button{
  background-color: #9b9b9b;
  color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 1px;
  display: block;
}
