@import "definitions.scss";

// ==== just one global reset === /
* {
  box-sizing: border-box;
}

// ==============================
//    SMALL COMPONENTS
// ==============================

// ==== ICONS ====

.icon {
  margin: 0;
  svg{
    display: block;
  }
}

.icon--sm {
  width: 20px;
  height: 20px;
}
.icon--med {
  width: 30px;
  height: 30px;
}
.icon--lg {
  width: 45px;
  height: 45px;
}

// ==== PILL ====

.pill {
  @include f-common;
  font-size: 11px;
  line-height: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .03em;
  display: inline-block;
  padding: 4px 9px;
  border-radius: 60px;
  background: $c-foreground;
  color: $c-background;
  
  &--secondary{
    background: $c-secondary-accent;
  }
}

// ==== BUTTON ====

.button{
  white-space: nowrap;
  @include f-common;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  font-size: $fs-button;
  background-color: $c-foreground;
  color: $c-background;
  display: table; // a version of width: fit-content supported on more browsers. 
  padding: 0px 1.25em;
  border-radius: 1px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  box-shadow: 0 3px 5px rgba(50,50,93,.09), 0 1px 3px rgba(0,0,0,.07);
  cursor: pointer;
  
  &:hover{
    background-color: lighten($c-foreground, 1%);
    transform: translateY(-0.5px);
    box-shadow: 0 6px 13px rgba(50,50,93,.1), 0 2px 5px rgba(0,0,0,.08);
  }
}

.button--primary {
  background-color: $c-primary-accent;
  
  &:hover{
    background-color: lighten($c-primary-accent, 1%);
  }
}

.button--secondary {
  background-color: $c-foreground;
  color: $c-background;
  
  &:hover{
    background-color: lighten($c-foreground, 1%);
  }
}

.button--tertiary {
  background-color: $c-background;
  color: $c-primary-accent;
  box-shadow: 0 1px 5px rgba(50,50,93,.08), 0 1px 3px rgba(0,0,0,.06);
  
  &:hover{
    background-color: $c-background;
    color: lighten($c-primary-accent, 2%);
    box-shadow: 0 3px 10px rgba(50,50,93,.08), 0 2px 5px rgba(0,0,0,.07);
  }
}

// === LOGO === //

.logo{
  svg{
    display: block;
    fill: $c-foreground;
  }
  
  &--subtle{
    svg{
      fill: $c-foreground-subtle;
    }
  }
}

// ==============================
//   BLOCKS
// ==============================

// ==== NAVIGATION BAR === 

.global-header {
  background-color: $c-background-emphasis;
  width: 100%;
  padding: 1rem;
  margin: 0;
}

.toplevel-nav {
  list-style-type:none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px 15px;
  grid-template-areas: "logo logo" ". .";
  @include limit-width;
  
  @include desktop {
    grid-template-columns: minmax(143px, 2.5fr) minmax(130px, 1fr) minmax(130px, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "logo . .";
  }
  
  &__logo{
    grid-area: logo;
    justify-self: center;
    
    @include desktop {
      justify-self: left;
    }
  }
  
  &__item{
    justify-self: center;
    align-self: center;
    padding: 5px;
    @include f-common;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: bolder;
    font-size: $fs-smaller;
    
  }
  
  &__link{
    color: $c-foreground-subtle;
    white-space: nowrap;
    text-decoration: none;
  }
  
  &__item--active{
    
    .toplevel-nav__link{
      color: $c-foreground-emphasis;
    }
    
  }
}

// ==== FOOTER === 

.global-footer {
  
  background-color: $c-background-emphasis;
  padding: $intra-section-spacing 0;
  margin: 0;
  @include f-common;
                        
  &__content{
    @include limit-width;
    @include medium-lr-padding;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 0.1fr 0.1fr;
    grid-gap: 15px 0;
    grid-template-areas:  "sitemap"
                          "contact"
                          "logo"
                          "fineprint";
                          
    @include desktop{
      grid-template-columns: 3fr 1fr;
      grid-template-rows: 0.1fr 0.1fr 0.4fr 0.4fr;
      grid-gap: 15px 15px;
      grid-template-areas:  "sitemap logo"
                            "sitemap ."
                            "contact contact"
                            "fineprint fineprint";
    }
  }
                        
  &__logo{
    grid-area: logo;
    justify-self: center;
    
  }
  
  &__site-map{
    list-style-type: none;
    grid-area: sitemap;
    margin: 0;
    padding: 0;
    text-align: center;
    
    @include desktop{
      text-align: left;
    }
  }
  
  &__site-map-item{
  }
  
  &__site-map-link{
    color: black;
    text-decoration: none;
    color: $c-foreground-subtle;
  }
  
  &__contact{
    grid-area: contact;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-gap: .5em;
    grid-auto-flow: row;
    margin-bottom: $inter-item-spacing;
  }
  
  &__fine-print{
    margin-top: $intra-section-spacing;
    font-size: $fs-smaller;
    grid-area: fineprint;
    line-height: 1.1;
    color: $c-foreground-subtle;
  }
}

// ==== PAGE ====

.page {
  background-color: $c-background;
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  @include low-motion;
  overflow-y: scroll;
  max-width: 100vw;
}

// ==== ARTICLE ====

.article{
  display: grid;
}

// ==== HEADER ====

.header {
  
  padding-top: calc( 1.5 * #{$intra-section-spacing} );
  padding-bottom: $inter-section-spacing;
  
  &__content {

    @include limit-width;
    display: flex;
    flex-direction: column;
    
    @include desktop {
      display: grid;
      grid-template-columns: 0.7fr 1fr;
      grid-gap: 0 $grid-gap;
    }
    
  }
  
  &__text {
    text-align: center;
    min-height: fit-content;
    padding-bottom: $inter-section-spacing;
    @include medium-lr-padding;
    @include desktop{
      text-align: left;
    }
  }
  
  &__title {
    margin-top: #{$intra-section-spacing * 2};
    margin-bottom: $intra-section-spacing;
    @include f-common;
    font-size: $fs-page-title;
    line-height: 1;
    color: $c-foreground-emphasis;
    font-weight: bold;
  }
  
  &__intro {
    margin-bottom: #{$intra-section-spacing * 1.5};
    @include f-common;
    font-size: $fs-page-intro;
    line-height: 1.4;
    font-weight: 300;
  }
  
  &__ctas {
    display: grid;
    justify-items: left;
    grid-gap: 0.5em;
    grid-auto-flow: column dense;
    justify-content: center;
    
    @include desktop {
      justify-content: left;
    }
    
  }
  
  &__figure {
    
    margin:0;
    overflow-x: hidden;
    display: flex;
    
    svg {
      width: 100%;
      max-width: 500px;
      min-width: 300px;
      margin-top: auto;
      margin-bottom: auto;
      @include center-svg;
    }
    
  }
  
}

// ==== BACKGROUNDS ====
// backgrounds behind some sections

.background {
  padding: 90px 0 30px 0;
  margin-bottom: $inter-section-spacing;
}

.background--metrics {
  background-color: $c-background-emphasis;
}

// ==== SECTION ====

.section{

  width: 100%;
  display: grid;
  justify-self: center;
  @include limit-width;
  margin-bottom: $inter-section-spacing;
  padding-top: $intra-section-spacing;
  padding-bottom: $intra-section-spacing;
  
  &__icon{
    justify-self: center;
  }
  
  &__title{
    width: 100%;
    text-align: center;
    @include medium-lr-padding;
    @include f-common;
    font-size: $fs-h2;
    color: $c-foreground-emphasis;
    font-weight: 400;
  }
  
  &__intro{
    text-align: center;
    @include medium-lr-padding;
    padding-bottom: $intra-section-spacing;
    @include f-common;
    font-size: $fs-section-intro;
    line-height: 1.4;
    font-weight: 300;
  }
  
  &__button{
    margin-left: auto;
    margin-right: auto;
  }

}

// ==== FEATURE LIST  ====
// image on left, list of features on right

.feature-list {
  
  display: grid;
  @include desktop {
    grid-template-columns: .45fr .55fr;
    grid-gap: 0 $grid-gap;
    align-items: center;
  }
  
  &__figure{
    display: grid;
    margin: 0;
    svg {
      max-width: 300px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
    @include desktop {
      align-self: stretch;
      svg {
        max-width: none;
        height: 100%;
        justify-self: flex-end;
        margin-left: inherit;
        margin-right: inherit;
      }
    }
  }
  
  &__list{
    @include mobile-lr-padding;
  }
}

// === FULL FEATURE === //
// a sub-section with details about some feature, including a figure,
// CTA buttons, figures, detail lists, etc.
.full-feature {
  
  padding-top: $intra-section-spacing;
  padding-bottom: $intra-section-spacing;
  display: flex;
  flex-direction: column;
  @include medium-lr-padding;
  
  @include desktop {
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: 1fr;
    grid-gap: 0 $grid-gap;
  }
  
  &__figure {
    
    margin: 0;
    display: flex;
    
    svg{
      @include center-svg;
      height: 100%;
      min-height: 200px;
      max-height: 250px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  
  &__description{

    padding-top: 0;
    padding-bottom: $intra-section-spacing;
    
  }
  
  &__intro{
    @include f-common;
    font-size: $fs-larger;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: calc(2*#{$inter-item-spacing});
    
    @include text-link;
  }
  
  &__title{
    @include f-common;
    font-size: $fs-h3;
    margin-top: calc(2*#{$inter-item-spacing});
    margin-bottom: $inter-item-spacing;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: $c-foreground-emphasis;
  }
  
  &--figleft{
    
    @include desktop {
      .full-feature__figure {
        order: 1;
      }
      .full-feature__description{
        order: 2;  
      }
    }
  }
  
  &--figtop{
    @include desktop {
      display: flex;
      flex-direction: column;
    }
    .full-feature__figure {
      order: 1;
    }
    .full-feature__description{
      order: 2;  
    }

  }

}

// Container for two full features
.two-full-features {
  @include desktop {
    @include limit-width;
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: 1fr;
    grid-gap: 0 $grid-gap;
  }
}

// === MINI FEATURES CONTAINER === //
// Three sections, each with quick details of some feature

.mini-features {
  display: grid;
  grid-template-rows: repeat(3,auto);
  grid-gap: $grid-gap 0;
  @include limit-width;
  @include medium-lr-padding;
  @include desktop {
    grid-gap: 0 $grid-gap;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
	}
  
}

// === MINI FEATURE === //
// Brief description of a feature with a medium icon and title

.mini-feature {

  &__title {
    @include f-common;
    @font-size: $fs-h3;
    color: $c-foreground-emphasis;
    margin-bottom: 0;
    margin-top: calc(2 * #{$inter-item-spacing});
    margin-bottom: calc(0.6 * #{$inter-item-spacing});
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  
  &__paragraph {
    @include f-common;
    font-size: $fs-body;
    line-height: 1.4;
    margin-top: $inter-item-spacing;
    margin-bottom: $inter-item-spacing;
    margin-top: 0em;
  }
  
  &--icon-left{
    display: grid;
    grid-template-columns: 0.06fr 0.94fr;
    align-items: center;
    grid-gap: 0 15px;
  }
  
}

// === DETAIL === //
// Less than a mini feature - just a small icon and some text, no title

.detail {
  
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  
  &__icon{
    
  }
  
  &__paragraph {
    margin-top: $inter-item-spacing;
    @include f-common;
    font-size: $fs-body;
    line-height: 1.25;
  }
  
  &__emphasis{
    font-style: normal;
    font-weight: bolder;
  }
  
}

// === CHECKLIST ===
// A simple checklist
.checklist{
  
  padding: $intra-section-spacing $mobile-lr-padding $intra-section-spacing $mobile-lr-padding;
  margin: 0 0 $inter-item-spacing 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  
  &__item{
    display: block;
    @include f-common;
    font-size: $fs-larger;
    white-space: nowrap;
  }
  
  &__checkmark{
    margin-right: 10px;
    display: inline-block;
    width: 14px;
    height: 14px;
    fill: $c-primary-accent;
  }
  
}

// === MAILER LITE SIGN UP FORM ===
// Use the built in classes in case we need to change this form in the full-feature
.section--waitlist-signup{
}

// the outer div containing the form
.ml-subscribe-form{
  @include medium-lr-padding;
}

// the email field
.form-control{
  background-color: $c-form-fields;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 1px;
  padding: 15px;
  margin-bottom: 20px;
  @include f-common;
  font-size: $fs-smaller;
}

// the button
.ml-subscribe-form .primary{
  border: none;
  @extend .button;
  @extend .button--primary;
}

// the group of checkboxes
.ml-block-groups {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


.label-description {
  display: inline-block;
  @include f-common;
  padding-top: 0.5em;
}
