// screen width at which to switch from mobile view to desktop view
$breakpoint: {{.Site.Params.mobileDesktopBreakpoint}}px;

@import "definitions.scss";

// ==== GLOBAL RESET === /

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// === NEWS & JOBS ==== //
// styles placed here temporarily
.news-list{
  @include f-common;
  @include text-link;
  @include mobile-lr-padding;
  @include limit-width;
  
  .newletter-signup{
    background-color: $c-background-emphasis;
    padding: 2rem;
    margin-bottom: 5rem;
  }
  
  &__title{
    margin-top: $intra-section-spacing;
    margin-bottom: $intra-section-spacing;
    font-size: $fs-page-title;
    line-height: 1.1;
    color: var(--col-title);
    font-weight: bold;
  }
}
// styles placed here temporarily
.job-list{
  @include f-common;
  @include text-link;
  @include mobile-lr-padding;
  @include limit-width;
  width: 100%;
  
  &__title{
    margin-top: $intra-section-spacing;
    margin-bottom: $intra-section-spacing;
    font-size: $fs-page-title;
    line-height: 1.1;
    color: var(--col-title);
    font-weight: bold;
  }
}

// ==== BODY ====

.page {
  
  // Use css variables for colours so that we can easily re-colour sub-block
  // elements within modified blocks.
  --col-title: #{$c-foreground-emphasis};
  --col-font: #{$c-foreground};
  --col-backgroud: #{$c-background};

  background: var(--col-backgroud);
  color: var(--col-font);
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  @include low-motion;
  overflow-y: scroll;
  max-width: 100vw;
    
}

// ==== ARTICLE ====

.article {
  
  display: grid;
  
}


// ==== IMPORT ALL BLOCK SCSS ====
// Import all .scss files contained one subdirectory below the "blocks" directory

{{ $blockdir :=  .Site.Params.blockDir}}

{{ range (readDir $blockdir) }}
  // check that the name of the item in the blocks directory is another directory
  {{ $dirname := .Name }}
  {{ $blocksubdir := path.Join $blockdir $dirname }}
  {{ $stat := os.Stat $blocksubdir }}
  {{ if $stat.IsDir }}
    // read through the subdirectories of the block directory
    {{ range (readDir $blocksubdir) }}
    // If the file is an .scss file, import it
      {{ if (strings.HasSuffix .Name "scss") }}
        {{ $blockscss := path.Join $blocksubdir .Name }}
        @import "{{ $blockscss }}";
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
