.table {
  border-collapse: collapse;

  thead th {
    background-color: col($c-neutral, 5);
    color           : col($c-neutral, 1);
    padding-top     : 1rem;
    padding-bottom  : 1rem;
  }

  &.table-striped tr:nth-child(odd) {
    background-color: col($c-neutral, 1);
  }

  &.table-striped tr:nth-child(even) {
    background-color: white;
  }
}