// ==== GLOBAL SPACING VARIABLES ====
// Screen width at which to switch from mobile view to desktop view
$breakpoint             : {{ .Site.Params.mobileDesktopBreakpoint }}px;
// Overwrite the responsive font size default (used by responsive-font-size.scss)
$rfs-breakpoint: $breakpoint;
$default-border-radius  : .25rem;
// Max width of desktop content
$content-width          : 1040px;
// Navigation bar height on desktop
$nav-height             : 6.5rem;
// Padding on the left and right for full-width elements
$lr-padding             : .8rem;
// The maximum z-index of any element
$z-max                  : 100;
$footer-section-overlap : 20rem;
$header-section-overlap : 3rem;

// ==== COLORS ====
// -- Color names (-cn)
$cn-teal: #16acc0;
$cn-yellow: #EED268;
$cn-blue-grey: #3f788f;//#507d8f;
$cn-green: #34bb96;
$cn-blue: #0688d2;
$cn-red: #F57065;
$cn-purple: #4f5bb5;

// -- Accent colors
$ac-yellow: #E8EABA;
$ac-beige: #F4DECE;
$ac-green: #c0d2d3;
$ac-purple: #D9D1D9;
$ac-blue: #E1E9ED;
