// ==== COLORS ====
// -- Color names (-cn)
$cn-teal: #1ab7bc;
$cn-yellow: #EED268;
$cn-blue-grey: #507d8f;
$cn-green: #25cb9e;
$cn-blue: #2793C0;
$cn-red: #F57065;

// Assume all of these colour variables could change based on page theme
:root {
  $theme-default-colors: (
    neutral     : col($cn-blue-grey, 5),
    background  : col($cn-blue-grey, 1),
    foreground  : col($cn-blue-grey, 5),
    major-accent: (base: col($cn-teal, 5), foreground: col($cn-blue-grey, 1), accent: col($cn-yellow, 5)),
    minor-accent: (base: col($cn-yellow, 5), foreground: col($cn-yellow, 8), accent: col($cn-teal, 5)),
    rare-accent : (base: col($cn-green, 6), foreground: col($cn-blue-grey, 1), accent: col($cn-yellow, 5)),
    alerts      : (success: $cn-green, info: $cn-blue, warning: col($cn-yellow,6), error: $cn-red)
  );

  @include set-theme-colors($theme-default-colors);

  //
  // Some default font colours
  // ==========================================================================
  --fc-link            : var(--c-major-accent-on-default);
  --fc-link-hover      : var(--c-major-accent-emphasis-on-default);

  //
  // Font families
  // ==========================================================================
  --ff-title           : #{$ff-serif}; // highest level titles, e.g. page headline
  --ff-title2          : #{$ff-serif}; // e.g. section level titles
  --ff-title3          : #{$ff-sans-serif}; // e.g. h3 titles of sub-section blocks
  --ff-body            : #{$ff-sans-serif}; // all other fonts

  //
  // Font sizes (responsive)
  // ==========================================================================
  @include rfs(.8rem, --fs-smallest);
  @include rfs(.85rem, --fs-x-small);
  @include rfs(.9rem, --fs-smaller);
  @include rfs(1rem, --fs-small);
  @include rfs(1.1rem, --fs-medium);
  @include rfs(1.25rem, --fs-large);
  @include rfs(1.48rem, --fs-larger);
  @include rfs(1.75rem, --fs-x-large);
  @include rfs(2.6rem, --fs-xx-large);
  @include rfs(3.0rem, --fs-xxx-large);
  @include rfs(3.2rem, --fs-largest);

  //
  // Font weights
  // ==========================================================================
  --fw-light           : 300;
  --fw-normal          : 400;
  --fw-bold            : 500;
  --fw-bolder          : 600;
  --fw-x-bold          : 800;
  --fw-xx-bold         : 900;

  //
  // Border radius
  // ==========================================================================
  --br-default         : .2rem;

}
