.feature-simple {
  @include f-common;

  &__title {
    color: var(--col-title);
    @include f-h3;
  }

  &__paragraph {
    font-size    : $fs-body;
    line-height  : 1.4;
    margin-top   : $inter-item-spacing;
    margin-bottom: $inter-item-spacing;
    margin-top   : 0;
  }

  &--icon-left {
    display              : grid;
    grid-template-columns: .06fr .94fr;
    align-items          : center;
    grid-gap             : 0 7px;
  }
}