.feature-simple {

  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn        : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix    : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // #{$prefix}- : var( , );

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  $top-margin: 1.5rem;

  &__icon {
    margin: 2.5rem 0;
  }

  &__title {
    color         : var(--section-fc-title, black);
    font-size     : 1.4rem;
    font-weight   : 500;
    line-height   : 1.6;
    letter-spacing: .01em;
  }

  &__paragraph {
    font-size    : 1.2rem;
    line-height  : 1.6;
    margin-bottom: 1rem;
    margin-top   : 0;
  }

  @include style-links("&__headline-link");

  &--icon-left {
    display              : grid;
    grid-template-columns: .06fr .94fr;
    align-items          : center;
    grid-gap             : 0 7px;

    .feature-simple__icon {
      align-self: baseline;
      margin-top: calc(#{$top-margin} + 8px);
    }

    .feature-simple__title {
      margin-top: $top-margin;
    }
  }
}
