---
new_page_extension: md
auto_deploy: false
admin_path: ''
webhook_url: 
sections:
- type: document
  path: README_content-editors.md
  label: "\U0001F914Help"
  read_only: true
- type: heading
  label: Pages
- type: document
  path: content/_index.md
  label: Homepage
- type: directory
  path: content
  label: Services
  create: all
  match: "*"
  exclude: _index.md
  templates:
  - markdown
  - _page_blocks
- type: directory
  path: content/network
  label: Network
  create: all
  match: "**/*"
  templates:
  - _page_blocks
- type: directory
  path: content/resources
  label: Resources
  create: all
  match: "*"
  templates:
  - _page_blocks
  - markdown
- type: directory
  path: content/about
  label: About
  create: all
  match: "*"
  templates:
  - _page_blocks
  - markdown
- type: directory
  path: content/news
  label: News
  create: all
  match: "**/*"
- type: directory
  path: content/jobs
  label: Jobs
  create: all
  match: "**/*"
  templates:
  - _page_news
- type: heading
  label: Data
- type: directory
  path: content/people
  label: People
  create: all
  match: "**/*"
  exclude: index.md
  templates:
  - person
- type: document
  path: data/membernodes.yaml
  label: Member Nodes
upload_dir: content/uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.60.1
  preview_output_directory: public
  preview_docker_image: forestryio/hugo:latest
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: hugo server -D -E -F --port 8080 --bind 0.0.0.0 --renderToDisk
    -d public
version: 0.59.1
