// ======
// 
$line-left-mobile: 1rem; // distance from left for the line & points on mobile
$circle-size: 22px; // size of circles on line  at each timeline event
$point-size: 15px; // size of points at each timeline event
$point-dist-top: 2.5rem; // point's vertical distance from top of event

.timeline {
  position    : relative;
  margin-right: auto;
  margin-left : auto;
  // the line for the time line
  &::before {
    content   : '';
    background: $c-primary;
    opacity   : .5;
    width     : 5px;
    height    : 95%;
    position  : absolute;
    left      : $line-left-mobile;
    transform : translateX(-50%);
    @include desktop {
      left: 50%;
    }
  }

  &__event {
    width        : 100%;
    margin-bottom: 2rem;
    // point
    .card::after {
      content     : '';
      display     : block;
      clear       : both;
      position    : absolute;
      border-style: solid;
      width       : 0;
      height      : 0;
      top         : calc((#{$point-dist-top} + (.5 * #{$circle-size})) - (.5 * #{$point-size}) - 4px );
      left        : -$point-size;
      border-width: ((2/3) * $point-size) $point-size ((2/3) * $point-size) 0;
      border-color: transparent col($c-neutral, 1) transparent transparent;
    }

    &:nth-child(even) {
      .card {
        @include desktop {
          margin-left: 55%;
        }
      }

      .card__date {
        right: auto;
        left : 0;
      }
    }

    &:nth-child(odd) {
      .card::after {
        left: -$point-size;
        @include desktop {
          left        : auto;
          right       : -$point-size;
          border-width: ((2/3) * $point-size) 0 ((2/3) * $point-size) $point-size;
          border-color: transparent transparent transparent col($c-neutral, 1);
        }
      }
    }
  }

  &__circle {
    width        : $circle-size;
    height       : $circle-size;
    background   : $c-primary;
    border-radius: 50%;
    position     : absolute;
    left         : $line-left-mobile;
    margin-top   : $point-dist-top;
    margin-left  : -.5 * $circle-size;
    @include desktop {
      left: 50%;
    }
  }

  .card {
    margin-left: 3.5rem;
    width      : auto;
    @include desktop {
      max-width  : auto;
      margin-left: 0;
      width      : 45%;
    }
  }
}
