// ===== FEATHER ICONS ===== 
// see https://github.com/feathericons/feather
.feather-icon {
  width: 24px;
  height: 24px;
  stroke: $c-foreground;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  
  &--sz-tiny{
    width: 14px;
    height: 14px;
    margin-bottom: -3px;
    margin-top: -3px;
    stroke-width: 2.5px;;
  }
  
  &--sz-small{
    width: 18px;
    height: 18px;
    margin-bottom: -3px;
    margin-top: -2px;
    stroke-width: 2px;;
  }
  
  &--col-white {
    stroke: white;
  }
  
  &--col-inherit{
    stroke: inherit;
  }
  
}
