{{- define "main" -}}

  <!-- The page -->
  {{- $page := $.Page -}}

  <!-- Meeting parameters -->
  {{- $meeting := $page.Params -}}

  {{- $title := print "DataONE Community Meeting " $meeting.year -}}

  <!-- ========================================== BLOCKS ========================================== -->

  <!-- Breadcrumb navigation -->
  {{- $breadcrumbsBlock := dict "back_text" "Back to community page" "back_link" "/community/" -}}
  {{- partial "blocks/breadcrumbs/breadcrumbs" (dict "Block" $breadcrumbsBlock "Page" $page ) -}}

  <!-- Registration button & messages for when meeting is over or registration is closed -->
  {{- $buttonBlock := dict -}}
  {{- $intro := $meeting.overview -}}
  {{- if eq $meeting.status "upcoming" -}}
    {{- with $meeting.registration_link -}}
      {{- $buttonBlock = dict "template" "button" "text" "Register now" "type" "external website" "external_link" . "color" "primary" -}}
    {{- end -}}
  {{- else -}}
    {{- $message := "" -}}
    {{- if eq $meeting.status "registration closed" -}}
      {{- $message = $meeting.registration_closed_message | default "Registration is now closed" -}}
    {{- else if eq $meeting.status "meeting over" -}}
      {{- $message = $meeting.meeting_over_message | default "This meeting has already happened. Browse notes and videos from the meeting below." -}}
    {{- end -}}
    {{- $messageFormatted := partial "blocks/markdown/markdown" (dict "Block" ( dict "content" (printf "**%s**" $message) "style" "info" ) "Page" $page ) -}}
    {{- $intro = print $intro "<br><br>" $messageFormatted -}}
  {{- end -}}

  <!-- Image -->
  {{- $image := dict -}}
  {{- $headerType := "text-only" -}}
  {{- with $meeting.image -}}
    {{- $image = dict "template" "image" "src" . -}}
    {{- $headerType = "image on right" -}}
  {{- end -}}

  <!-- Header -->
  {{- $headerBlock := dict "template" "header" "type" $headerType "title" $title "intro" $intro "buttons" (slice $buttonBlock) "image" $image -}}
  {{- partial "blocks/header/header" (dict "Block" $headerBlock "Page" $page) -}}

  <!-- Logistics & agenda sections -->

  {{- $meetingPageSections := slice -}}

  {{- with $meeting.logistics -}}
    {{- $meetingPageSections = $meetingPageSections | append (dict "template" "markdown" "content" .) -}}
  {{- end -}}
  {{- with $meeting.agenda -}}
    {{- $agendaBlock := merge (dict "template" "agenda" "timezone" $meeting.timezone) (dict "agenda" . ) -}}
    {{- $sectionBlock := dict "template" "section" "id" "agenda" "title" "Agenda" "blocks" (slice $agendaBlock) -}}
    {{- partial "blocks/section/section" (dict "Block" $sectionBlock "Page" $page) -}}
  {{- end -}}

{{- end -}}