{{- define "main" -}}

  <!-- The page -->
  {{- $page := $.Page -}}

  <!-- Meeting parameters -->
  {{- $meeting := $page.Params -}}

  {{- $title := print "DataONE Community Meeting " $meeting.year -}}

  <!-- ========================================== BLOCKS ========================================== -->

  <!-- Breadcrumb navigation -->
  {{- $breadcrumbsBlock := dict "back_text" "Back to community page" "back_link" "/community/" -}}
  {{- partial "blocks/breadcrumbs/breadcrumbs" (dict "Block" $breadcrumbsBlock "Page" $page ) -}}

  <!-- Registration button & messages for when meeting is over or registration is closed -->
  {{- $buttonBlock := dict -}}
  {{- $buttonBlock2 := dict -}}
  {{- $intro := $meeting.overview -}}
  {{- if eq $meeting.status "upcoming" -}}
    {{- $buttonText := $meeting.registration_text | default "Register now" -}}
    {{- with $meeting.registration_link -}}
      {{- $buttonBlock = dict "template" "button" "text" $buttonText "type" "external website" "external_link" . "color" "primary" -}}
    {{- end -}}
    {{- with $meeting.agenda -}}
      {{- $buttonBlock2 = dict "template" "button" "text" "View the schedule" "type" "internal page" "external_link" "#agenda" "color" "secondary" -}}
    {{- end -}}
  {{- else -}}
    {{- $message := "" -}}
    {{- if eq $meeting.status "registration closed" -}}
      {{- $message = $meeting.registration_closed_message | default "Registration is now closed" -}}
    {{- else if eq $meeting.status "meeting over" -}}
      {{- $message = $meeting.meeting_over_message | default "This meeting has already happened. Browse notes and videos from the meeting below." -}}
    {{- end -}}
    {{- $messageFormatted := partial "blocks/markdown/markdown" (dict "Block" ( dict "content" (printf "**%s**" $message) "style" "info" ) "Page" $page ) -}}
    {{- $intro = print $intro "<br><br>" $messageFormatted -}}
  {{- end -}}

  <!-- Image -->
  {{- $image := dict -}}
  {{- $headerType := "text-only" -}}
  {{- with $meeting.image -}}
    {{- $image = dict "template" "image" "src" . -}}
    {{- $headerType = "center image" -}}
  {{- end -}}

  <!-- Header -->
  {{- $pillBlock := "" -}}
  {{- if and (eq $meeting.status "upcoming") ($meeting.registration_link) -}}
    {{- $pillBlock = dict "template" "pill" "text" "Registration open" "style" "quaternary" -}}
  {{- end -}}
  {{- $headerBlock := dict "template" "header" "background_color" "half-light-half-transparent" "type" $headerType "title" $title "intro" $intro "buttons" (slice $buttonBlock $buttonBlock2) "image" $image "pill" $pillBlock -}}
  {{- partial "blocks/header/header" (dict "Block" $headerBlock "Page" $page) -}}

  <!-- Event details -->
  {{- $eventSummaryBlock := dict "template" "event-details" "date_start" $meeting.date_start "date_end" $meeting.date_end "location" $meeting.location -}}
  {{- $eventDetailsBlock := dict "template" "markdown" "content" $meeting.location.details -}}
  {{- $colsBlock := dict "template" "columns" "num_cols" "2" "columns" (slice $eventSummaryBlock $eventDetailsBlock) -}}

  <!-- Logistics & agenda sections -->

  {{- $logBlock := (dict "template" "markdown" "content" $meeting.logistics) -}}
  {{- $sectionBlock := dict "template" "section" "type" "card" "title" "Logistics" "background" "subtle-emphasis" "blocks" (slice $colsBlock $logBlock) -}}
  {{- partial "blocks/section/section" (dict "Block" $sectionBlock "Page" $page) -}}

  {{- with $meeting.agenda -}}
    {{- $agendaBlock := merge (dict "template" "agenda" "timezone" $meeting.timezone) (dict "agenda" . ) -}}
    {{- $sectionBlock := dict "template" "section" "background" "data-wave-subtle" "id" "agenda" "type" "card" "small_title" "Agenda" "icon" "calendar" "blocks" (slice $agendaBlock) -}}
    {{- partial "blocks/section/section" (dict "Block" $sectionBlock "Page" $page) -}}
  {{- end -}}

{{- end -}}
