<!-- in order to pass on page parameters from within loops -->
{{ $page := .Page }}
<!-- bn = block name -->
{{ $bn := "item-with-icon" }}
<!-- classes to add to the outer-most element -->
{{ $classes := $bn }}

{{ $icon := "" }}
{{ if eq (printf "%T" .Block.icon) "string" }}
  {{ $iconBlock := dict "icon" .Block.icon "size" "medium"}}
  {{ $icon = partial "blocks/icon/icon" (dict "Block" $iconBlock "Page" $page ) }}
{{ end}}

<div class="{{ $classes }}">
  <div class="{{ $bn }}__icon">
    {{- with $icon -}}

      {{ . }}

    {{- end -}}
  </div>
  <p class="{{ $bn }}__paragraph">
    {{ if .Block.name }}
      <em class="{{ $bn }}__emphasis">{{ .Block.name }}
        -
      </em>
    {{ end }}
    <span class="markdown">
      {{ .Block.text | markdownify }}
    </span>
  </p>
</div>