.item-with-icon {
  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn                  : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix              : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // #{$prefix}- : var( , );

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  display              : grid;
  grid-template-columns: 30px 1fr;

  &__icon {
    svg {
      margin-top  : calc(1.25rem + 4px);
      margin-right: 2px;
    }
  }

  &__paragraph {
    margin-top : 1rem;
    font-size : var(--fs-large, 1.22rem);
    line-height: 1.6;
  }

  &__emphasis {
    font-style : normal;
    font-weight : var(--fw-bold, 500);
    color      : var(--section-fc-body, black);
    font-size : var(--fs-large, 1.22rem);
  }

}
