.feature-table {

  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn                            : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix                        : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // Column headers, e.g. the names of the servives
  // #{$prefix}-fc-header           : var(--section-fc-title, gray);
  #{$prefix}-fs-header           : var(--fs-larger, 1rem);
  #{$prefix}-fs-header-mobile    : var(--fs-small, 0.8rem);
  #{$prefix}-fw-header           : var(--fw-bolder, 500);

  // Section (category) headers, e.g. rows that span all columns
  #{$prefix}-c-bkg-section-header: var(--section-c-background-darker-2, gray);
  #{$prefix}-fc-section-header   : var(--section-fc-body, black);
  #{$prefix}-fs-section-header   : var(--fs-small, 0.9rem);
  #{$prefix}-fw-section-header   : var(--fw-bolder, 500);

  // Feature names (e.g. row names)
  #{$prefix}-fc-feature-name     : var(--section-fc-title, gray);
  #{$prefix}-fs-feature-name     : var(--fs-small, 1rem);
  #{$prefix}-fw-feature-name     : var(--fw-normal, 400);

  // Other colors
  #{$prefix}-c-bkg               : var(--section-c-background, gray);
  #{$prefix}-c-border            : var(--section-c-background-darker-2, gray);
  #{$prefix}-c-stripe            : var(--section-c-background-lighter, white);
  #{$prefix}-c-sub-feature-icon  : var(--section-c-foreground-very-subtle, gray);

  // Other variables
  #{$prefix}-br                  : var(--br-default, 4px);

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  @include card;
  // overwrite card background color
  background-color               : var(#{$prefix}-c-bkg);
  // keep table from overflowing
  table-layout                   : fixed;
  width                          : 100%;
  border-collapse                : collapse;
  border-spacing                 : 0;

  &__col-header {

    text-align: center;
    text-align: -webkit-center;
    padding   : 1.7rem .5rem 1.6rem;
    width     : auto;

    @include desktop {
      width  : 22%;
      padding: 2rem .1 1.6rem;
    }

    &--feature {

      vertical-align: bottom;
      text-align    : left;
      padding-left  : 1rem;
      width         : auto;

      #{$bn}__col-title {
        font-weight: normal;
        color      : #{$prefix}-fc-section-header;
      }

    }

  }

  &__col-title {
    display    : block;
    margin     : .8rem 0;
    font-weight: var(#{$prefix}-fw-header);
    font-size  : var(#{$prefix}-fs-header-mobile);
    color      : var(-#{$prefix}-fc-header);
    @include desktop {
      font-size: var(#{$prefix}-fs-header);
    }

  }

  &__section-header-cell {
    background-color   : var(#{$prefix}-c-bkg-section-header);
    color              : var(#{$prefix}-fc-section-header);
    font-size          : var(#{$prefix}-fs-section-header);
    font-weight        : var(#{$prefix}-fw-section-header);
    border-bottom-width: 0;
    border-top-width   : 0;
    text-transform     : uppercase;
    letter-spacing     : .03em;
    padding            : .8rem;

  }

  // The first row after the section header needs a little extra padding
  &__section-header-row + #{$bn}__row #{$bn}__cell {
    padding-top: 1rem;
  }

  &__feature-name {
    margin     : 0;
    font-weight: var(#{$prefix}-fw-feature-name);
    font-size  : var(#{$prefix}-fs-feature-name);
    color      : var(-#{$prefix}-fc-feature-name);
  }

  @include style-links("&__feature-link");

  &__row--sub-feature #{$bn}__feature-name {
    margin-left: 1rem;
    @include desktop {
      margin-left: 1.5rem;
    }
  }

  &__row--has-sub-features {

    border-top-width: 3px;

    #{$bn}__feature-link,
    #{$bn}__feature-name {
      font-weight: var(--fw-x-bold);
    }
  }

  &__sub-feature-icon {
    stroke: var(#{$prefix}-c-sub-feature-icon);
  }

  &__body {
    font-size     : var(--fs-x-small, .85rem);
    line-height   : 1.45rem;
    vertical-align: top;
    padding-top   : 0;
  }

  &__cell {
    padding       : .5rem .2rem .5rem .5rem;
    @include desktop {
      padding: .5rem .5rem .5rem 1.5rem;
    }
    border-width  : 0;
    text-align    : center;
    vertical-align: middle;
    // height works as min-height for table cells
    height        : 3.1rem;
    color         : var(--theme-c, var(--section-fc-body, grey));

    &--feature {
      text-align: left;
    }
  }

  &__checkmark {
    @include floating-icon;
    margin-top: .19rem;
  }

  // The icon that has the description tooltip
  &__details {
    position: relative;
    cursor  : help;

    svg {
      pointer-events: none;
    }
  }

  &__row {
    border-width    : 0;
    border-top-width: 1px;
    border-color    : var(#{$prefix}-c-border);
    border-style    : solid;

    &--sub-feature {
      border-style: dotted;
    }

  }

  &__row--striped {
    background: var(#{$prefix}-c-stripe);
  }

  // Table border radius
  tr:first-child > td:first-child {
    border-top-left-radius: var(#{$prefix}-br);
  }

  tr:first-child > td:last-child {
    border-top-right-radius: var(#{$prefix}-br);
  }

  tr:last-child > td:first-child {
    border-bottom-left-radius: var(#{$prefix}-br);
  }

  tr:last-child > td:last-child {
    border-bottom-right-radius: var(#{$prefix}-br);
  }

}
