#feature-table {
  .feature-table-name-cell {
    padding-left  : 1rem;
    padding-bottom: 1rem;
  }

  .feature-table-name {
    margin: 10px 0;
  }

  .feature-table-description {
    color      : var(--section-fc-body, gray);
    font-weight: normal;
  }

  .feature-table-icon .icon {
    margin: auto;
  }

  .feature-table-category {
    width: 6em;
  }

  .feature-table-category-value span {
    text-align: center;
    width     : 100%;
    display   : inline-block;
  }

  @include style-links("a");
}
