<!-- in order to pass on page parameters from within loops -->
{{ $page := .Page }}
{{ $Site := .Page.Site }}
<!-- block name -->
{{ $bn := "feature-table" }}
<!-- classes for the outermost element -->
{{ $classes := $bn }}

{{ $features := where $Site.Pages "Type" "features" }}
{{ $features := where $features "Params.show_in_table" true }}

<!-- Feature categories -->
<!-- Get feature section page -->
{{ $sectionPage := dict }}
{{ range first 1 (where (where $Site.Pages "Type" "features") "Kind" "section") }}
  {{ $sectionPage = .Params }}
{{ end }}
<!-- Get categories -->
{{ $featureCategories := $sectionPage.categories  }}

<!-- Dictionary of readable service names paired with corresponding variable names -->
<!-- Must use a slice (list) to set the order. -->
<!-- Go maps are sorted alphabetically and there's no way around this. -->
<!-- TODO - get all these values directly from service pages -->
{{ $serviceNames := slice (dict "varName" "free" "readableName" "Free Membership") (dict "varName" "plus" "readableName" "DataONE Plus") (dict "varName" "hostedrepo" "readableName" "Hosted Repository") }}
{{ $numServices := len $serviceNames }}

<!-- Note, this block uses the non-BEM utlity classes theme--plus, theme--hostedrepo -->

<table class="{{ $classes }}">
  <thead>
    <tr>
      <th class="{{ $bn }}__col-header {{ $bn }}__col-header--feature">DataONE Feature</th>
      {{ range $serviceInfo := $serviceNames }}
        <th class="{{ $bn }}__col-header theme--{{ $serviceInfo.varName }}">
          {{ $serviceInfo.readableName }}
        </th>
      {{ end }}
    </tr>
  </thead>
  <tbody class="{{ $bn }}__body">

    {{ range $category := $featureCategories }}

      {{ if ne $category "misc" }}
        <tr class="{{ $bn }}__section-header-row">
          <td class="{{ $bn }}__section-header-cell" colspan="{{ add $numServices 1 }}">
            {{ $category }}
          </td>
        </tr>
      {{ end }}

      <!-- Group by category -->
      {{ $featuresInCategory := where $features ".Params.category" "==" $category }}

      <!-- Sort by each of the services -->
      {{ $featuresInCategorySorted := $featuresInCategory }}
      {{ $featuresInCategorySorted = $featuresInCategorySorted.ByParam "table_annotations" }}
      {{ $featuresInCategorySorted = $featuresInCategorySorted.ByParam "plus" }}
      {{ $featuresInCategorySorted = $featuresInCategorySorted.ByParam "free" }}
      {{ $featuresInCategorySorted = $featuresInCategorySorted.Reverse }}

      {{ range $index, $feaeture := $featuresInCategorySorted }}

        {{ $feature := $feaeture.Params }}
        {{ $url := $feaeture.RelPermalink }}

        <!-- Determines if row will be stripe color or not. -->
        <!-- Add stripe modifer as a variable so that sub-features are same col -->
        <!-- as parent -->
        {{ $striped := false }}
        {{if modBool $index 2 }}
          {{ $striped = true }}
        {{ end }}

        <!-- Make sure the feature is not set to be hidden from table -->
        {{ if or (eq $feature.show_in_table true) (eq $feature.show_in_table "true") }}

          <!-- A row for each feature... -->
          {{ $featureBlock := merge $feature (dict "url" $url) }}
          {{ partial "blocks/feature-table/feature-table-row" (dict "Block" (dict "feature" $featureBlock "serviceNames" $serviceNames "striped" $striped) "Page" $page ) }}

          <!-- ... and each sub-feature -->
          {{ with $feature.sub_features }}
            {{ range . }}
              {{ $subUrl := "" }}
              {{ $showLink := false }}
              {{ with .section_id }}
                {{ $subUrl = printf "%s#%s" (strings.TrimSuffix "/" $url ) . }}
                {{ $showLink = true }}
              {{ end }}
              {{ $subFeatureBlock := merge . (dict "url" $subUrl "render_page" $showLink "subFeature" "true") }}
              {{ partial "blocks/feature-table/feature-table-row" (dict "Block" (dict "feature" $subFeatureBlock "serviceNames" $serviceNames "striped" $striped) "Page" $page ) }}
            {{ end }}
          {{ end }}

        {{ end }}

      {{ end }}
    {{ end }}

  </tbody>
</table>