.two-columns{
  width: 100%;
  display: grid;
  grid-gap: 5rem 5rem;
  grid-template-rows: auto;
  grid-template-columns: auto;
  @include desktop{
    grid-template-columns: repeat(2, minmax(100px, 0.5fr));
    grid-template-rows: auto;
  }
  
  &__column{
    display: flex;
    justify-content: center;
  }
}
