<!-- in order to pass on page parameters from within loops -->
{{ $page := .Page }}
<!-- bn = block name -->
{{ $bn := "columns" }}
<!-- classess to add to this block -->
{{ $classes := $bn }}

{{ $numCols := .Block.num_cols | default 2 }}
{{ $alignment := .Block.alignment | default "center" }}

{{ with $numCols }}
  {{ $classes = print $classes " " $bn "--" . "cols" }}
{{ end }}

{{ with $alignment }}
  {{ $classes = print $classes " " $bn "--align-" . }}
{{ end }}

<div class="{{ $classes }}">
  {{- range .Block.columns -}}
    <div class="{{ $bn }}__column">
      {{ partial (printf "blocks/%s/%s.html" .template .template) (dict "Block" . "Page" $page) }}
    </div>
  {{- end -}}
</div>