<!-- in order to pass on page parameters from within loops -->
{{- $page := .Page -}}
<!-- bn = block name -->
{{- $bn := "global-header" -}}
<!-- classes to add to outer element -->
{{- $classes := $bn -}}
<!-- modifier classses based on section type -->
{{- $type := "" -}}
{{- if eq .Kind "home" -}}
  {{- $type = "homepage" -}}
{{- end -}}
{{- with $type -}}
  {{- $classes = print $classes " " $bn "--" . -}}
{{- end -}}
<!-- settings for menu icons -->
{{- $iconSettings := dict "color" "inherit" "stroke" "thicker" -}}

<header class="{{- $classes -}}" id="global-header">
  <nav class="nav">
    <!-- LOGO & HOME LINK -->
    <a class="nav__button nav__button--logo" href="{{- .Site.BaseURL -}}">
      {{- $buttonIconClass := "nav__button-icon" -}}
      {{- $buttonTextClass := "nav__button-text" -}}
      {{- if eq .Kind `home` -}}
        {{- $activeMod := "--active" -}}
        {{- $buttonIconClass = printf "%s %s%s" $buttonIconClass $buttonIconClass $activeMod -}}
        {{- $buttonTextClass = printf "%s %s%s" $buttonTextClass $buttonTextClass $activeMod -}}
      {{- end -}}
      <span class="{{- $buttonIconClass -}}">
        {{- partial "blocks/logo/logo" (dict "Block" (dict "type" "global-nav")) -}}
      </span>
      <span class="{{- $buttonTextClass -}}">Home</span>
    </a>
    <button class="nav__button nav__button--menu-toggle" id="global-menu-toggle" aria-label="Open primary menu" aria-expanded="false" aria-controls="global-menu">
      <span class="nav__button-icon">{{- partial "blocks/icon/icon" (dict "Block" (merge $iconSettings (dict "icon" "menu")) "Page" $page) -}}</span>
      <span class="nav__button-text">Menu</span>
    </button>

    <!-- MENUS -->
    <div id="global-menu" aria-hidden="true" class="nav__menu">
      <ul class="nav__primary-items">
        {{- range .Site.Menus.primary_nav -}}
          {{- partial "blocks/global-header/menu-item" (dict "Block" . "Page" $page) -}}
        {{- end -}}
      </ul>
      <!-- Top navigation section -->
      <div class="nav__secondary-nav">
        <ul class="nav__secondary-items" id="secondary-menu" aria-hidden="true">
          {{- range .Site.Menus.secondary_nav -}}
            {{- partial "blocks/global-header/menu-item" (dict "Block" . "Page" $page) -}}
          {{- end -}}
        </ul>
      </div>
    </div>

    <!-- SIGN IN BUTTON -->
    <a class="nav__button nav__button--sign-in" href="{{- $page.Site.Params.links.signin -}}">
      <span class="nav__button-icon">
        {{- partial "blocks/icon/icon" (dict "Block" (merge $iconSettings (dict "icon" "user")) "Page" $page) -}}
      </span>
      <span class="nav__button-text">Sign-in</span>
    </a>

    <!-- SEARCH BUTTON -->
    <!-- <button class="nav__button nav__button--search" id="search-toggle" aria-label="Show data search bar" {{- if ne .Kind `home` -}} aria-expanded="false" aria-controls="nav-search-bar" {{- end -}}> -->
    <!-- <span class="nav__button-icon nav__button-icon--close"> -->
    <!-- {{- partial "blocks/icon/icon" (dict "Block" (merge $iconSettings (dict "icon" "x")) "Page" $page) -}} -->
    <!-- </span> -->
    <!-- <span class="nav__button-icon nav__button-icon--search"> -->
    <!-- {{- partial "blocks/icon/icon" (dict "Block" (merge $iconSettings (dict "icon" "search")) "Page" $page) -}} -->
    <!-- </span> -->
    <!-- <span class="nav__button-text"> -->
    <!-- Find Data -->
    <!-- </span> -->
    <!-- </button> -->

  </nav>
</header>
