{{ $currentPage := . }}

<header class="global-header{{ if eq .Kind `home` }} global-header--homepage{{end}}" id="global-header">
  <nav class="toplevel-nav">
    
      <!-- LOGO & HOME LINK -->
      <a class="toplevel-nav__button toplevel-nav__button--logo" href="{{ .Site.BaseURL }}" >
        <span class="toplevel-nav__button-icon {{ if eq .Kind `home` }}toplevel-nav__button-icon--active{{end}}">
          {{ $logoType := dict (slice "Block" "type") "global-nav" }}
          {{- partial "blocks/logo/logo" $logoType -}}
        </span>
        <span class="toplevel-nav__button-text {{ if eq .Kind `home` }}toplevel-nav__button-text--active{{end}}">Home</span>
      </a>
      
          <!-- SEARCH FORM -->
          <!-- must be placed before the pages menu -->
          {{ if ne .Kind `home` }}
          <div class="toplevel-nav__d1search"
              id="nav-search-bar"
              aria-hidden="true">
          {{ $searchType := (dict "type" "nav") }}
          {{- partial "blocks/d1search/d1search.html" (dict "Block" $searchType) -}}
          </div>
          {{ end }}
      
        <!-- MENU BUTTON -->
        <button class="toplevel-nav__button toplevel-nav__button--menu-toggle"
          id="primary-menu-toggle"
          aria-label="Open primary menu"
          aria-expanded="false"
          aria-controls="primary-menu">
          <span class="toplevel-nav__button-icon">
            {{- partial "icons/menu.svg" . -}}
          </span>
          <span class="toplevel-nav__button-text">Menu</span>
        </button>
        
        <!-- PAGES MENU -->
        <ul class="toplevel-nav__menu" id="primary-menu" aria-hidden="true">
          {{ range .Site.Menus.toplevel }}
          <li class="toplevel-nav__menu-item {{if or ($currentPage.IsMenuCurrent `toplevel` .) ($currentPage.HasMenuCurrent `toplevel` .) }}toplevel-nav__menu-item--active{{end}}">
            <a class="toplevel-nav__menu-link {{if or ($currentPage.IsMenuCurrent `toplevel` .) ($currentPage.HasMenuCurrent `toplevel` .) }}toplevel-nav__menu-link--active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      
      <!-- SEARCH BUTTON-->
      <button class="toplevel-nav__button toplevel-nav__button--search"
              id="search-toggle"
              aria-label="Show data search bar"
              {{ if ne .Kind `home` }}
              aria-expanded="false"
              aria-controls="nav-search-bar"
              {{ end }}
              >
        <span class="toplevel-nav__button-icon">
          {{- partial "icons/search.svg" . -}}
        </span>
        <span class="toplevel-nav__button-text">Find Data</span>
      </button>
      
      
    
  </nav>
</header>
