.menu-item {

  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn       : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix   : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // #{$prefix}- : var( , );

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  text-align: center;
  height    : auto;
  display   : block;
  position  : relative;
  @include desktop {
    margin: .3rem .15rem;
    height: calc(100% - .6rem);
  }

  &:hover {
    #{$bn}__dropdown-icon {
      stroke    : col($c-primary, 5);
      transition: stroke .1s 0s ease-in-out;
    }

    #{$bn}__dropdown-button,
    #{$bn}__link {
      color     : col($c-primary, 5);
      transition: color .1s 0s ease-in-out;
    }
  }

  &__dropdown-icon {
    stroke    : $icon-color;
    margin-top: -2px;
    position  : relative;
    padding   : 0 .2rem;
  }

  &__dropdown-button,
  &__link {
    @include button-reset;
    text-decoration: none;
    color          : col($c-neutral, 1);
    white-space    : nowrap;
    width          : 100%;
    display        : block;
    font-size      : 1.1rem;
    font-weight    : 600;
    line-height    : 3.3125rem;
    letter-spacing : .03em;
    @include desktop {
      padding    : 0 .62rem;
      font-size  : 1.1rem;
      height     : 100%;
      line-height: normal;
      display    : flex;
      align-items: center;
    }
  }
  // link when item is active
  &--active {
    #{$bn}__link {
      color      : white;
      font-weight: 800;
    }
  }

  &__sub-menu {
    padding-inline-start: 0;
    transition          : max-height .25s 0s ease-in-out, opacity .15s 0s ease-in-out;
    @include desktop {
      position        : absolute;
      background-color: col($c-neutral, 1);
      display         : block;
      border-radius   : var(--br-default, 0.25rem);
      box-shadow      : -1px 1px 7px -1px rgba(82,95,127,.11);
      // center the menu
      transform       : translate(-50%, 0);
      left            : 50%;
      padding         : 1rem 1.75rem;
    }
    // closed
    max-height          : 0;
    overflow            : hidden;
    opacity             : 0;
    visibility          : hidden;
    // open
    &[aria-hidden="false"] {
      height    : auto;
      max-height: 1000px;
      opacity   : 1;
      visibility: visible;
      // submenu arrow when menu is open
      & ~ #{$bn}__sub-menu-arrow {
        @include desktop {
          bottom           : -5px;
          transform        : translate(-50%, 0);
          left             : 50%;
          position         : absolute;
          margin           : 0 0 0 -6px;
          width            : 12px;
          height           : 12px;
          -webkit-transform: rotate(45deg);
          transform        : rotate(45deg);
          border-radius    : var(--br-default, 0.25rem) 0 0 0;
          box-shadow       : -3px -3px 5px rgba(82,95,127,.05);
          opacity          : 1;
        }
      }
    }
  }

  &__sub-menu-arrow {
    opacity   : 0;
    transition: opacity .2s 0s ease-in-out;
    background: col($c-neutral, 1);
  }

  &__sub-link {
    margin         : 0;
    font-size      : 1.05rem;
    line-height    : 1.5;
    text-transform : uppercase;
    font-weight    : 500;
    letter-spacing : .03em;
    display        : block;
    text-decoration: none;
    color          : col($c-neutral, 1);
    white-space    : nowrap;
    padding        : .5rem 0;

    &--active {
      color      : white;
      font-weight: 600;
    }
    @include desktop {
      color: var(--c-foreground-on-default, gray);

      &:hover {
        color      : col($c-primary, 6);
        transition : color .1s 0s ease-in-out;
        font-weight: 600;
      }

      &--active {
        color      : col($c-primary, 7);
        font-weight: 600;
      }
    }
  }

  &__sub-item {
    text-align: center;
    height    : auto;
    display   : block;
    position  : relative;
    @include desktop {
      margin: 5px 2px;
      height: auto;
    }
  }

  &--dataone-plus-ad {
    .dataone-plus-logo {
      margin-right: 3px;
      fill        : white;
      height      : 15px;
      width       : 18px;
    }

    &:hover {
      .dataone-plus-logo {
        fill: col($c-primary, 5);
      }
    }

    .pill {
      margin-left: 3px;
    }

    #{$bn}__sub-menu {
      background-image: radial-gradient(#14A2A7 0%, #0E8E9A 18%, #1E628A 67%, #1B435D 100%);
    }

    #{$bn}__sub-menu-arrow {
      background-color: #20628A;
    }
  }
}
