<!-- ================================================================= -->
<!-- Common variables -->

<!-- In order to pass on page parameters from within loops -->
{{- $page := .Page -}}
<!-- Block name -->
{{- $bn := "demo" -}}
<!-- Classes to add to the outer-most element -->
{{- $classes := $bn -}}

<!-- ================================================================= -->
<!-- All block options -->

<!-- The type of block -->
{{- $type := .Block.type | default "" -}}

<!-- ================================================================= -->
<!-- Other variables -->

<!-- Add type as a modifier class -->
{{- with $type -}}
  {{- $classes = printf "%s %s--%s" $classes $bn ( . | urlize) -}}
{{- end -}}

<!-- ================================================================= -->
<!-- Layout -->

<div class="{{- $classes -}}">
  {{- with $type -}}
    {{- partial (printf "blocks/demo/demo--%s" ( . | urlize )) (dict "Page" $page) -}}
  {{- end -}}
</div>