.feature-detailed {
  // these blocks need more padding on the top and bottom
  margin-top    : 3rem;
  margin-bottom : 4rem;
  @include f-common;
  display       : grid;
  grid-gap      : 2rem;
  grid-auto-rows: min-content;
  color         : col($c-neutral, 7);
  @include desktop {
    grid-template-columns: .45fr .55fr;
    grid-template-rows   : 1fr;
    grid-gap             : 0 1.8rem;
  }

  &__figure {
    margin         : 0;
    display        : flex;
    width          : 80%;
    align-items    : center;
    justify-content: center;
    margin-left    : auto;
    margin-right   : auto;

    .figure__image {
      margin: auto;
    }
  }

  &__description {
    padding-top   : 0;
    display       : flex;
    height        : 100%;
    flex-direction: column;
  }

  &__title-and-intro {
    display        : flex;
    flex-direction : column;
    justify-content: center;
  }

  &__button {
    margin-top: 1rem;
  }

  &__intro {
    @include f-common;
    @include text-link;
    font-size  : 1.25rem;
    line-height: 1.5;
    margin     : 0 0 1rem;
  }

  &__title {
    @include fs-h3;
    color: col($c-neutral, 7);
  }

  &--figleft {
    @include desktop {
      @include desktop {
        grid-template-columns: .55fr .45fr;
      }

      .feature-detailed__figure {
        order: 1;
      }

      .feature-detailed__description {
        order: 2;
      }
    }
  }

  &--figtop {
    @include desktop {
      display       : flex;
      flex-direction: column;
    }

    .feature-detailed__title-and-intro {
      justify-content: flex-start;
    }

    .feature-detailed__button {
      align-self: end;
    }

    .feature-detailed__figure {
      order: 1;
    }

    .feature-detailed__description {
      order          : 2;
      justify-content: space-between;
    }

    .feature-detailed__figure {
      margin-top   : 1rem;
      margin-bottom: 3rem;
      display      : block;
    }
  }

  &--no-image {
    margin-top   : 0;
    margin-bottom: 1rem;
  }

  &--dark-background {
    color      : col($c-secondary, 2);
    text-shadow: .01em .01em 1.1em rgba(col($c-secondary, 8), 1);
    font-weight: 500;

    .feature-detailed__title {
      color         : white;
      font-weight   : 700;
      letter-spacing: .065em;
    }

    .feature-detailed__intro {
      color: col($c-secondary, 2);
    }
  }
}