.feature-detailed {

  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn           : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix       : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // #{$prefix}- : var( , );

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  // these blocks need more padding on the top and bottom
  margin-top    : 3rem;
  margin-bottom : 4rem;
  display       : grid;
  grid-gap      : 2rem;
  grid-auto-rows: min-content;
  color         : var(--section-fc-body, grey);
  @include desktop {
    grid-template-columns: .45fr .55fr;
    grid-template-rows   : 1fr;
    grid-gap             : 0 1.8rem;
  }

  &__figure {
    margin         : 0;
    display        : flex;
    width          : 80%;
    align-items    : center;
    justify-content: center;
    margin-left    : auto;
    margin-right   : auto;

    .figure__image {
      margin: auto;
    }
  }

  &__description {
    padding-top   : 0;
    display       : flex;
    height        : 100%;
    flex-direction: column;
  }

  &__title-and-intro {
    display        : flex;
    flex-direction : column;
    justify-content: center;
  }

  &__button {
    margin-top: 1rem;
  }

  &__intro {
    @include f-common;
    font-size  : var(--fs-large, 1.22rem);
    line-height: 1.5;
    margin     : 0 0 1rem;
  }

  &__title {
    @include fs-h3;
    color: var(--section-fc-title, black);
  }

  &--figleft {
    @include desktop {
      @include desktop {
        grid-template-columns: .55fr .45fr;
      }

      .feature-detailed__figure {
        order: 1;
      }

      .feature-detailed__description {
        order: 2;
      }
    }
  }

  &--figtop {
    @include desktop {
      display       : flex;
      flex-direction: column;
    }

    .feature-detailed__title-and-intro {
      justify-content: flex-start;
    }

    .feature-detailed__button {
      align-self: flex-start;
    }

    .feature-detailed__figure {
      order: 1;
    }

    .feature-detailed__description {
      order          : 2;
      justify-content: space-between;
    }

    .feature-detailed__figure {
      margin-top   : 1rem;
      margin-bottom: 3rem;
      display      : block;
    }
  }

  &--no-image {
    margin-top   : 0;
    margin-bottom: 1rem;
  }

}
