
.feature-detailed {
  
  @include f-common;
  
  display: flex;
  flex-direction: column;
  display: grid;
  grid-gap: $intra-section-spacing;
  grid-auto-rows: min-content;
  
  @include desktop {
    display: grid;
    grid-template-columns: .8fr .5fr;
    grid-template-rows: 1fr;
    grid-gap: 0 $grid-gap;
  }
  
  &__figure {
    
    margin: 0;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    
    // TODO - make these image modifiers in the image block instead
    .figure__image {
      box-shadow: 35px 65px 125px -23px rgba(0,44,56,.2), 22.3px 35px 70px -40px rgba(0,44,56,.3);
      -webkit-transform: scale(1.2) perspective($breakpoint) rotateY(-12deg) rotateX(1deg) rotate(1deg) translateZ(-100px);
      transform: scale(1.2) perspective($breakpoint) rotateY(-12deg) rotateX(1deg) rotate(1deg) translateZ(-100px); // translatez to fix safari bug
      border-radius: 4px;
      max-height: 350px;
      margin: auto auto;
      border-radius: 4px;
      overflow: hidden;
    }
  }
  
  &__description{

    padding-top: 0;
    display: grid;
    grid-gap: calc(0.5*#{$intra-section-spacing});
    grid-auto-rows: auto;
    height: 100%;
    
  }
  
  &__button{
    align-self: end;
  }
  
  &__intro{
    
    font-size: $fs-larger;
    line-height: 1.5;
    font-weight: 300;
    margin: 0;
    @include text-link;
  }
  
  &__title{
    
    font-size: $fs-h3;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--col-title);
    font-weight: 500;
    margin: 0;
  }
  
  &--figleft{
    
    @include desktop {
      .feature-detailed__figure {
        order: 1;
      }
      .feature-detailed__description{
        order: 2;
      }
    }
    
    .feature-detailed__figure{
      .figure__image{
        -webkit-transform: scale(1.2) perspective($breakpoint) rotateY(12deg) rotateX(1deg) rotate(1deg) translateZ(-100px); // translatez to fix safari bug;
        transform: scale(1.2) perspective($breakpoint) rotateY(12deg) rotateX(-1deg) rotate(-1deg) translateZ(-100px); // translatez to fix safari bug;
        box-shadow: -10px 25px 125px -23px rgba(0,44,56,.2), -22px 35px 75px -40px rgba(0,44,56,.3);
      }
    }
    
  }
  
  &--figtop{
    @include desktop {
      display: flex;
      flex-direction: column;
    }
    .feature-detailed__figure {
      order: 1;
    }
    .feature-detailed__description{
      order: 2;  
      
    }
    
    .feature-detailed__figure{
      margin-bottom: calc(1.5*#{$intra-section-spacing});
      .figure__image{
        -webkit-transform: none;
        transform: none;
        box-shadow: 0 40px 100px -20px rgba(0,44,56,.2), 0 25px 85px -30px rgba(0,44,56,.3);
        height: auto;
        width: 100%;
        max-width: 400px;
        max-height: none;
        min-height: none;
        margin-top: 1rem;
        margin-bottom: 0;
        border-radius: 4px;
        overflow: hidden;
      }
    }

  }

}
