<!-- in order to pass on page parameters from within loops  -->
{{ $page := .Page }} 

<!-- Don't add a class for the default type -->
<div class="feature-detailed{{ if (ne .Block.type `right`) }} feature-detailed--fig{{ .Block.type }}{{ end }}">
  <div class="feature-detailed__description">
    <h3 class="feature-detailed__title">{{ .Block.headline }}</h3>
    <p class="feature-detailed__intro">{{ .Block.text | markdownify }}</p>
    {{- with .Block.details -}}
    <div class="feature-detailed__details">
      {{- range . -}}
        {{- if and .name .text -}}
          {{- partial "blocks/item-with-icon/item-with-icon" (dict "Block" . "Page" $page) -}}
        {{- end -}}
      {{- end -}}
    </div>
    {{- end -}}
    {{ if and (partial "functions/hasValues" .Block.button) (ne .Block.button.text "") (ne .Block.button.text " ") }}
      <div class="feature-detailed__button">
      {{- partial "blocks/button/button" (dict "Block" .Block.button "Page" $page) -}}
      </div>
    {{- end -}}
  </div>
  <div class="feature-detailed__figure">
    {{- with .Block.figure }}
      {{ $svgpath := path.Join "svg" . }}
      {{ $svgpath := printf "%s.svg" $svgpath }}
      {{- partial $svgpath -}}
    {{- end -}}
    {{ if and (partial "functions/hasValues" .Block.image) (ne .Block.image.src "") (ne .Block.image.src " ") }}
      {{- partial "blocks/image/image" (dict "Block" .Block.image "Page" $page) -}}
    {{- end -}}
  </div>
  
</div>
