.webinar-details {

  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn    : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix: "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // #{$prefix}- : var( , );

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;

  // #{$prefix}-icon-color: var(--section-fc-body, gray);

  width  : 100%;
  height : 100%;

  @include desktop {
    padding-top: 10rem;
  }

  &__video {
    display       : grid;
    grid-auto-rows: auto;
    grid-gap      : 2rem;
  }

  &__video-icon {
    stroke      : var(--section-fc-body, gray);
    margin-right: 7px;
  }

  &__video-title {
    @include f-common;
    color: var(--section-fc-body, black);
  }

  &__slides {
    margin-top: 1.6rem;
    text-align: center;
    text-align: -webkit-center;
  }

  &__figure {
    max-width: 350px;
    margin   : 2rem auto;
  }
}
