<!-- in order to pass on page parameters from within loops  -->
{{ $page := .Page }} 


<form class="d1search{{if isset .Block `type` }} d1search--{{ .Block.type }}{{end}}" role="search" onsubmit="searchD1()">
  <input class="d1search__input" type="text" id="search-term" placeholder="What environmental data are you looking for?"/>
  <label class="d1search__label" for="search-term">
    What environmental data are you looking for?
  </label>
  <button type="submit" class="d1search__button button button--primary button--search">
    <span class="d1search__button-text">Search</span>
    <span class="d1search__button-icon">{{- partial "icons/search.svg" . -}}</span>
  </button>
</form>
