<!-- in order to pass on page parameters from within loops  -->
{{ $page := .Page }} 
{{ $buttonParams := dict "text" "search" "icon" "search" "type" "secondary" "class" "search" "htmlTag" "button" "buttontype" "submit"}}

{{ $classes := "" }}
{{ with .Block.type }}
  {{ $classes = print $classes " d1search--" . }}
{{end}}

<form class="d1search{{ $classes }}" role="search" onsubmit="searchD1()">
  <input class="d1search__input" type="text" id="search-term" placeholder="What environmental data are you looking for?"/>
  <label class="d1search__label" for="search-term">
    What environmental data are you looking for?
  </label>
  {{ partial "blocks/button/button" (dict "Block" $buttonParams "Page" $page)}}
</form>
