.d1search {
  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn                 : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix             : "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // #{$prefix}-c-foreground: var(--section-fc-body, var(--c-foreground-on-default, black));
  // #{$prefix}-c-accent    : var(--section-c-accent, var(--c-accent-major, grey));
  // #{$prefix}-c-form-field: var(--section-c-background-lighter, var(--c-default-lighter, white));

  $label-size         : 1.3rem;
  $input-height       : $label-size * 2.6;
  $border-radius      : var(--br-default, 0.2rem);
  $padding-above-input: 1.5rem;
  $focus-y-change     : .5px;

  width               : 100%;
  display             : flex;
  flex-direction      : column;
  align-items         : center;

  @include desktop {
    width: 70%;
  }

  // Any styles set by form-field-styles can be overwritten by `floating label`
  &__input {
    @include form-field-styles;
  }

  @include floating-label("this", "&__input", "&__label", $label-size: $label-size, $top-padding: $padding-above-input, $padding-field-top-and-bottom: .9rem);

  // These styles should overwrite those set by `floating-label` mixin
  &__input {
    width        : 100%;
    height       : $input-height;
    // Keep space for the button on the right of the search field.
    padding-right: $input-height;
  }

  &__button {

    margin-top: 1rem;

    @include desktop {
      position  : absolute;
      top       : $padding-above-input;
      right     : -0.2rem;
      height    : $input-height;
      width     : $input-height;
      transition: all .15s ease;
      margin-top: 0;
    }

  }

  // Button when the input is focused
  &__input:focus ~ #{$bn}__button {
    // transition to match the focus style of the input element
    @include desktop {
      transform    : translateY(-0.4px);
      filter: brightness(1.01);
      border-bottom: 1.5px solid var(--section-c-accent, var(--c-major-accent-on-default, grey));
    }
  }
}
