.datetime {

  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn    : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix: "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // #{$prefix}- : var( , );

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  color  : inherit;

  &__displaydate {
    font-weight: 400;
  }

  &__timezone {
    font-size  : .9rem;
    font-weight: 300;
  }
}

.datetime--bold {
  color         : var(--section-c-accent, black);
  text-transform: uppercase;
  letter-spacing: .03em;

  .datetime__displaydate {
    font-weight: 600;
    font-size  : 1.05rem;
  }
}

.datetime__button[aria-expanded="true"],
.datetime__tz-input,
.datetime__tz-input input {
  opacity   : 0;
  visibility: hidden;
  width     : 0;
  min-width : 0;
  max-width : 0;
  transition: max-width .1s 0s ease-in-out, opacity .02s .1s ease-in-out;
}

.datetime__tz-input[aria-hidden="false"],
.datetime__tz-input[aria-hidden="false"] input,
.datetime__button[aria-expanded="false"] {
  max-width : 500px;
  min-width : 135px;
  width     : auto;
  opacity   : 1;
  visibility: visible;
}

.tz-input-dropdown-menu {
  min-width: 375px;
}

.ap-suggestion-icon g,
.ap-suggestion-icon svg {
  stroke: none;
  fill  : var(--section-c-foreground-subtle, grey);
}

.datetime__tz-input {
  @include f-common;
  @include forms-text-input;
}

.tz-input-dropdown-menu {
  width           : 100%;
  color           : var(--section-fc-body, grey);
  background-color: var(--section-c-background-lighter, white);
  border          : 1px solid var(--section-c-background-lighter, white);
  border-top      : none;
  border-radius   : var(--br-default, 0.25rem);
  padding         : .5rem;
  box-shadow      : 1px 1px 32px -10px rgba(0,0,0,0.62);
}

.tz-input-dropdown-menu .tz-input-suggestion {
  cursor       : pointer;
  padding      : 5px 4px 5px 10px;
  border-radius: 2px;
  line-height  : 1.9;
}

.tz-input-suggestion:hover {
  background-color: var(--section-c-accent-very-subtle, lightgray);

  g,
  svg {
    fill  : var(--section-c-accent, black);
    stroke: none;
  }

  .ap-address,
  .tz-abbreviation {
    color: var(--section-c-accent, black);
  }
}

.ap-address,
.tz-abbreviation {
  font-size  : smaller;
  margin-left: 12px;
  color      : var(--section-c-foreground-subtle, grey);
}

.tz-input-dropdown-menu .tz-input-suggestion em {
  font-weight: bold;
  font-style : normal;
  color      : var(--section-fc-title, black);
}

.tz-input-header {
  font-weight   : 600;
  font-size     : 1rem;
  text-transform: uppercase;
  letter-spacing: .05em;
  color         : var(--section-c-background-darker-2, black);
  margin        : .7rem 0;
}

.ap-footer,
.ap-footer-algolia svg g path:nth-of-type(2n+1),
.ap-footer-osm svg path {
  stroke: none;
  color : var(--section-c-foreground-very-subtle, grey);
  fill  : var(--section-c-foreground-very-subtle, grey);
}
