{{ $p := .Params.prefix }}

.{{ $p }}datetime {

  // ==========================================================================
  //    Variables
  // ==========================================================================

  // Allow the block's base class to be used at all scopes within the block.
  // (bn = block name), use as: #{$bn}. 
  $bn    : &;
  // Use the block's base class as a variable prefix (remove class selector . )
  $prefix: "--" + str-replace(#{$bn}, ".");

  // Variables specific to this block, based on varibles set at higher scope
  // (e.g. .section), such that blocks can be themed from a higher level.
  // The value may change in modified blocks or elements (i.e. block--modifier).
  // Always use css variables along with a default value to maintain the block's
  // independence & modularity (a la BEM).

  // #{$prefix}- : var( , );

  // ==========================================================================
  //    Styles
  // ==========================================================================

  @include f-common;
  color  : inherit;
  position: relative;

  &__displaydate {
    font-weight : var(--fw-normal, 400);
  }

  &__timezone {
    font-size : var(--fs-smaller, 0.9rem);
    font-weight : var(--fw-light, 300);
  }

  &__tz-input-container{
    display: inline;
  }

  button[aria-expanded="true"],
  &__tz-input,
  &__tz-input input {
    opacity   : 0;
    visibility: hidden;
    width     : 0;
    min-width : 0;
    max-width : 0;
    transition: max-width .1s 0s ease-in-out, opacity .02s .1s ease-in-out;
  }

  &__tz-input[aria-hidden="false"],
  &__tz-input[aria-hidden="false"] input,
  button[aria-expanded="false"] {
    max-width : 500px;
    min-width : 135px;
    width     : auto;
    opacity   : 1;
    visibility: visible;
  }
  
  &--bold {
    color         : var(--section-c-accent, black);
    text-transform: uppercase;
    letter-spacing: .03em;

    #{$bn}__displaydate {
      font-weight : var(--fw-bold, 500);
      font-size : var(--fs-medium, 1.1rem);
    }
  }
  
  &--inherit {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    
    #{$bn}__displaydate {
      font-weight : inherit;
    }

    &__timezone {
      font-size : inherit;
      // font-weight : inherit;
    }
  }

}

