name: Trigger Netlify Build
on:
  push:
    branches:
    - preview
  schedule:
    - cron: '00 11 * * *'
jobs:
  update_preview:
    runs-on: macos-latest
    name: Request Netlify Webhook
    steps:
      - name: Count commits over last 24 hours
        shell: bash
        env: 
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
              curl -sL -u username:$GH_TOKEN "https://api.github.com/repos/$GITHUB_REPOSITORY/commits?sha=preview&since=`date -v -1d -u +'%FT%T.%2Z'`" > $HOME/commit.json
              echo $(head -n 10 $HOME/commit.json)
              numcommits="$(jq '. | length' $HOME/commit.json)"
              echo "Number of commits : $numcommits"
              if [ $numcommits -gt 0 ]; then
                echo ::set-env name=UPDATES::true
              fi
      - name: Trigger build of preview branch webhook on Netlify
        if: env.UPDATES == 'true'
        env:
          NETLIFY_PREVIEW: ${{ secrets.NETLIFY_PREVIEW }}
        run: curl -X POST https://api.netlify.com/build_hooks/$NETLIFY_PREVIEW
